@import "variables/variable";

body{


//共通ダイアログ
.ui-popup-screen.in{
    opacity: $OPACITY_DIALOG_MASK;
}

.ui-overlay-b{
    background-color:$COLOR_DIALOG_MASK;   
}

.common-dialog{
    text-shadow: none;
    font-family:$FONT_WEIGHT_DIALOG_TEXT;
    height:$SIZE_DIALOG_HEIGHT;
    width:$SIZE_DIALOG_WIDTH;
    color:$COLOR_DIALOG_TEXT;
    background:$COLOR_DIALOG_BACKGROUND;
    border-radius:0;
    border:none;
    max-width:none;
    box-shadow:none;
    -webkit-box-shadow:none;

    .spinner-dialog{
        height:$SIZE_DIALOG_HEIGHT;
        padding:0;
        -webkit-box-pack:inherit;

        p{
            word-wrap:break-word;
            font-size:$FONT_SIZE_DIALOG_TEXT;
            font-family:$FONT_WEIGHT_DIALOG_TEXT;
            width:$SIZE_DIALOG_TEXT_WIDTH;
            margin-right:$SIZE_DIALOG_TEXT_MARGIN_RIGHT;
            margin-left:0px;
            margin-top:0px;
            margin-bottom:0px;
        }
    }

    #common-dialog-center-spinner{
        position:relative;
        height:$SIZE_DIALOG_ICON_HEIHGT;
        width:$SIZE_DIALOG_ICON_WIDTH;
        margin-left:$SIZE_DIALOG_ICON_MARGIN_LEFT;
        margin-right:$SIZE_DIALOG_ICON_MARGIN_RIGHT;
        -webkit-box-align: center;
        background-image:$PATH_IMG_DIALOG_SPINNER;
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #simple-dialog-image{
        position:relative;
        height:$SIZE_DIALOG_ICON_HEIHGT;
        width:$SIZE_DIALOG_ICON_WIDTH;
        margin-left:$SIZE_DIALOG_ICON_MARGIN_LEFT;
        margin-right:$SIZE_DIALOG_ICON_MARGIN_RIGHT;
        -webkit-box-align: center;
        background-image:$PATH_IMG_DIALOG_DONE_ICON;
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }

	
}

#about-dialog-area{

	.title{
		font-family:$FONT_FAMILY_ABOUT_TITLE;
		font-size:$FONT_SIZE_ABOUT_TITLE;
		text-align:center;
	}

	#about-info-box{
		display:flex;
		margin-top:$SIZE_ABOUT_INFO_BOX_MARING_TOP;
		margin-bottom:$SIZE_ABOUT_INFO_BOX_MARING_BOTTOM;

		#about-logo{
			background-image:$PATH_IMG_SPLASH_HUIS_LOGO;
			background-position:center;
			background-repeat: no-repeat;
			background-size: contain;
			width:$SIZE_ABOUT_LOGO_WIDTH;
			height:$SIZE_ABOUT_LOGO_HEIGHT;
			margin-right:$SIZE_ABOUT_LOGO_MARING_RIGHT;
			margin-left:$SIZE_ABOUT_LOGO_MARING_LEFT;
		}
		.info-box{
			font-size:$FONT_SIZE_ABOUT_INFO;

			#about-app-name{
				font-size:$FONT_SIZE_ABOUT_APP_NAME;
				font-family:$FONT_FAMILY_ABOUT_APP_NAME;
				color:$COLOR_ABOUT_DIALOG_TEXT_APP_NAME;
			}
		}
	}

	

	overflow-y:auto;
	overflow-x:hidden;
	text-shadow: none;
	font-family:$FONT_WEIGHT_DIALOG_TEXT;
	width:$SIZE_DIALOG_WIDTH;
	box-shadow:none;
	-webkit-box-shadow:none;
	text-shadow: none;
	border-radius:0;
	background:$COLOR_ABOUT_DIALOG_BACKGROUND;
	height:$SIZE_ABOUT_DIALOG_HEIGHT;
	border:$SIZE_ABOUT_DIALOG_TEXT_THICKNESS solid $COLOR_ABOUT_DIALOG_BORDER;

	padding-top:$SIZE_ABOUT_DIALOG_MARGIN_TOP;
	padding-bottom:$SIZE_ABOUT_DIALOG_MARGIN_BOTTOM;
	padding-right:$SIZE_ABOUT_DIALOG_MARGIN_RIGHT;
	padding-left:$SIZE_ABOUT_DIALOG_MARGIN_LEFT;
		
	.common-dialog{
		background:none;
			
		.about-dialog{
			color:$COLOR_ABOUT_DIALOG_TXET;
				
			.separator{
				margin-top:$SIZE_ABOUT_SEPARATOR_MARGIN_TOP;
				margin-bottom:$SIZE_ABOUT_SEPARATOR_MARGIN_BOTTOM;
				border-bottom:$SIZE_ABOUT_SEPARATOR_THICKNESS solid $COLOR_ABOUT_SEPARATOR;
			}

			.text-area{
				p{
					color:$COLOR_ABOUT_DIALOG_TXET;
				}
			}
		}	
	}
	
}

}