@import "variables/variable";

body{


//共通ダイアログ
.ui-popup-screen.in{
    opacity: $OPACITY_DIALOG_MASK;
}

.ui-overlay-b{
    background-color:$COLOR_DIALOG_MASK;   
}

.common-dialog{
    text-shadow: none;
    font-family:$FONT_WEIGHT_DIALOG_TEXT;
    height:$SIZE_DIALOG_HEIGHT;
    width:$SIZE_DIALOG_WIDTH;
    color:$COLOR_DIALOG_TEXT;
    background:$COLOR_DIALOG_BACKGROUND;
    border-radius:0;
    border:none;
    max-width:none;
    box-shadow:none;
    -webkit-box-shadow:none;

    .spinner-dialog{
        height:$SIZE_DIALOG_HEIGHT;
        padding:0;
        -webkit-box-pack:inherit;

        p{
            word-wrap:break-word;
            font-size:$FONT_SIZE_DIALOG_TEXT;
            font-family:$FONT_WEIGHT_DIALOG_TEXT;
            width:$SIZE_DIALOG_TEXT_WIDTH;
            margin-right:$SIZE_DIALOG_TEXT_MARGIN_RIGHT;
            margin-left:0px;
            margin-top:0px;
            margin-bottom:0px;
        }
    }

    #common-dialog-center-spinner{
        position:relative;
        height:$SIZE_DIALOG_ICON_HEIHGT;
        width:$SIZE_DIALOG_ICON_WIDTH;
        margin-left:$SIZE_DIALOG_ICON_MARGIN_LEFT;
        margin-right:$SIZE_DIALOG_ICON_MARGIN_RIGHT;
        -webkit-box-align: center;
        background-image:$PATH_IMG_DIALOG_SPINNER;
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #simple-dialog-image{
        position:relative;
        height:$SIZE_DIALOG_ICON_HEIHGT;
        width:$SIZE_DIALOG_ICON_WIDTH;
        margin-left:$SIZE_DIALOG_ICON_MARGIN_LEFT;
        margin-right:$SIZE_DIALOG_ICON_MARGIN_RIGHT;
        -webkit-box-align: center;
        background-image:$PATH_IMG_DIALOG_DONE_ICON;
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

#about-dialog-area{

    .title{
        font-family:$FONT_FAMILY_ABOUT_TITLE;
        font-size:$FONT_SIZE_ABOUT_TITLE;
        text-align:center;
    }

    #about-info-box{
        display:flex;
        margin-top:$SIZE_ABOUT_INFO_BOX_MARING_TOP;
        margin-bottom:$SIZE_ABOUT_INFO_BOX_MARING_BOTTOM;

        #about-logo{
            background-image:$PATH_IMG_SPLASH_HUIS_LOGO;
            background-position:center;
            background-repeat: no-repeat;
            background-size: contain;
            width:$SIZE_ABOUT_LOGO_WIDTH;
            height:$SIZE_ABOUT_LOGO_HEIGHT;
            margin-right:$SIZE_ABOUT_LOGO_MARING_RIGHT;
            margin-left:$SIZE_ABOUT_LOGO_MARING_LEFT;
        }
        .info-box{
            font-size:$FONT_SIZE_ABOUT_INFO;

            #about-app-name{
                font-size:$FONT_SIZE_ABOUT_APP_NAME;
                font-family:$FONT_FAMILY_ABOUT_APP_NAME;
                color:$COLOR_ABOUT_DIALOG_TEXT_APP_NAME;
            }
        }
    }

    

    overflow-y:auto;
    overflow-x:hidden;
    text-shadow: none;
    font-family:$FONT_WEIGHT_DIALOG_TEXT;
    width:$SIZE_DIALOG_WIDTH;
    box-shadow:none;
    -webkit-box-shadow:none;
    text-shadow: none;
    border-radius:0;
    background:$COLOR_ABOUT_DIALOG_BACKGROUND;
    height:$SIZE_ABOUT_DIALOG_HEIGHT;
    border:$SIZE_ABOUT_DIALOG_TEXT_THICKNESS solid $COLOR_ABOUT_DIALOG_BORDER;

    padding-top:$SIZE_ABOUT_DIALOG_MARGIN_TOP;
    padding-bottom:$SIZE_ABOUT_DIALOG_MARGIN_BOTTOM;
    padding-right:$SIZE_ABOUT_DIALOG_MARGIN_RIGHT;
    padding-left:$SIZE_ABOUT_DIALOG_MARGIN_LEFT;
        
    .common-dialog{
        background:none;
            
        .about-dialog{
            color:$COLOR_ABOUT_DIALOG_TXET;
                
            .separator{
                margin-top:$SIZE_ABOUT_SEPARATOR_MARGIN_TOP;
                margin-bottom:$SIZE_ABOUT_SEPARATOR_MARGIN_BOTTOM;
                border-bottom:$SIZE_ABOUT_SEPARATOR_THICKNESS solid $COLOR_ABOUT_SEPARATOR;
            }

            .text-area{
                p{
                    line-height:$TEXT_HEIGHT_ABOUT_TEXT_LISENCE;
                    font-size:$FONT_SIZE_ABOUT_TEXT_LISENCE;
                    color:$COLOR_ABOUT_DIALOG_TXET;
                }
            }
        }    
    }
    
}

#remotelist-dialog-area{

    .remotelist-dialog{
        background-color: $COLOR_COMMON_BACKGROUND; //★★★★

        .title{ //★★★★
            margin-top:$SIZE_HOME_TITLE_MARGIN_TOP;
            margin-bottom:$SIZE_HOME_TITLE_MARGIN_BOTTOM;
            //text-align: center;
            color: $COLOR_TEXT_MAIN;
            font-size:$FONT_HOME_REMOTE_TITLE;
            font-family: $FONT_FAMILY_HOME_REMOTE_TITLE;
            line-height:$FONT_LINE_HEIGHT_HOME_REMOTE_TITLE;
        }

        #spinner-dialog-spinner-gif{
            width:$SIZE_SPLASH_SPINNER_WIDHT;
            height:$SIZE_SPLASH_SPINNER_HEIHGT;
            margin:0 auto;
            margin-top:$SIZE_SPLASH_SPINNER_MARGIN_TOP;
            background-image: $PATH_IMG_SPLASH_SPINNER;
            background-position:center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        #remotelist-load-message {
            text-shadow:none;
            font-size:$FONT_SIZE_SPLASH_MESSAGE;
            font-family:$FONT_FAMILY_SPLASH_MESSAGE;
            line-height:$TEXT_HEIGHT_DEFAULT;
            color:$COLOR_SPLASH_TEXT;
            text-align:center;
            margin:0 auto;
            margin-top:$SIZE_SPLASH_MESSAGE_MARGIN_TOP;
        }


        #face-list-container {
            overflow-x: overlay;
            overflow-y: hidden;
            height: 500px;
            width: 1000px;
            box-sizing: border-box;

            #face-list {
                position:relative;
                //height: 400px; // tentative
                overflow-y: hidden;
           
                //box-shadow: 0 0 20px #222;
                z-index: 1;
                padding: 0;
                margin: 0;

                #face-list-footer {
                    position: absolute;
                    bottom: 0;
                    width:100%;
                    height:$SIZE_HOME_FOOTOR_HEIGHT;
                    background: $COLOR_HOME_FOOTOR_BACKGROUND;
                    z-index: 1;
                }    

                .face {
                    list-style-type: none;
                    float: left;
                    margin-left:$SIZE_HOME_REMOTE_MARGIN_LEFT;
                    margin-right:$SIZE_HOME_REMOTE_MARGIN_RIGHT;
                    overflow: hidden;
                    width: $SIZE_HOME_REMOTE_WIDTH;

                    .title {
                        margin-top:$SIZE_HOME_TITLE_MARGIN_TOP;
                        margin-bottom:$SIZE_HOME_TITLE_MARGIN_BOTTOM;
                        text-align: center;
                        color: $COLOR_TEXT_MAIN;
                        font-size:$FONT_HOME_REMOTE_TITLE;
                        font-family: $FONT_FAMILY_HOME_REMOTE_TITLE;
                        line-height:$FONT_LINE_HEIGHT_HOME_REMOTE_TITLE;
                    }

                    .face-container{
                        height: 872px; //★★
                        
                        overflow-x: hidden;
                        overflow-y: overlay;
                    }

                    #face-pages-area {
                        width:inherit;
                        font-family: $FONT_FAMILY_NORMAL;
                        overflow-y : hidden;
                        
                    }

                    .face-page{
                        margin-top:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_TOP;
                        margin-right:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT;
                        margin-left:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_LEFT;
                        padding-bottom:$SIZE_HOME_REMOTE_FACE_PAGE_PADDING_BOTTOM;

                        .button-item{
                            border:none;
                        }
                        
                        &.selected{//★★★★
                            border-style: solid;
                            border-width: 4px;
                            border-color: #00C588; 
                            margin-top: 0px;
                            //margin-right: 0px;
                            margin-left: 0px;
                            //margin-bottom: 1px;
                            padding-top: $SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_TOP - 4;
                            padding-right: $SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT - (4 * 2);
                            padding-left: $SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_LEFT - 4;
                            padding-bottom: $SIZE_HOME_REMOTE_FACE_PAGE_PADDING_BOTTOM - 4;
                        }
                        

                        /*
                        #face-page-selector{
                            position: absolute;
                            border-style: solid;
                            border-width: 4px;
                            border-color: #00C588; //★★★★
                            
                        }
                        */
                    }

                    .module-container {
                        overflow: visible;
                    }
                }
            }

            .face-container {
                width:$SIZE_HOME_REMOTE_FACE_CONTAINER_WIDTH;
                transform : scale(0.5);
                transform-origin : left top;
                box-sizing: border-box;
                background-color:$COLOR_HOME_REMOTE_BACKGROUND;
                border : $SIZE_HOME_REMOTE_BORDER_THICKNESS solid $COLOR_HOME_REMOTE_BORDER;
                cursor: pointer;
            }
        }

        .submit-area{
            height: 60px;//★★★

            //共通のテキストボタン
            .ui-btn{
                position: absolute;
                font-family:$FONT_FAMILY_TEXT_BUTTON;
                text-shadow:none;
                margin:0;
                padding:0;
                border:none;
                height:$SIZE_BUTTON_HEIGHT;   
                font-size:$FONT_SIZE_TEXT_BUTTON;
                color:$COLOR_BUTTON_TEXT;
                background-color:$COLOR_BUTTON_NORMAL;
                box-shadow:none;   
                border-radius:0;

                &:hover{
                    text-shadow:none;
                    background-color:$COLOR_BUTTON_HOVER;
                    font-family:$FONT_FAMILY_TEXT_BUTTON;
                    color:$COLOR_BUTTON_TEXT;
                    border:none;
                }

                &:active{
                    text-shadow:none;
                    background-color:$COLOR_BUTTON_PRESED;
                    font-family:$FONT_FAMILY_TEXT_BUTTON;
                    color:$COLOR_BUTTON_TEXT;
                    box-shadow:none;
                    border:none;
                }

                &:focus{
                    text-shadow:none;
                    box-shadow:none;
                    border:none;
                }
            }
          
            #remotelist-button-ok{
                width: $SIZE_BUTTON_ADD_PAGE_WIDTH;
                height: $SIZE_BUTTON_ADD_PAGE_HEIGHT;
                right: 150px;
                bottom:$SIZE_BUTTON_ADD_PAGE_BOTTOM;
                font-size: $FONT_SIZE_ADD_PAGE_BUTTON; 
            }
          
            #remotelist-button-cancel{
                width: $SIZE_BUTTON_ADD_PAGE_WIDTH;
                height: $SIZE_BUTTON_ADD_PAGE_HEIGHT;
                right:$SIZE_BUTTON_ADD_PAGE_RIGHT;
                bottom:$SIZE_BUTTON_ADD_PAGE_BOTTOM;
                font-size: $FONT_SIZE_ADD_PAGE_BUTTON; 
            }
        }
    }
}

}