@import "variables/variable";

#face-canvas {
    position: relative;
    width: $SIZE_CANVAS_WIDTH;
    height: $SIZE_CANVAS_HEIGHT;
    box-sizing: border-box;

    #face-pages-area {
        width : $SIZE_FACE_PAGES_AREA_WIDTH;
        height: $SIZE_FACE_PAGES_AREA_HEIGHT;
        margin-top :$SIZE_FACE_PAGES_AREA_MARING_TOP;
    }

    .image-item.item.background { // Gridを背景画像をの前に持ってくるため z-index を -10にした
        position: absolute;
        z-index: -10;
    }

}

#face-canvas-inner {
    position:relative;
    padding: $SIZE_CANVAS_INNER_PADDING_TOP $SIZE_CANVAS_INNER_PADDING_LEFT 0 $SIZE_CANVAS_INNER_PADDING_RIGHT;
}

#face-name-area {
    position: relative;
    width: $SIZE_FACE_NAME_AREA_WIDTH;
    //height: $SIZE_FACE_NAME_AREA_HEIGHT;
    margin: 0 auto;

    #input-face-name {
        background-clip: padding-box;
        background : none;
        border-color :$COLOR_NAME_AREA_BORDER;

        width: 100%;
        text-align:center;
        font-size: $FONT_SIZE_CANVAS_NAME_AREA;
        font-weight:$FONT_WEIGHT_BUTTON_ITEM;

        &:hover{
            border : $SIZE_FORM_BORDER_THICKNESS solid $COLOR_FORM_BORDER_HOVER;
            background-color:$COLOR_FORM_BACKGROUND;
        }

        &:focus{
            background-color:$COLOR_FORM_BACKGROUND;
            padding-left:$SIZE_FORM_PADDING_LEFT_FOCUS;
            padding-right:$SIZE_FORM_PADDING_RIGHT_FOCUS;
            outline:none;
            border : $SIZE_FORM_BORDER_THICKNESS_FOCUS solid $COLOR_FORM_BORDER_FOUCS;
        }      
    }
}

#face-pages-area {
    position: relative;
    width: 480px;
    overflow-x: hidden;
    overflow-y: overlay;
}

.face-page {
    width:$SIZE_FACE_PAGE_WIDTH;
    height:$SIZE_FACE_PAGE_HEIGHT;
    border-bottom: $SIZE_FACE_PAGE_SEPARATOR_BOARDER_THICKNESS solid $COLOR_FACE_PAGE_SEPARATOR_BOARDER;
    color: black;
}



.face-page:last-child {
    border: 0;
}

.module-container {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
}

#page-count {
    margin: 0 8px;
    text-align:center;
    color: #333333;
    font-size: 20px;
    visibility:hidden;
}

#button-add-page {
    position: absolute;
    width: $SIZE_BUTTON_ADD_PAGE_WIDTH;
    height: $SIZE_BUTTON_ADD_PAGE_HEIGHT;
    right:$SIZE_BUTTON_ADD_PAGE_RIGHT;
    bottom:$SIZE_BUTTON_ADD_PAGE_BOTTOM;
    font-size: $FONT_SIZE_ADD_PAGE_BUTTON;    
}

.button-item {
    position: absolute;
    border: 2px solid #bbb;
}

.label-item,
.state-label {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    text-shadow: none;
}

.label-item{
    font-weight:$FONT_WEIGHT_LABEL_ITEM;
}

.state-label {
    font-weight:$FONT_WEIGHT_BUTTON_ITEM;
}

.label-value,
.state-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.image-item,
.state-image {
    position: absolute;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-cover {
    background-size: cover;
}

.image-stretch {
    background-size:100% 100%;
}

.button-state {
    display: none;
}

.button-state.active {
    display:block;
}

.selected-item {
    box-shadow: 0 0 10px black;
}