@import "variable";

#page-full-custom {
    #main {
        position: relative;
        overflow: overlay;
    }

    #face-edit-area {
        position: absolute;
        //background-color: #88ff88;

        #face-canvas-area {
            background-image : $PATH_IMG_CANVAS_AREA;
            background-color :none;
            position: absolute;
            width: $SIZE_CANVAS_AREA_WIDTH;
            height: $SIZE_CANVAS_AREA_HEIGHT;
            top: $SIZE_CANVAS_AREA_MARGIN_TOP;

            //box-shadow: 0 0 50px rgba(0,0,0,0.8);

            #face-canvas {
                transform: scale(0.5);
                transform-origin: left top;

                .item {
                    cursor: move;
                    border :$SIZE_CANVAS_ITEM_BORDER_THICKNESS solid $COLOR_CANVAS_ITEM_BORDER;
                    margin:-$SIZE_CANVAS_ITEM_BORDER_THICKNESS;

                    &.selected {
                        border :$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED solid $SIZE_CANVAS_ITEM_BORDER_SELECTED;
                        margin:-$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED;
                        z-index: 100;
                    }
                    &.disabled {
                        display: none;
                    }
                    &.background {
                        cursor: default;
                    }
                }

                .item-resizer {
                    position: absolute;
                    box-sizing:border-box;
                    width: $SIZE_CANVAS_ITEM_RESIZER_WIDTH;
                    height: $SIZE_CANVAS_ITEM_RESIZER_HEIGHT;
                    border: $SIZE_CANVAS_ITEM_RESIZER_THICKNESS solid $COLOR_LIGHT_GREEN;

                    background-color: $SIZE_CANVAS_ITEM_BACKGROUND;

                    &.left-top {
                        cursor:nw-resize;
                    }
                    &.right-top {
                        cursor:ne-resize;
                    }
                    &.right-bottom {
                        cursor: se-resize;
                    }
                    &.left-bottom {
                        cursor: sw-resize;
                    }
                }

                .face-page{
                    margin-left:$SIZE_CANVAS_FACE_PAGE_MARGIN_LEFT;
                    margin-top:$SIZE_CANVAS_FACE_PAGE_MARGIN_TOP;
                    margin-bottom:$SIZE_CANVAS_FACE_PAGE_MARGIN_BOTTOM;
                }

                
            }
        }

        #face-item-detail-area {
            overflow: auto;
            //visibility: hidden;
            position: absolute;
            width: $SIZE_PROPATY_AREA_WIDTH;
            height: $SIZE_PROPATY_AREA_HEIGHT;
            top: $SIZE_PROPATY_AREA_MARGIN_TOP;
            background-color: $COLOR_PROPATY_AREA_BACKGROUND;
            border : $SIZE_PROPATY_AREA_BORDER_THICKNESS solid $COLOR_PROPATY_AREA_BORDER;
            //box-shadow: 0 0 30px rgba(0,0,0,0.8);

            &.active {
                opacity: 1;
            }
        }

        #face-item-detail {
            padding: 8px;
            text-shadow: none;
            font-size: 14px;
            color: #222;

            div {
                margin: 0;
            }

            p {
                margin: 4px 0;
            }

            h3 {
                font-size: 1.4em;
                margin: 5px 10px 0 10px;

                span.property-cid {
                    font-weight: normal;
                    font-size: 0.7em;
                    padding-left: 10px;
                    color: #555;
                }
            }

            input.priperty-value {
                width: 100%;
            }
            input.priperty-value.page-background-src {
                width: calc(100% - 70px);
            }
            #delete-background-image {
                margin-left: 4px;
            }

            h4 {
                margin:16px 0 2px 0;
                font-size: 1.15em;
            }

            h5 {
                font-size: 1.1em;
                font-weight: normal;
                margin: 12px 0 2px 0;
            }

            hr {
                margin-bottom: 1em;
            }

            select {
                max-width: calc(95% - 10px);
            }

            .inline {
                display: inline-block;
            }

            .property-title {
                display: inline-block;
                font-weight: bold;
                width: 80px;
            }
            input.property-value {
                width: calc(100% - 20px);
            }

            #property-image-preview,
            .property-state-image-preview {
                position:relative;
                background-position:center;
                background-repeat: no-repeat;
                background-size: contain;
                width:160px;
                height: 160px;
                left: calc((100% - 160px) /2);
                box-shadow: 0 0 10px rgba(128, 255, 128, 0.8);
            }
            /*.property-value {
                min-width: 20px;
                &.middle {
                    width: calc(100% - 100px);
                    min-width: 130px;
                }

                &.small {
                    width: 80px;
                }
            }*/

            /*#property-image-preview,
            .property-state-image-preview {
                .property-value {
                        position:relative;
                        background-position:center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width:160px;
                        height: 160px;
                        left: calc((100% - 160px) /2);
                        box-shadow: 0 0 10px rgba(128, 255, 128, 0.8);
                }
            }*/

            #states-container {
                margin-top: 10px;

                > div {
                    margin-bottom: 10px;
                }
            }
            .state-container {
                padding: 10px;
                background-color: #f8f8f8;
                border: 1px dotted #888;

                h3 {
                    font-size: 1em;
                    margin: 6px 0 0 0;
                }

                h4 {
                    font-size: 1em;
                    margin: 16px 0 0 2px;
                }
                div > h4:first-child {
                    margin: 4px 0 0 2px;
                }

                input.refer-state-image {
                    width: calc(100% - 70px);
                }
                .delete-state-image {
                    margin-left: 4px;
                }

                .property-title, .property-value, label {
                    font-size: 0.95em;
                }
            }
        }
    }

    #face-pallet-area {
        position: absolute;

        width : $SIZE_PALLET_AREA_WIDTH;
        height : $SIZE_PALLET_AREA_HEIGHT;
        margin-top : $SIZE_PALEET_AREA_MARGIN_TOP;
        //background-color: #8888ff;

        #face-item-list-container {
            position: relative;
            overflow: hidden;
            width:$SIZE_FACE_ITEM_LIST_CONTAINER_WIDTH;
            height: $SIZE_FACE_ITEM_LIST_CONTAINER_HEIGHT;
            line-height: $SIZE_FACE_ITEM_LIST_LINE_HEIGHT;
            background-color: $COLOR_FACE_ITEM_LIST_BACKGROUND;

            #face-item-list {
                height: 100%;
                transition: transform 0.2s 0s ease-in-out;
                transform: translateX(16px);

                .face-item {
                    //display: inline-block;
                    position: absolute;
                    height: $SIZE_FACE_ITEM_LIST_ITEM_HEIGHT;
                    padding-left: $SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT;
                    padding-right:$SIZE_FACE_ITEM_LIST_ITEM_PADDING_RIGHT;
                    margin-top:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_TOP;
                    margin-left:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT;
                    margin-right:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_RIGHT;
            
                    color: $COLOR_FACE_ITEM_LIST_TEXT_NORMAL;
                    font-size:$FONT_SIZE_FACE_ITEM_LIST_ITEM;
                    font-weight: $FONT_FAMILY_FACE_ITEM_LIST_ITEM;

                    max-width: 160px;
                    text-align:center;
                    vertical-align: middle;
                    //text-shadow: -1px -1px 1px rgba(255,255,255,0.7), 1px 1px 1px rgba(255,255,255,0.7), -1px 1px rgba(255,255,255,0.7), 1px -1px 2px rgba(255,255,255,0.7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    
                    &:hover {
                        background-color:$COLOR_FACE_ITEM_LIST_TEXT_BACKGROUND_HOVER;
                        border-radius : $SIZE_FACE_ITEM_LIST_ITEM_RADIUS_HOVER;
                    }

                    &.active {
                        color: $COLOR_FACE_ITEM_LIST_TEXT_FOCUS;
                        text-shadow: none;
                    }
                    
                }
            }

            #face-item-list-scroll-left {
                background-image : $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_NORMAL;
                left:0;

                &:hover {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_HOVER;
                }

                &:active {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_ACTIVE;
                }
            }

            #face-item-list-scroll-right {
                background-image :$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_NORMAL;
                right:0;

                &:hover {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_HOVER;
                }

                &:active {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_ACTIVE;
                }

            }

            #face-item-list-scroll-margin-right,
            #face-item-list-scroll-margin-left
             {
                background-color : $COLOR_FACE_ITEM_LIST_SCROLL_MARGIN;
                position: absolute;
                top:0;
                width: $SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_WIDTH;
                height: $SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_HEIGHT;
            }

            #face-item-list-scroll-margin-right{
                right : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
            }

            #face-item-list-scroll-margin-left{
                left    :$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_LEFT;
            }

            #face-item-list-scroll-left,
            #face-item-list-scroll-right {
                position: absolute;
                top:0;
                width: $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
                height: $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT;
                background-color: $COLOR_FACE_ITEM_LIST_SCROLL_BUTTON;
                cursor: pointer;

                &.disabled {
                    background-color: $COLOR_FACE_ITEM_LIST_SCROLL_BUTTON;
                    background-image: none;
                    cursor: default;
                }

            }
        }

        #face-pallet {
            position: absolute;
            width: $SIZE_FACE_IN_PALLET_WIDTH;
            height: $SIZE_FACE_IN_PALLET_HEIGHT;
            margin-top:$SIZE_FACE_IN_PALLET_MARING_TOP;
            

            #face-pages-area {
                transform: scale(0.5);
                transform-origin: left top;
                width : $SIZE_FACE_PAGE_AREA_WIDTH;
                max-height : $SIZE_FACE_PAGE_AREA_HEIGHT;
                padding-left:$SIZE_FACE_PAGE_AREA_PADDING_LEFT;
                padding-right:$SIZE_FACE_PAGE_AREA_PADDING_RIGHT;

                background-color: $COLOR_FACE_PAGES_AREA_BACKGROUND;
                border : $SIZE_FACE_PAGES_AREA_BORDER_THICKNESS solid $COLOR_FACE_PAGES_AREA_BOARDER;

                //box-shadow: 0 0 30px rgba(0,0,0,0.6);

                .button-item{
                        border :$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS solid $COLOR_FACE_PAGES_AREA_ITEM_BORDER_NORMAL;
                    }

                .item {
                    
                    &:hover {
                        background-color: $COLOR_FACE_PAGES_AREA_ITEM_BACKGROUND_HOVER;
                        border :$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS solid $COLOR_FACE_PAGES_AREA_ITEM_BORDER_HOVER;
                    }
                }

             


            }

            
        }


    }

    input, select, button {
        font-family: "Noto Sans CJK JP","SST W55";
    }

}