@import "variables/variable";

#page-full-custom {
    #main {
        position: relative;
        overflow: overlay;
    }

    .fade-in{
        transition-duration: 0.2s;
        opacity:1;
    }

     .ui-header{
        #button-edit-done{
            background-image:$PATH_IMG_SAVE_BTN_NORMAL;
            margin-top:$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_TOP;
            margin-left:$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_LEFT;
            height:$SIZE_EDIT_HEADER_SAVE_BTN_HEIGHT;
            width:$SIZE_EDIT_HEADER_SAVE_BTN_WIDTH;
            top:0;
            padding:0;
            box-shadow:none;
            border:none;
            background-color:transparent;

            &:hover{
                background-image:$PATH_IMG_SAVE_BTN_HOVER;
            }

            &:active{
                background-image:$PATH_IMG_SAVE_BTN_ACTIVE;
            }
        }

         #button-edit-back{
            background-image:$PATH_IMG_BACK_BTN_NORMAL;
            margin-top:$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_TOP;
            margin-left:$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_LEFT;
            height:$SIZE_EDIT_HEADER_BACK_BTN_HEIGHT;
            width:$SIZE_EDIT_HEADER_BACK_BTN_WIDTH;
            top:0;
            left:0;
            padding:0;
            box-shadow:none;
            border:none;
            background-color:transparent;

            &:hover{
                background-image:$PATH_IMG_BACK_BTN_HOVER;
            }

            &:active{
                background-image:$PATH_IMG_BACK_BTN_ACTIVE;
            }
        }
    }

    #face-edit-area {
        position: absolute;
        //background-color: #88ff88;

        #face-canvas-area {
            background-image : $PATH_IMG_CANVAS_AREA;
            background-color :none;
            position: absolute;
            width: $SIZE_CANVAS_AREA_WIDTH;
            height: $SIZE_CANVAS_AREA_HEIGHT;
            top: $SIZE_CANVAS_AREA_MARGIN_TOP;

			//ボタン情報表示用 ツールチップ 非表示
			#canvas-tooltip{						
				overflow:initial;
				text-shadow:none;
					
				visibility:visible;
				display: flex;
				align-items: center;
				position: fixed; 

				margin-top: $SIZE_TOOLTIP_MAGIN_TOP;
				height:$SIZE_TOOLTIP_HEIGHT;
				width:initial;
				font-size: $FONT_SIZE_SSS;
				font-family:$FONT_FAMILY_TOOL_TIP;
				color: $COLOR_TOOLTIP_TEXT;
				background-color: $COLOR_TOOLTIP_BACKGROUND;
				border : $SIZE_TOOLTIP_BORDER_THICKNESS solid $COLOR_BLACK;
				padding: 0 $SIZE_TOOLTIP_PADDING_SIDE;
				box-shadow:$COLOR_TOOLTIP_SHADOW;
				z-index:100;				
			}


			//ボタン情報表示用 ツールチップ 非表示
			#canvas-tooltip.disable{
					display :none;
			}

            #face-canvas {
                
                #face-pages-area{
                    transform: scale(0.5);
					transform-origin: left top;
				}
               
                #face-canvas-inner{
                    height:$SIZE_CANVAS_INNER_HEIGHT;
                }

                .item {
                    cursor: move;
                    border :$SIZE_CANVAS_ITEM_BORDER_THICKNESS solid $COLOR_CANVAS_ITEM_BORDER;
                    margin:-$SIZE_CANVAS_ITEM_BORDER_THICKNESS;

                    &.selected {
                        border :$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED solid $SIZE_CANVAS_ITEM_BORDER_SELECTED;
                        margin:-$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED;
                        z-index: 100;
                        background-color:$COLOR_CANVAS_SELECTED_ITEM_BACKGROUND;
                    }

                    &:hover{
                        background-color:$COLOR_CANVAS_ITEM_HOVER;
                    }

                    &.disabled {
                        display: none;
                    }

                    &.background {
                        cursor: default;
                    }

                }

				.button-item.overlayed{
					border-color : $COLOR_CANVAS_ITEM_BORDER_OVERLAYED;
				}

                .item-resizer {
                    position: absolute;
                    box-sizing:border-box;
                    width: $SIZE_CANVAS_ITEM_RESIZER_WIDTH;
                    height: $SIZE_CANVAS_ITEM_RESIZER_HEIGHT;
                    border: $SIZE_CANVAS_ITEM_RESIZER_THICKNESS solid $COLOR_LIGHT_GREEN;

                    background-color: $SIZE_CANVAS_ITEM_BACKGROUND;

                    &.left-top {
                        cursor:nw-resize;
                    }
                    &.right-top {
                        cursor:ne-resize;
                    }
                    &.right-bottom {
                        cursor: se-resize;
                    }
                    &.left-bottom {
                        cursor: sw-resize;
                    }
                }

                .face-page{
                    margin-left:$SIZE_CANVAS_FACE_PAGE_MARGIN_LEFT;
                    margin-top:$SIZE_CANVAS_FACE_PAGE_MARGIN_TOP;
                    margin-bottom:$SIZE_CANVAS_FACE_PAGE_MARGIN_BOTTOM;
                    border:none;       
                    //グリッドの表示位置がずれて、一番下のグリッドが見えなくなるためずらす。
                    padding-bottom:$SIZE_FACE_PAGE_ADJUST_GRID_PADDING_BOTTOM;
                    padding-top:$SIZE_FACE_PAGE_ADJUST_GRID_PADDING_TOP;
                    background-position-y:$SIZE_FACE_PAGE_ADJUST_GRID_Y;
          
                }

                
				.image-item.background{
					border :none;

					&:hover{
						background:none;
						background-position:center;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
                
            }
        }

        #face-item-detail-area {
            overflow: auto;
            //visibility: hidden;
            position: relative;
            width: $SIZE_PROPATY_AREA_WIDTH;
            height: $SIZE_PROPATY_AREA_HEIGHT;
            top: $SIZE_PROPATY_AREA_MARGIN_TOP;
            background-color: $COLOR_PROPATY_AREA_BACKGROUND;
            border : $SIZE_PROPATY_AREA_BORDER_THICKNESS solid $COLOR_PROPATY_AREA_BORDER;
            box-sizing:border-box;
        }

        #face-item-detail-area{
            overflow-x:hidden;
        }
        #face-item-detail {
            position: relative;
            width:$SIZE_PROPATY_AREA_INNNER_WIDTH;
            margin-left:$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE;
            margin-right:$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE;
            margin-top:$SIZE_PROPATY_ITEM_DETAIL_MARGIN_TOP_DOWM;
            margin-bottom:$SIZE_PROPATY_ITEM_DETAIL_MARGIN_TOP_DOWM;
            text-shadow: none;
            font-size: $FONT_SIZE_PROPATY_MAIN_TEXT;
            color: $COLOR_PROPATY_AREA_TEXT;

            .header{
                display:flex;

                #about-macro{
                    height : $SIZE_PROPERTY_AREA_MACRO_ABOUT_HEIGHT;
                    width : $SIZE_PROPERTY_AREA_MACRO_ABOUT_WIDTH;
                    margin-top: $SIZE_PROPERTY_AREA_MACRO_ABOUT_MARGIN_TOP;
                    margin-left:auto;
                    //margin-right:$SIZE_PROPERTY_AREA_MACRO_ABOUT_MARGIN_RIGHT;
                    background-image:$PATH_IMG_PROPATY_AREA_MACRO_ABOUT_NORMAL;
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;           // インライン要素化

                    // ツールチップ部分を隠す
                    .popup{
                        display: none;
                    }
                    
                    &:hover{
                         background-image:$PATH_IMG_PROPATY_AREA_MACRO_ABOUT_HOVER;
                        position: relative;
                        

                        //マウスオーバー時にツールチップを表示
                        .popup{
                            display:block;
                            top:30px;
                            position:absolute;
                            right:0;
                            z-index:100;
                            width:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_WIDTH;
                            

                            .component{
                                position:relative;
                                #popup-arrow{
                                    margin-left:auto;
			                        margin-right:$SIZE_PROPERTY_AREA_MACOR_ABOUT_POPUP_MARGIN_RIGHT;
                                }

                                p{
                                    margin:0;
                                    position:absolute;
                                    z-index:-1;
                                    padding:$SIZE_PROPERTY_AREA_MACRO_ABOUT_POPUP_PADDING;
                                    background-color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_BACKGROUND;
			                        border : 1px solid $COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_BORDER;
			                        box-sizing:border-box;
                                    display: block;      // ボックス要素にする
                                    color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_TEXT;
                                    font-family:$FONT_FAMILY_PROPATY_POPUP;
                                    font-size:$FONT_SIZE_PROPATY_POPUP;
                                }
                            }
                        }
                    }
                }
            }
            

        .add-btn-container{
            margin-top:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_CONTAINER_MARING_TOP;
            display:flex;
            margin-left:$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT;
            margin-right:$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_RIGHT;

            

                #add-signal-btn{
                    display:inline-flex;
                    height:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_HEIGHT;
                    margin : 0 auto;

                    .btn-image{
                        margin-right:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_MARGIN_RIGHT;
                        background-image:$PATH_IMG_PROPATY_AREA_ADD_BUTTON_NORMAL;
                        background-position:center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_HEIGHT;
                        width:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_WIDTH;
                    }
          
                    span{
                        line-height:$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_LINE_HEIGHT;
                        color:$COLOR_BUTTON2_NORMAL;
                        font-family:$FONT_FAMILY_TEXT_BUTTON;
                        font-size:$FONT_SIZE_TEXT_BUTTON;

                    }

                    &:hover{
                        .btn-image{
                            background-image:$PATH_IMG_PROPATY_AREA_ADD_BUTTON_HOVER;
                        }
                        span{
                            color:$COLOR_BUTTON2_HOVER;
                        }
                    }

                    &:active{
                        .btn-image{
                            background-image:$PATH_IMG_PROPATY_AREA_ADD_BUTTON_ACTIVE;
                        }
                        span{
                            color:$COLOR_BUTTON2_PRESED;
                        }
                    }


                    &.gone{
                      display:none;  
                    }

                    &.disabled{
                        opacity:0.2;
                        &:hover{
                            .btn-image{
                                background-image:$PATH_IMG_PROPATY_AREA_ADD_BUTTON_NORMAL;
                            }
                            span{
                                color:$COLOR_BUTTON2_NORMAL;
                            }
                        }

                        &:active{
                            .btn-image{
                                background-image:$PATH_IMG_PROPATY_AREA_ADD_BUTTON_NORMAL;
                            }
                            span{
                                color:$COLOR_BUTTON2_NORMAL;
                            }
                        }   

            }

                }
        }
        

        #signals-container{
            padding-top:$SIZE_PROPATY_AREA_MACRO_SIGNALS_CONTAINER_PADDING_TOP;
        }

        .signals{
            position:relative;
        }

        //最上段のプルダウンのかたまりは、ボーダーなし。
        #signal-container-element-0{
             border-top:none;
        }
                        
        //プルダウンの左側に出現するdot線
        .dot-line{
            background-image: linear-gradient(to bottom, $COLOR_PROPERTY_AREA_MACRO_ORDER_DOTTED_LINE, $COLOR_PROPERTY_AREA_MACRO_ORDER_DOTTED_LINE $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_WIDTH, transparent $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_HEIGHT, transparent $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_MARING);
            background-size: $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_UNITE_WIDTH $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_UNITE_HEIGHT;
            background-position: top;
            background-repeat: repeat-y;
            width:$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_UNITE_WIDTH;
            height:100%;
            top:0;
            left: $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_MARGIN_LEFT;
            position:absolute;      
        }
        

        //普通の信号時の、previewとプルダウンの間のマージン
        .property-state-action{
            margin-top:$SIZE_PROPATY_AREA_ACTION_CONTAINER_MARGIN_TOP;
        }

        //マクロボタンのpreviewとアクション設定pulldownとの間のマージン
        .button-macro-action-container-element{
            margin-top:$SIZE_PROPERTY_AREA_MACRO_ACTION_CONTAINER_MARGIN_TOP;
        }

        //信号セット用プルダウンセット
        .signal-container-element{
                box-sizing:border-box;
                border-top:$SiZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_BORDER_THICKNESS solid $COLOR_PROPATY_AREA_MACRO_BORDER;
                padding-top:$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_TOP;
                padding-bottom:$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_BOTTOM;
                position:relative;

                .custom-select{
                    margin-left : $SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT;
                    margin-right:$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_RIGHT;
                    width:$SIZE_PROPATY_ARAE_MACRO_PULL_DOWN_WIDTH;   
                }

                .order-indicator-container{
                    position:absolute;
                    height:100%;
                    margin-left:$SIEE_PROPERTY_AREA_MACRO_SIGNAL_INDICATOR_MARGN_LEFT;

                    .dot-container{
                        z-index:3;
                        margin-right:$SIZE_PROPERTY_AREA_MACRO_DOT_MARGIN_RIGHT;
                        background-color:$COLOR_PROPERTY_AREA_MACRO_ORDER_BACKGROUND;
                        width:$SIZE_PROPERTY_AREA_MACRO_DOT_WIDTH;
                        height:$SIZE_PROPERTY_AREA_MACRO_DOT_CONTAINER_HEIGHT;
                        display:flex;
                        .order-indicator-dot{
                            display:flex;
                            align-self:center;
                            width:$SIZE_PROPERTY_AREA_MACRO_DOT_WIDTH;
                            height:$SIZE_PROPERTY_AREA_MACRO_DOT_HEIGHT;
                            border-radius:$SIZE_PROPERTY_AREA_MACRO_DOT_RADIUS;
                            background-color:$COLOR_PROPATY_AREA_MACRO_ORDER_DOT;
                        }

                    }

                    //縦中央揃え
                    display:flex;
                    justify-content: center;
                    align-items:center;

                    //マクロの信号順番
                    .order-indicator-number{
                        text-align:center;
                        width : $SIZE_PROPERTY_AREA_MACRO_INDICATOR_WIDTH;
                        font-family:$FONT_FAMILY_PROPATY_MAIN_TEXT;
                        font-size:$FONT_SIZE_PROPATY_MAIN_TEXT
                    }
                }
                

                //信号deleteボタン用のarea
                .delete-signal-area{
                    z-index : 2;//pulldownより前に
                    height:100%;
                    width:$SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_DELETE_AREA_WIDTH;
                    transition-duration : 0.2s;
                    position : absolute;
                    right : $SIZE_PROPATY_AREA_SORT_DELETE_BUTTON_AREA_MINUS_MARGIN;
                    top : 0px;
                    display:flex;

                        .delete-signal{
                            background-position:center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            transition: 0.2s;
                            opacity:0;
                            margin-left:auto;
                            margin-right:$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_MARGIN_RIGHT;
                            align-self:center;
					        background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_DELETE_NORMAL;
					        width:$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_WIDTH;
					        height:$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_HEIGHT;

                            &:hover{
                                background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_DELETE_HOVER;
                            }
                            
                            &:active{
                                background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_DELETE_ACTIVE;
                           }
                        }

                        //エリアをhoverして、表示
                        &.show,
                        &:hover{
                            .delete-signal{
                                opacity:1.0;
                            }
                        }

                     }


                //一番上のソートボタンは非表示
                #sort-button-area-0{
                    .sort-up-btn{
                        display:none;
                        }
                    .sort-down-btn{
                        margin-top:$SIZE_PROPERTY_AREAMACRO_SORT_DOWN_BUTTON_MARGIN_TOP_ORDER_0;
                        }
                }

                
                //一番下のソート上ぼおたんは非表示{
                .sort-button-area.last-order {
                     .sort-up-btn{
                         margin-bottom:$SIZE_PROPERTY_AREAMACRO_SORT_UP_BUTTON_MARGIN_BOTTOM_LAST_ORDER;
                        }
                    .sort-down-btn{
                        display:none;
                        }
                }

                //マクロの信号並び替えボタンエリア
                .sort-button-area{
                        z-index : 2;//pulldownより前に
                        height:100%;
                        width:$SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_SORT_BTN_AREA_WIDTH;
                        position : absolute;
                        left : $SIZE_PROPATY_AREA_SORT_DELETE_BUTTON_AREA_MINUS_MARGIN;
                        top : 0px;
                        display:flex;

                        .sort-btns{

                            position:relative;
                            align-self:center;
                            margin-left: auto;
                            .sort-up-btn{
                                
                                margin-right : auto;
                                transition: 0.3s;
                                opacity:0;
                                left:0;
                                top:0;
                                background-position:center;
                                background-repeat: no-repeat;
                                background-size: contain;
					            background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_UP_NORMAL;
					            width:$SIZE_PROPERTY_AREA_MACRO_SORT_UP_BUTTON_WIDTH;
					            height:$SIZE_PROPERTY_AREA_MACRO_SORT_UP_BUTTON_HEIGHT;
                            
                                &:hover{
                                    background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_UP_HOVER;
                                }
                                    
                                &:active{
                                    background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_UP_ACTIVE;
                                }

                            }


                            .sort-down-btn{
                                margin-right : auto;
                                transition: 0.3s;
                                opacity:0;
                                left:0;
                                bottom:0;
                                background-position:center;
                                background-repeat: no-repeat;
                                background-size: contain;
					            background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_DOWN_NORMAL;
					            width:$SIZE_PROPERTY_AREA_MACRO_SORT_DOWN_BUTTON_WIDTH;
					            height:$SIZE_PROPERTY_AREA_MACRO_SORT_DOWN_BUTTON_HEIGHT;
                                margin-top:$SIZE_PROPERTY_AREAMACRO_SORT_DOWN_BUTTON_MARGIN_TOP;

                                &:hover{
                                    background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_DOWN_HOVER;
                                } 
                                
                                &:active{
                                    background-image:$PATH_IMG_PROPATY_AREA_SIGNAL_SORT_DOWN_ACTIVE;
                                }
                            }
                        }
                        
                        &.show,
                        &:hover{
                             .sort-up-btn{
                                opacity:1.0;
                            }

                            .sort-down-btn{
                                opacity:1.0;
                            }
                        }

                    }

                 }
                
            



            .one-line-label{
                line-height:$TEXT_HEIGHT_DEFAULT;
                margin-bottom:$SIZE_PROPATY_AREA_ONE_LINE_LABEL_MARGIN_BOTTOM;
                display: flex;
                font-family:$FONT_WEIGHT_PROPATY_X_Y_W_H;
            }

            .label-button-state{
                width : $SIZE_PROPATY_AREA_LAYOUT_LABEL_WIDTH;
            }

            .info-button-state{
                margin-left:$SIZE_PROPATY_AREA_LAYOUT_INFO_MARING_LEFT;
                width : $SIZE_PROPATY_AREA_LAYOUT_INFO_WIDTH;
            }


            #face-item-detail-title{
                padding-bottom:$SIZE_PROPATY_AREA_TITLE_PADDING_BOTTOM;
                line-height:$SIZE_PROPATY_AREA_TITEL_LINE_HEIHGT;
                font-size:$FONT_SIZE_PROPATY_H3;
                font-family: $FONT_FAMILY_NORMAL;
                height:$SIZE_PROPATY_AREA_TITEL_LINE_HEIHGT;
                margin:0;

                .button-info-brand-and-type{
					display:inline-flex;
					align-items:baseline;
					text-shadow:none;
                    padding-left:$SIZE_PROPATY_AREA_SUBTITLE_PADDING_LEFT;
                    font-size: $FONT_SIZE_PROPATY_BUTTON_INFO;
                    font-family: $FONT_FAMILY_NORMAL;
                    color:$COLOR_PROPATY_AREA_SUBTITLE;
                    margin:0;
					

					.slash{
						text-align:center;
						width:$SIZE_PROPATY_AREA_SUBTITLE_SLASH_WIDTH;
					}

					.brand_name{
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						max-width:$SIZE_PROPATY_AREA_SUBTITLE_BRAND_MAX_WIDTH;
					}

                }
                
            }

            h4{
                font-size:$FONT_SIZE_PROPATY_H4;
                font-family:$FONT_FAMILY_PROPATY_H3;
            }

            .state-action-input, 
            .state-action-function,
            .property-state-text-value,
            .property-text-value{
                max-width : $SIZE_PROPATY_AREA_INPUT_MAX_WIDTH;
                width:$SIZE_PROPATY_AREA_INPUT_MAX_WIDTH;
            }

            .text-size-pulldown{
                width:$SIZE_PROPATY_AREA_PULL_DOWM_TEXT_SIZE_WIDTH;
            }

            input.priperty-value {
                width: 100%;
            }


            input.priperty-value.page-background-src {
                width: calc(100% - 70px);
            }

            #delete-background-image {
                width : $SIZE_PROPATY_AREA_DELETE_BTN_WIDTH;
                margin-left: $SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT;
            }

            h4 {
                margin:0;
                font-size: $FONT_SIZE_PROPATY_H4;
            }

            h5 {
                font-size: $FONT_SIZE_PROPATY_H5;
                font-family: $FONT_FAMILY_LIGHT;
                margin:0;
            }

            hr {
                margin-bottom: 1em;
            }

            .inline {
                display: inline-block;
            }

            .property-title {
                display: inline-block;
                font-family: $FONT_FAMILY_BOLD;
                width: 80px;
            }

            /*
            input.property-value {
                width: calc(100% - 20px);
            }*/

            #property-image-preview,
            .property-state-image-preview {
                box-sizing:border-box;
                position:relative;
                background-position:center;
                background-repeat: no-repeat;
                background-size: contain;
                width:$SIZE_PROPATY_AREA_PREVIEW_WIDTH;
                min-height: $SIZE_PROPATY_AREA_PREVIEW_HEIGHT_MIN;
                border : $SIZE_PROPATY_AREA_PREVIEW_BORDER_THICKNESS solid $COLOR_PROPATY_PREVIEW_BORDER;
			
				//画像編集ボタン
                #edit-image-or-text,
				#edit-image-background,
				#edit-image-non-button-image{
                    position:absolute;
                    z-index:1;
                    bottom:0;
                    right:0;
                    width:$SIZE_PROPATY_AREA_EDIT_IMAGE_BTN_WIDTH;
                    height:$SIZE_PROPATY_AREA_EDIT_IMAGE_BTN_HEIGHT;
                    background-image:$PATH_IMG_PROPATY_AREA_EDIT_IMG_NORMAL;
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    &:hover, &:active{
                        background-image:$PATH_IMG_PROPATY_AREA_EDIT_IMG_ACTIVE;
                    }
                }

				//背景画像削除ボタン
				#delete-background-image{
					position:absolute;
                    z-index:1;
                    top:0;
                    right:0;
					background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;
					background-image:$PATH_IMG_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_NOMAL;
					width:$SIZE_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_BTN_WIDTH;
					height:$SIZE_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_BTN_HEIGHT;

					&:hover, &:active{
                        background-image:$PATH_IMG_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_HOVER;
                    }
				}

				//テキストエリア
				.text-field-in-preview{
					margin-top:$SIZE_TEXT_FIELD_IN_PREVIEW_MARGIN_TOP;

					.title-edit-label{
						height:$SIZE_TITLE_EDIT_LABEL_HEIGHT;
						display: flex;
                        align-items: center;
						justify-content:center;

						#icon-title-edit-label{
							background-position:center;
							background-repeat: no-repeat;
							background-size: contain;
							background-image:$PATH_IMG_TITLE_EDIT_LABEL_ICON;
							width:$SIZE_TITLE_EDIT_LABEL_ICON_WIDTH;
							height:$SIZE_TITLE_EDIT_LABEL_ICON_HEIGHT;
						}

						.text-title-edit-label{
							font-family:$FONT_SIZE_PROPATY_TITLE_EDIT_LABEL;
							font-size:$FONT_FAMILY_PROPATY_TITLE_EDIT_LABEL;
							
						}	
					}

					.text-size-pulldown{
							margin:0 auto;
							width:$SIZE_TITLE_EDIT_LABEL_PULLDOWN_WIDTH;
					}

					.property-text-value,
					.property-state-text-value{
						display:flex;
						margin : 0 auto;
						width : $SIZE_EDIT_LABEL_TEXT_FIELD_WIDTH;
					}
				}
            }

            .property-state-image{
                margin-top:$SIZE_PROPATY_AREA_STATE_IMAGE_MARGIN_TOP;
            }

            /*.property-value {
                min-width: 20px;
                &.middle {
                    width: calc(100% - 100px);
                    min-width: 130px;
                }

                &.small {
                    width: 80px;
                }
            }*/

            /*#property-image-preview,
            .property-state-image-preview {
                .property-value {
                        position:relative;
                        background-position:center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width:160px;
                        height: 160px;
                        left: calc((100% - 160px) /2);
                        box-shadow: 0 0 10px rgba(128, 255, 128, 0.8);
                }
            }*/

            #states-container {
                > div {
                    margin-bottom: 10px;
                }
            }

            input.refer-state-image, #refer-image {
                    width: $SIZE_PROPATY_AREA_REFER_IMAGE_WIDTH;
            }

            .state-container {
                .delete-state-image {
                    width : $SIZE_PROPATY_AREA_DELETE_BTN_WIDTH;
                    margin-left: $SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT;
                }

                .property-title, .property-value, label {
                    font-size: 0.95em;
                }
            }
        }
    }

    //画像編集ボタンのpopup
        #edit-image-popup{
        position:relative;
        box-shadow:none;
        text-shadow:none;
        background-color:$COLOR_TRANSPARENT;
        border:none;
        

        #popup-arrow{
            margin-left:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_ARROW_MARING_LEFT;
			margin-right:auto;
        }

        .popup-list{
            width:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_WIDTH;
            padding-top:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_PADDING_TOP;
            padding-bottom:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_PADDING_BOTTOM;
            color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_TEXT;
            font-family:$FONT_FAMILY_PROPATY_POPUP;
            font-size:$FONT_SIZE_PROPATY_POPUP;
            background-color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_BACKGROUND;
			border : 1px solid $COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_BORDER;
			box-sizing:border-box;
			position:absolute;
			z-index:-1;

			


            .popup-menu-item-text-black{
                display: flex;
                align-items: center;
                height:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ITEM_HEIGHT;

				&:hover, &:active{
				background-color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_ITEM_BACKGROUND_HOVER;
				color:$COLOR_PROPATY_AREA_EDIT_IMAGE_POPUP_TEXT_HOVER;
					#popup-icon-image-image-button{
						background-image:$PATH_IMG_PROPATY_AREA_POPUP_ICON_IMAGE_BUTTON_HOVER;
					}

					#popup-icon-image-text-button{
						background-image:$PATH_IMG_PROPATY_AREA_POPUP_ICON_TEXT_BUTTON_HOVER;	
					}
				}

                #popup-icon-image-image-button, #popup-icon-image-text-button{
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_PADDING_LEFT;
                    margin-right:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_PADDING_RIGHT;
                    width:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_WIDTH;
                    height:$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_HEIGHT;
                }

				#popup-icon-image-image-button{
                    background-image:$PATH_IMG_PROPATY_AREA_POPUP_ICON_IMAGE_BUTTON;
                }

                #popup-icon-image-text-button{
                    background-image:$PATH_IMG_PROPATY_AREA_POPUP_ICON_TEXT_BUTTON;
                }




            }
        }
    }

    #face-pallet-area {
        position: absolute;

        width : $SIZE_PALLET_AREA_WIDTH;
        height : $SIZE_PALLET_AREA_HEIGHT;
        margin-top : $SIZE_PALEET_AREA_MARGIN_TOP;
        //background-color: #8888ff;



        #pallet-area-gradation-top{
            visibility:hidden;
            position:absolute;
            top:0;
            width:$SIZE_FACE_PALLET_GRADATION_TOP_WIDTH;
            height:$SIZE_FACE_PALLET_GRADATION_TOP_HEIGHT;
            background:$COLOR_PALLET_GRADATION_TOP;
            z-index:1;
        }

        #pallet-area-gradation-bottom{
            visibility:visible;
            position:absolute;
            bottom:0;
            width:$SIZE_FACE_PALLET_GRADATION_BOTTOM_WIDTH;
            height:$SIZE_FACE_PALLET_GRADATION_BOTTOM_HEIGHT;
            background:$COLOR_PALLET_GRADATION_BOTTOM;
            z-index:1;
        }

        #face-item-list-container {
 
            position: relative;
            overflow: hidden;
            width:$SIZE_FACE_ITEM_LIST_CONTAINER_WIDTH;
            height: $SIZE_FACE_ITEM_LIST_CONTAINER_HEIGHT;
            line-height: $SIZE_FACE_ITEM_LIST_LINE_HEIGHT;
            background-color: $COLOR_FACE_ITEM_LIST_BACKGROUND;

            #face-item-list {
                height: 100%;
                transition: transform 0.2s 0s ease-in-out;
                transition-duration : 0.2s;
                transform: translateX(16px);


                .face-item {
                    //display: inline-block;
                    position: absolute;
                    height: $SIZE_FACE_ITEM_LIST_ITEM_HEIGHT;
                    padding-left: $SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT;
                    padding-right:$SIZE_FACE_ITEM_LIST_ITEM_PADDING_RIGHT;
                    margin-top:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_TOP;
                    margin-left:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT;
                    margin-right:$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_RIGHT;
            
                    color: $COLOR_FACE_ITEM_LIST_TEXT_NORMAL;
                    font-size:$FONT_SIZE_FACE_ITEM_LIST_ITEM;
                    font-family: $FONT_FAMILY_FACE_ITEM_LIST_ITEM;

                    max-width: $SIZE_PROPATY_AREA_FACE_ITEM_MAX_WIDTH;
                    text-align:center;
                    vertical-align: middle;
                    //text-shadow: -1px -1px 1px rgba(255,255,255,0.7), 1px 1px 1px rgba(255,255,255,0.7), -1px 1px rgba(255,255,255,0.7), 1px -1px 2px rgba(255,255,255,0.7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    text-shadow: none;

                    
                    &:hover {
                        background-color:$COLOR_FACE_ITEM_LIST_TEXT_BACKGROUND_HOVER;
                        border-radius : $SIZE_FACE_ITEM_LIST_ITEM_RADIUS_HOVER;
                    }

                    &.active {
                        color: $COLOR_FACE_ITEM_LIST_TEXT_FOCUS;
                    }
                }
            }

            #face-item-list-scroll-left {
                background-image : $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_NORMAL;
                left:0;

                &:hover {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_HOVER;
                }

                &:active {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_ACTIVE;
                }
            }

            #face-item-list-scroll-right {
                background-image :$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_NORMAL;
                right:0;

                &:hover {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_HOVER;
                }

                &:active {
                    background-image: $PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_ACTIVE;
                }

            }

            #face-item-list-scroll-margin-right,
            #face-item-list-scroll-margin-left
             {
                background-color : $COLOR_FACE_ITEM_LIST_SCROLL_MARGIN;
                position: absolute;
                top:0;
                width: $SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_WIDTH;
                height: $SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_HEIGHT;
            }

            #face-item-list-scroll-margin-right{
                right : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
            }

            #face-item-list-scroll-margin-left{
                left    :$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_LEFT;
            }

            #face-item-list-scroll-left,
            #face-item-list-scroll-right {
                position: absolute;
                top:0;
                width: $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
                height: $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT;
                background-color: $COLOR_FACE_ITEM_LIST_SCROLL_BUTTON;
                cursor: pointer;

                &.disabled {
                    background-color: $COLOR_FACE_ITEM_LIST_SCROLL_BUTTON;
                    background-image: none;
                    cursor: default;
                }

            }
        }

        #face-pallet {
            position: absolute;
            width: $SIZE_FACE_IN_PALLET_WIDTH;
            height: $SIZE_FACE_IN_PALLET_HEIGHT;
            margin-top:$SIZE_FACE_IN_PALLET_MARING_TOP;
			margin-right:$SIZE_FACE_IN_PALLET_MARING_RIGHT;
			margin-left:$SIZE_FACE_IN_PALLET_MARING_LEFT;
			margin-bottom:$SIZE_FACE_IN_PALLET_MARING_BOTTOM;
            border : $SIZE_PALLET_BORDER solid $COLOR_PALLET_BORDER;

            #face-pages-area {
                transform: scale(0.5);
                transform-origin: left top;
                width : $SIZE_FACE_PAGE_AREA_WIDTH;
                max-height : $SIZE_FACE_PAGE_AREA_HEIGHT;
                padding-left:$SIZE_FACE_PAGE_AREA_PADDING_LEFT;
                padding-right:$SIZE_FACE_PAGE_AREA_PADDING_RIGHT;
                padding-top:$SIZE_FACE_PAGES_AREA_PADDING_TOP;
                background-color: $COLOR_FACE_PAGES_AREA_BACKGROUND;
                
                .face-master-separator {
                    margin-top : $SIZE_PALLET_SEPARATOR_MARGIN_TOP;
                    width:100%;
                    height:$SIZE_PALLET_SEPARATOR_HEGHT;
                    background-color : $COLOR_PALLET_SEPARATOR_BACKGROUND;
                    
                    .separate-text{
                        padding-top:$SIZE_PALLET_SEPARATOR_TEXT_PADDING_TOP;

                        .border-line{
                            border : $SIZE_PALLET_SEPARATOR_BORDER_THICKNESS solid $COLOR_PALLET_SEPARATOR_BORDER;
                            align-self:center;                
                        }

                        span{
                            display:block;
                            margin-top : $SIZE_PALLET_SEPARATOR_SPAN_MARGIN_TOP;
                            text-shadow:none;
                            color : $COLOR_PALLET_SEPARATOR_TEXT;
                            text-align:center;
                            font-size: $FONT_SIZE_PALLET_SEPARATOR;
				            font-family:$FONT_FAMILY_LIGHT;
                        }
                    }

                }


                .button-item{
                        border :$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS solid $COLOR_FACE_PAGES_AREA_ITEM_BORDER_NORMAL;
                }

                .face-page{
                    padding-top:$SIZE_FACE_PAGE_AREA_PADDING_TOP;
                    padding-bottom:$SIZE_FACE_PAGE_AREA_PADDING_BOTTOM;
                }

                .item {
                    
                    border :$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS solid $COLOR_FACE_PAGES_AREA_ITEM_BORDER_NORMAL;

                    &:hover {
                        background-color: $COLOR_FACE_PAGES_AREA_ITEM_BACKGROUND_HOVER;
                        border :$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS solid $COLOR_FACE_PAGES_AREA_ITEM_BORDER_HOVER;
                    }
                }
            }
        }

        //Commonのアイテム
        .common-parts .item{
                    position:relative;
                    margin-bottom:$SIZE_PALLET_COMMON_ITEM_MARGIN_BOTTOM;
        }

    }

    // ドラッグ中アイテムのダミー表示
    #face-dummy-area {
        position: absolute;
        transform: scale(0.5);
        transform-origin: left top;
        z-index: 101;
        
        .item {
            background-color:$COLOR_DUMMY_ITEM_BACKGROUND;
        }

        .item-resizer {
            position: absolute;
            box-sizing:border-box;
            width: $SIZE_CANVAS_ITEM_RESIZER_WIDTH;
            height: $SIZE_CANVAS_ITEM_RESIZER_HEIGHT;
            border: $SIZE_CANVAS_ITEM_RESIZER_THICKNESS solid $COLOR_LIGHT_GREEN;

            background-color: $SIZE_CANVAS_ITEM_BACKGROUND;

            &.left-top {
                cursor:nw-resize;
            }
            &.right-top {
                cursor:ne-resize;
            }
            &.right-bottom {
                cursor: se-resize;
            }
            &.left-bottom {
                cursor: sw-resize;
            }
         }
            
    }
}