@import "variables/variable";

#page-home {
    text-shadow: none;
    font-family: "Noto Sans CJK JP",'SST W55';

    .ui-header{


        #create-new-remote{
            background-image:$PATH_IMG_CREATE_NEW_REMOTE_NORMAL;
            margin-top:$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_TOP;
            margin-left:$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_LEFT;
            height:$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_HEIGHT;
            width:$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_WIDTH;
            top:0;
            padding:0;
            box-shadow:none;
            border:none;
            background-color:transparent;

            &:hover{
                background-image:$PATH_IMG_CREATE_NEW_REMOTE_HOVER;
            }

            &:active{
                background-image:$PATH_IMG_CREATE_NEW_REMOTE_ACTIVE;
            }
        }

        #sync-pc-to-huis{
            background-image:$PATH_IMG_SYNC_BTN_NORMAL;
            margin-top:$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_TOP;
            margin-left:$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_LEFT;
            height:$SIZE_HOME_HEADER_SYNC_BTN_HEIGHT;
            width:$SIZE_HOME_HEADER_SYNC_BTN_WIDTH;
            top:0;
            padding:0;
            box-shadow:none;
            border:none;
            background-color:transparent;

            &:hover{
                background-image:$PATH_IMG_SYNC_BTN_HOVER;
            }

            &:active{
                background-image:$PATH_IMG_SYNC_BTN_ACTIVE;
            }
        }
    }

   

    #face-list-container {
        overflow-x: overlay;
        overflow-y: hidden;
        width: 100%;
        box-sizing: border-box;

        #face-list {
            position:relative;
            //height: 400px; // tentative
            overflow-y: hidden;
           
            //box-shadow: 0 0 20px #222;
            z-index: 1;
            padding: 0;
            margin: 0;
            background-color: $COLOR_HOME_BACKGROUND;

            #face-list-footer {
                position: absolute;
                bottom: 0;
                width:100%;
                height:$SIZE_HOME_FOOTOR_HEIGHT;
                background: $COLOR_HOME_FOOTOR_BACKGROUND;
                z-index: 1;
            }    

            .face {
                list-style-type: none;
                float: left;
                margin-left:$SIZE_HOME_REMOTE_MARGIN_LEFT;
                margin-right:$SIZE_HOME_REMOTE_MARGIN_RIGHT;
                overflow: hidden;
                width: $SIZE_HOME_REMOTE_WIDTH;

                .title {
                    margin-top:$SIZE_HOME_TITLE_MARGIN_TOP;
                    margin-bottom:$SIZE_HOME_TITLE_MARGIN_BOTTOM;
                    text-align: center;
                    color: $COLOR_TEXT_MAIN;
                    font-size:$FONT_HOME_REMOTE_TITLE;
                    font-weight: $FONT_FAMILY_HOME_REMOTE_TITLE;
                    line-height:$FONT_LINE_HEIGHT_HOME_REMOTE_TITLE;
                }

                #face-pages-area {
                    width:inherit;
                    font-weight: normal;
                }

                .face-page{
                    margin-top:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_TOP;
                    margin-right:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT;
                    margin-left:$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_LEFT;
                    padding-bottom:$SIZE_HOME_REMOTE_FACE_PAGE_PADDING_BOTTOM;
                }

                .module-container {
                    overflow: visible;
                }
            }
        }

        .face-container {
            width:$SIZE_HOME_REMOTE_FACE_CONTAINER_WIDTH;
            transform : scale(0.5);
            transform-origin : left top;
            box-sizing: border-box;
            background-color:$COLOR_HOME_REMOTE_BACKGROUND;
            border : $SIZE_HOME_REMOTE_BORDER_THICKNESS solid $COLOR_HOME_REMOTE_BORDER;
            cursor: pointer;
        }
    }

    #face-history {
        position: relative;
        //height: 200px; // tentative
        height: 0; // drop になったので height を 0 にしておく
        overflow-y: hidden;
        background-color: rgb(151,152,157);
        box-shadow: 0 12px 24px -12px black inset;
        z-index:0;

        h3{
            margin: 0;
            padding: 10px;
            font-weight: normal;
        }

        ul#face-history-list {
            margin: 0;

            p.title {
                margin-top: 0;
            }
        }

        .face {
            list-style-type: none;
            float: left;
            margin: 0 40px;
            padding: 0;
            overflow: hidden;
            width: 160px;
            //height: 380px;

            .title {
                text-align: center;
                color: $COLOR_TEXT_MAIN;
                font-weight: lighter;
            }

            #face-pages-area {
                margin: 0;
                font-weight: normal;
            }
        }
    }

    button {
        font-family: "Noto Sans CJK JP","SST W55";
    }
}