@import "variable";

#splash {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $COLOR_SPLASH_BACKGROUND;
}

#splash-message {
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: $COLOR_SPLASH_BACKGROUND;
}