//SCSS全体で使われる変数

////////////////////////////////
//テキスト関連
////////////////////////////////

//font size
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;

//text size
$TEXT_HEIGHT_DEFAULT : 1.5em;





////////////////////////////////
//サイズ関連　CSSで指定できるもののみ
////////////////////////////////

//Scroll Bar
$SIZE_SCROLL_BAR_HEIGHT : 4px;

//TEXT BUTTON
$SIZE_BUTTON_HEIGHT : 32px;

//FORM(TEXT_FIELD)
$SIZE_FORM_HEIGHT : 32px;
$SIZE_FORM_MARGIN_LEFT : 12px;
$SIZE_FORM_MARGIN_RIGHT : 12px;

//PULL DOWM MENU
$SIZE_PULL_DOWM_HEIGHT_MAIN : 32px;
$SIZE_PULL_DOWM_HEIGHT_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_WIDTH_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_TOP_MARGIN_SUB : 8px;
$SIZE_PULL_DOWM_HEIGHT_SUB : 32px;
$SIZE_PULL_DOWM_BOTTOM_MARGIN_SUB : 8px;
$SIZE_PULL_DOWM_MARGIN_MAIN_AND_SUB : 1px;
$SIZE_PULL_DOWM_MARGIN_LFFT : 12px;

//CASCATIONG MENU MAIN
$SIZE_CASCATING_MAIN_HEIGHT : 44px;
$SIZE_CASCATING_MAIN_MARGIN_TOP : 8px;
$SIZE_CASCATING_MAIN_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_MAIN_MARGIN_LEFT : 16px;
$SIZE_CASCATING_MAIN_MARK_WIDTH : 36px;

//CASCATING MENU SUB
$SIZE_CASCATING_SUB_HEIGHT : 44px;
$SIZE_CASCATING_SUB_MARGIN_TOP : 8px;
$SIZE_CASCATING_SUB_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_SUB_MARGIN_RIGHT : 16px;

//DIALOG(TOAST)
$SIZE_DIALOG_HEIGHT : 200px;
$SIZE_DIALOG_WIDTH : 480px;
$SIZE_DIALOG_ICON_HEIHGT : 64px;
$SIZE_DIALOG_ICON_WIDTH : 64px;
$SIZE_DIALOG_ICON_MARGIN_LEFT : 48px;
$SIZE_DIALOG_ICON_MARGIN_RIGHT : 48px;
$SIZE_DIALOG_TEXT_WIDTH : 268px;
$SIZE_DIALOG_TEXT_MARGIN_RIGHT : 60px; 

//FULL CUSTOM
$SIZE_PROPATY_AREA_WIDTH : 270px;
$SIZE_PROPATY_AREA_HEIGHT : 580px;
$SIZE_PROPATY_AREA_MARGIN_TOP : 60px;
$SIZE_PROPATY_AREA_BORDER_THICKNESS : 1px;

$SIZE_CANVAS_AREA_WIDTH : 316px;
$SIZE_CANVAS_AREA_HEIGHT: 580px;
$SIZE_CANVAS_AREA_MARGIN_TOP : 60px;
 
$SIZE_PALLET_AREA_WIDTH : 392px;
$SIZE_PALEET_AREA_MARGIN_TOP : 60px;
$SIZE_PALLET_AREA_HEIGHT : 580px;

$SIZE_FACE_IN_PALLET_WIDTH : 280px;
$SIZE_FACE_IN_PALLET_HEIGHT : 520px;
$SIZE_FACE_IN_PALLET_MARING_TOP :20px;

$SIZE_FACE_PAGE_AREA_HEIGHT : $SIZE_FACE_IN_PALLET_HEIGHT*2;//半分のサイズに縮小されるので実際は240px
$SIZE_FACE_PAGE_AREA_WIDTH : 480px;//半分のサイズに縮小されるので実際は20px
$SIZE_FACE_PAGE_AREA_PADDING_LEFT : 40px;
$SIZE_FACE_PAGE_AREA_PADDING_RIGHT : $SIZE_FACE_PAGE_AREA_PADDING_LEFT;
$SIZE_FACE_ITEM_LIST_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_LINE_HEIGHT : 40px;

////////////////////////////////
//色・透明度　関連
////////////////////////////////

//base color
$COLOR_BLUE_LIGHT_GRAY : #DBDEEF;
$COLOR_BLACK : #000000;
$COLOR_WHITE : #FFFFFF;
$COLOR_LIGHT_GREEN : #00C588;
$COLOR_LIGHT_GRAY : #DDDDDD;
$COLOR_LIGHT_GRAY_2 : #CBCBCB;
$COLOR_LIGHT_GRAY_3 : #F0F0F0; 
$COLOR_NEAR_BLACK : #999999;
$COLOR_NEAR_WHITE : #F2F2F2;
$COLOR_GRAY : #4F4F4F;

//テキスト全般
$COLOR_TEXT_MAIN : $COLOR_BLACK;

//スクロールバー
$COLOR_SCROLL_BAR_NORMAL : $COLOR_BLACK;
$COLOR_SCROLL_BAR_HOVER : $COLOR_BLACK;
$COLOR_SCROLL_BAR_PRESSED : $COLOR_BLACK;
$OPACITY_SCROLL_BAR_NORMAL  : 1.0;
$OPACITY_SCROLL_BAR_HOVER   : 0.6;
$OPACITY_SCROLL_BAR_PRESSED : 0.4;

//TEXT BUTTON
$COLOR_BUTTON_NORMAL : $COLOR_BLACK;
$COLOR_BUTTON_HOVER : $COLOR_BLACK;
$COLOR_BUTTON_PRESED : $COLOR_LIGHT_GREEN;
$OPACITY_BUTTON_NORMAL : 0.2;
$OPACITY_BUTTON_HOVER : 0.1;
$OPACITY_BUTTON_PRESSED : 1.0;

//FORM(TEXT_FIELD)
$COLOR_FORM_BACKGROUND : $COLOR_WHITE;
$COLOR_FORM_BORDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_FORM_BORDER_HOVER : $COLOR_NEAR_BLACK;
$COLOR_FORM_BORDER_PRESSED : $COLOR_LIGHT_GREEN;

//PULL DOWM MENU
$COLOR_PULL_DOWN_BACKGROUND_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_PULL_DOWN_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWN_BACKGROUND_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWN_BORDER : $COLOR_LIGHT_GRAY_2;

//CASCATING　一段目
$COLOR_CASCATING_BACKGROUND_MAIN_NORMAL : $COLOR_WHITE;
$COLOR_CASCATING_BACKGROUND_MAIN_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_MAIN_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_MAIN : $COLOR_LIGHT_GRAY_2;

//CASCATING　二段目
$COLOR_CASCATING_BACKGROUND_SUB_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_CASCATING_BACKGROUND_SUB_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_SUB_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_SUB : $COLOR_LIGHT_GRAY_2;

//SLIDER BAR
$COLOR_SLIDER_LINE_BORADER : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_NORMAL : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_SLIDER_POINTER_BACKGROUND_FOCUS : $COLOR_LIGHT_GREEN;
$OPACITY_SLIDER_LINE : 0.4;

//DIALOG(TOAST)
$COLOR_DIALOG_BACKGROUND : $COLOR_BLACK;
$COLOR_DIALOG_MASK : $COLOR_BLACK;
$OPACITY_DIALOG_MASK : 0.4;

//スプラッシュ画面
$COLOR_SPLASH_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;

//ホーム画面
$COLOR_HOME_SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_HOME_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;

$COLOR_HOME_REMOTE_BORDER : $COLOR_LIGHT_GRAY;

//フルカスタム画面
$COLOR_FULL_CUSTOM__SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_FULL_CUSTOM_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;

//詳細編集エリア(フルカスタム画面の左側)
$COLOR_PROPATY_AREA_BACKGROUND:$COLOR_WHITE;
$COLOR_PROPATY_AREA_BORDER : $COLOR_LIGHT_GRAY;

//パレットエリア(フルカスタム画面の右側)
$COLOR_PALLET_AREA_BACKGROUND : $COLOR_WHITE;
$COLOR_PALLET_AREA_BORDER : $COLOR_LIGHT_GRAY;

$COLOR_PALLET_AREA_ITEMS_BOARDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_PALLET_AREA_ITEMS_BOARDER_SELECTED : $COLOR_BLACK;
$COLOR_PALLET_AREA_ITEMS_BACKGROUND_SELECTED : $COLOR_LIGHT_GRAY_3;
$COLOR_PALLET_AREA_SEPARATOR : $COLOR_LIGHT_GRAY_2;

//キャンバスエリア(フルカスタム画面の中央)
$COLOR_CANVAS_SELECTED_ITEM_BACKGROUND : $COLOR_WHITE;
$COLOR_CANVAS_SELECTED_ITEM_BORDER : $COLOR_BLACK;
$OPACITY_CANVAS_SELECTED_ITEM_BACKGROUND : 0.6;

$COLOR_CANVAS_GRID_BORDER : $COLOR_GRAY;






