//SCSS全体で使われる変数

//text
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;
$TEXT_HEIGHT_DEFAULT : 1.5em;

//color
$COLOR_MAIN_TEXT : #000000;
$COLOR_ACCENT : #00C588;
$COLOR_BACKGROUND : #DBDEEF;
$COLOR_WHITE : #FFFFFF;
$COLOR_LOW_CONTRAST : #DDDDDD;
