//SCSS全体で使われる変数

//text
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;
$TEXT_HEIGHT_DEFAULT : 1.5em;

//color
$COLOR_BLUE_LIGHT_GRAY : #DBDEEF;
$COLOR_BLACK : #000000;
$COLOR_WHITE : #FFFFFF;
$COLOR_LIGHT_GREEN : #00C588;
$COLOR_LIGHT_GRADY : #DDDDDD;

$COLOR_BACKGROUND_SPLASH : $COLOR_BLUE_LIGHT_GRAY;
$COLOR_BACKGROUND_HOME : $COLOR_BLUE_LIGHT_GRAY;
$COLOR_BACKGROUND_FULL_CUSTOM : $COLOR_BLUE_LIGHT_GRAY;

$COLOR_TEXT_MAIN : $COLOR_BLACK;
