//SCSS全体で使われる変数

////////////////////////////////
//テキスト関連
////////////////////////////////

//font size
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;

//text size
$TEXT_HEIGHT_DEFAULT : 1.5em;

//text family
$FONT_FAMILY_NORMAL :normal;
$FONT_FAMILY_BOLD : bold;
$FONT_FAMILY_LIGHT : lighter;

//共有UI
$FONT_SIZE_TEXT_BUTTON : $FONT_SIZE_SS;
$FONT_FAMILY_TEXT_BUTTON : $FONT_FAMILY_LIGHT;

//HEADER
$FONT_SIZE_HEADER: $FONT_SIZE_LL;
$FONT_FAMILY_HEADER:$FONT_FAMILY_NORMAL;

//FULL CUSTOM
$FONT_SIZE_FACE_ITEM_LIST_ITEM : $FONT_SIZE_M;
$FONT_FAMILY_FACE_ITEM_LIST_ITEM : $FONT_FAMILY_LIGHT;
$FONT_SIZE_ADD_PAGE_BUTTON : $FONT_SIZE_TEXT_BUTTON;
$FONT_FAMILY_ADD_PAGE_BUTTON : $FONT_FAMILY_TEXT_BUTTON;

//propaty area
$FONT_SIZE_PROPATY_MAIN_TEXT : $FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H4:$FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H3:$FONT_SIZE_M;
$FONT_SIZE_PROPATY_H5:$FONT_SIZE_SSS;
$FONT_SIZE_PROPATY_BUTTON_INFO:$FONT_SIZE_SSS;

////////////////////////////////
//サイズ関連　CSSで指定できるもののみ
////////////////////////////////

//Scroll Bar
$SIZE_SCROLL_BAR_HEIGHT : 4px;

//TEXT BUTTON
$SIZE_BUTTON_HEIGHT : 32px;

//FORM(TEXT_FIELD)
$SIZE_FORM_HEIGHT : 32px;
$SIZE_FORM_MARGIN_LEFT : 12px;
$SIZE_FORM_MARGIN_RIGHT : 12px;

//PULL DOWM MENU
$SIZE_PULL_DOWM_HEIGHT_MAIN : 32px;
$SIZE_PULL_DOWM_HEIGHT_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_WIDTH_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_TOP_MARGIN_SUB : 8px;
$SIZE_PULL_DOWM_HEIGHT_SUB : 32px;
$SIZE_PULL_DOWM_BOTTOM_MARGIN_SUB : 8px;
$SIZE_PULL_DOWM_MARGIN_MAIN_AND_SUB : 1px;
$SIZE_PULL_DOWM_MARGIN_LFFT : 12px;

//CASCATIONG MENU MAIN
$SIZE_CASCATING_MAIN_HEIGHT : 44px;
$SIZE_CASCATING_MAIN_MARGIN_TOP : 8px;
$SIZE_CASCATING_MAIN_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_MAIN_MARGIN_LEFT : 16px;
$SIZE_CASCATING_MAIN_MARK_WIDTH : 36px;

//CASCATING MENU SUB
$SIZE_CASCATING_SUB_HEIGHT : 44px;
$SIZE_CASCATING_SUB_MARGIN_TOP : 8px;
$SIZE_CASCATING_SUB_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_SUB_MARGIN_RIGHT : 16px;

//DIALOG(TOAST)
$SIZE_DIALOG_HEIGHT : 200px;
$SIZE_DIALOG_WIDTH : 480px;
$SIZE_DIALOG_ICON_HEIHGT : 64px;
$SIZE_DIALOG_ICON_WIDTH : 64px;
$SIZE_DIALOG_ICON_MARGIN_LEFT : 48px;
$SIZE_DIALOG_ICON_MARGIN_RIGHT : 48px;
$SIZE_DIALOG_TEXT_WIDTH : 268px;
$SIZE_DIALOG_TEXT_MARGIN_RIGHT : 60px; 

//画面共通
$SIZE_FACE_PAGE_SEPARATOR_BOARDER_THICKNESS : 1px;

//HEADER
$SIZE_HEADER_HEIGHT:72px;
$SIZE_HEADER_BOARDER_THICKNESS:1px;
$SIZE_HEADER_TITLE_PADDING_TOP:20px;

//HOME
//HEADER
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_HEIGHT:60px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_HEIGHT:40px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_TOP : 6px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_LEFT : 4px;


//FULL CUSTOM
//propaty area
$SIZE_PROPATY_AREA_WIDTH : 280px;
$SIZE_PROPATY_AREA_HEIGHT : 580px;
$SIZE_PROPATY_AREA_MARGIN_TOP : 60px;
$SIZE_PROPATY_AREA_BORDER_THICKNESS : 1px;
$SIZE_PROPATY_AREA_PREVIEW_WIDTH : 100%;
$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP:20px;
$SIZE_PROPATY_AREA_PREVIEW_MARING_BOTTOM:$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP;
$SIZE_PROPATY_ITEM_DETAIL_MARGIN : 20px;
$SIZE_PROPATY_AREA_LAYOUT_LABEL_WIDTH : 120px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_WIDTH : 110px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_MARING_LEFT : 10px;
$SIZE_PROPATY_AREA_ONE_LINE_LABEL_MARGIN_BOTTOM:8px;
$SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT : 8px;
$SIZE_PROPATY_AREA_DELETE_BTN_WIDTH : 64px;
$SIZE_PROPATY_AREA_PREVIEW_HEIGHT_MIN : 160px;
$SIZE_PROPATY_AREA_STATE_IMAGE_MARGIN_TOP : 16px;
$SIZE_PROPATY_AREA_INPUT_MAX_WIDTH:$SIZE_PROPATY_AREA_WIDTH -$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP*2; 

// canvas area(画面中央のリモコンをレイアウトエリア)
$SIZE_CANVAS_AREA_WIDTH : 316px;
$SIZE_CANVAS_AREA_HEIGHT: 580px;
$SIZE_CANVAS_AREA_MARGIN_TOP : 60px;

// canvas(HUIS本体の画像があるエリア)
$SIZE_CANVAS_WIDTH : $SIZE_CANVAS_AREA_WIDTH*2;
$SIZE_CANVAS_HEIGHT :$SIZE_CANVAS_AREA_HEIGHT*2;

// canvas inner
$SIZE_CANVAS_INNER_PADDING_TOP : 28px * 2;
$SIZE_CANVAS_INNER_PADDING_LEFT : 24px *2;
$SIZE_CANVAS_INNER_PADDING_RIGHT : 24px *2;

//face pages area(グリッドが描写されるエリア)
$SIZE_FACE_PAGES_AREA_WIDTH : 268px * 2;
$SIZE_FACE_PAGES_AREA_HEIGHT : 436px * 2;
$SIZE_FACE_PAGES_AREA_MARING_TOP : 6px *2;

//face page(実際に、リモコンボタンを配置するエリア)
$SIZE_FACE_PAGE_WIDTH : 480px;
$SIZE_FACE_PAGE_HEIGHT : 812px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_LEFT : 28px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_TOP : 26px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_BOTTOM : 34px;

//face name area(リモコンの名前を編集するエリア)
$SIZE_FACE_NAME_AREA_WIDTH : 234px * 2;
$SIZE_FACE_NAME_AREA_HEIGHT : 32px * 2;

//canvas item (canvasないに配置されるボタン)
$SIZE_CANVAS_ITEM_BORDER_THICKNESS : 1px * 2;
$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED : 2px *2;
$SIZE_CANVAS_ITEM_RESIZER_THICKNESS : 2px*2;
$SIZE_CANVAS_ITEM_RESIZER_WIDTH : 10px * 2;
$SIZE_CANVAS_ITEM_RESIZER_HEIGHT : 10px * 2;

//button-add page (新規ページボタン)
$SIZE_BUTTON_ADD_PAGE_WIDTH : 88px;
$SIZE_BUTTON_ADD_PAGE_HEIGHT:$SIZE_BUTTON_HEIGHT;
$SIZE_BUTTON_ADD_PAGE_RIGHT: 24px;
$SIZE_BUTTON_ADD_PAGE_BOTTOM :22px;

// pallet area
$SIZE_PALLET_AREA_WIDTH : 392px;
$SIZE_PALEET_AREA_MARGIN_TOP : 60px;
$SIZE_PALLET_AREA_HEIGHT : 580px;

// pallet の中の、リモコンが表示されるエリア
$SIZE_FACE_IN_PALLET_WIDTH : 280px;
$SIZE_FACE_IN_PALLET_HEIGHT : 520px;
$SIZE_FACE_IN_PALLET_MARING_TOP :20px;

// pallet の中の　リモコン
$SIZE_FACE_PAGE_AREA_HEIGHT : $SIZE_FACE_IN_PALLET_HEIGHT*2;//半分のサイズに縮小されるので実際は240px
$SIZE_FACE_PAGE_AREA_WIDTH : 480px;//半分のサイズに縮小されるので実際は20px
$SIZE_FACE_PAGE_AREA_PADDING_LEFT : 40px;
$SIZE_FACE_PAGE_AREA_PADDING_RIGHT : $SIZE_FACE_PAGE_AREA_PADDING_LEFT;
$SIZE_FACE_PAGES_AREA_BORDER_THICKNESS : 1px;

//リモコンのボタン
$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS :1px;

// palletのヘッダー
$SIZE_FACE_ITEM_LIST_CONTAINER_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_CONTAINER_WIDTH : $SIZE_PALLET_AREA_WIDTH;
$SIZE_FACE_ITEM_LIST_WIDTH : 280px;
$SIZE_FACE_ITEM_LIST_MARGIN_RIGHT : 16px;
$SIZE_FACE_ITEM_LIST_LINE_HEIGHT : 32px;
$SIZE_FACE_ITEM_LIST_ITEM_RADIUS_HOVER : 4px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT : 12px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_TOP :4px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT : 8px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_HEIGHT:32px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_HEIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_WIDTH : 16px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_LEFT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;


////////////////////////////////
//色・透明度　関連
////////////////////////////////

//base color
$COLOR_BLUE_LIGHT_GRAY : #DBDEEF;
$COLOR_BLACK : #000000;
$COLOR_WHITE : #FFFFFF;
$COLOR_LIGHT_GREEN : #00C588;
$COLOR_LIGHT_GRAY : #DDDDDD;
$COLOR_LIGHT_GRAY_2 : #CBCBCB;
$COLOR_LIGHT_GRAY_3 : #F0F0F0; 
$COLOR_NEAR_BLACK : #999999;
$COLOR_NEAR_WHITE : #F2F2F2;
$COLOR_GRAY : #4F4F4F;

//テキスト全般
$COLOR_TEXT_MAIN : $COLOR_BLACK;
$COLOR_TEXT_ACCENT : $COLOR_LIGHT_GREEN;

//スクロールバー
$COLOR_SCROLL_BAR_NORMAL : $COLOR_BLACK;
$COLOR_SCROLL_BAR_HOVER : $COLOR_BLACK;
$COLOR_SCROLL_BAR_PRESSED : $COLOR_BLACK;
$OPACITY_SCROLL_BAR_NORMAL  : 1.0;
$OPACITY_SCROLL_BAR_HOVER   : 0.6;
$OPACITY_SCROLL_BAR_PRESSED : 0.4;

//TEXT BUTTON
$COLOR_BUTTON_NORMAL : $COLOR_BLACK;
$COLOR_BUTTON_HOVER : $COLOR_BLACK;
$COLOR_BUTTON_PRESED : $COLOR_LIGHT_GREEN;
$OPACITY_BUTTON_NORMAL : 0.2;
$OPACITY_BUTTON_HOVER : 0.1;
$OPACITY_BUTTON_PRESSED : 1.0;

//FORM(TEXT_FIELD)
$COLOR_FORM_BACKGROUND : $COLOR_WHITE;
$COLOR_FORM_BORDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_FORM_BORDER_HOVER : $COLOR_NEAR_BLACK;
$COLOR_FORM_BORDER_PRESSED : $COLOR_LIGHT_GREEN;

//PULL DOWM MENU
$COLOR_PULL_DOWN_BACKGROUND_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_PULL_DOWN_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWN_BACKGROUND_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWN_BORDER : $COLOR_LIGHT_GRAY_2;

//CASCATING　一段目
$COLOR_CASCATING_BACKGROUND_MAIN_NORMAL : $COLOR_WHITE;
$COLOR_CASCATING_BACKGROUND_MAIN_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_MAIN_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_MAIN : $COLOR_LIGHT_GRAY_2;

//CASCATING　二段目
$COLOR_CASCATING_BACKGROUND_SUB_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_CASCATING_BACKGROUND_SUB_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_SUB_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_SUB : $COLOR_LIGHT_GRAY_2;

//SLIDER BAR
$COLOR_SLIDER_LINE_BORADER : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_NORMAL : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_SLIDER_POINTER_BACKGROUND_FOCUS : $COLOR_LIGHT_GREEN;
$OPACITY_SLIDER_LINE : 0.4;

//DIALOG(TOAST)
$COLOR_DIALOG_BACKGROUND : $COLOR_BLACK;
$COLOR_DIALOG_MASK : $COLOR_BLACK;
$OPACITY_DIALOG_MASK : 0.4;

//画面共通
$COLOR_FACE_PAGE_SEPARATOR_BOARDER : $COLOR_LIGHT_GRAY_2;
$COLOR_COMMON_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;

//ヘッダー
$COLOR_HEADER_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;
$COLOR_HEADER_BORDER : $COLOR_NEAR_BLACK;
$COLOR_HEADER_TEXT : $COLOR_TEXT_MAIN;

//スプラッシュ画面
$COLOR_SPLASH_BACKGROUND : $COLOR_COMMON_BACKGROUND;

//ホーム画面
$COLOR_HOME_SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_HOME_BACKGROUND : $COLOR_COMMON_BACKGROUND;

$COLOR_HOME_REMOTE_BORDER : $COLOR_LIGHT_GRAY;

//フルカスタム画面
$COLOR_FULL_CUSTOM_SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_FULL_CUSTOM_BACKGROUND : $COLOR_COMMON_BACKGROUND;

//詳細編集エリア(フルカスタム画面の左側)
$COLOR_PROPATY_AREA_TEXT : $COLOR_TEXT_MAIN;

$COLOR_PROPATY_AREA_BACKGROUND:$COLOR_WHITE;
$COLOR_PROPATY_AREA_BORDER : $COLOR_LIGHT_GRAY;
$COLOR_PROPATY_PREVIEW_BORDER : $COLOR_LIGHT_GRAY_2;


//パレットエリア(フルカスタム画面の右側)
$COLOR_PALLET_AREA_BACKGROUND : $COLOR_WHITE;
$COLOR_PALLET_AREA_BORDER : $COLOR_LIGHT_GRAY;

$COLOR_FACE_ITEM_LIST_BACKGROUND : none;
$COLOR_FACE_ITEM_LIST_TEXT_NORMAL : $COLOR_TEXT_MAIN;
$COLOR_FACE_ITEM_LIST_TEXT_FOCUS : $COLOR_TEXT_ACCENT;
$COLOR_FACE_ITEM_LIST_TEXT_BACKGROUND_HOVER : $COLOR_WHITE;
$COLOR_FACE_ITEM_LIST_SCROLL_BUTTON : $COLOR_FULL_CUSTOM_BACKGROUND;
$COLOR_FACE_ITEM_LIST_SCROLL_MARGIN : $COLOR_HOME_BACKGROUND;

$COLOR_FACE_PAGES_AREA_BACKGROUND : $COLOR_WHITE;
$COLOR_FACE_PAGES_AREA_BOARDER : $COLOR_LIGHT_GRAY;

$COLOR_FACE_PAGES_AREA_ITEM_BORDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_FACE_PAGES_AREA_ITEM_BACKGROUND_HOVER :$COLOR_LIGHT_GRAY_3;
$COLOR_FACE_PAGES_AREA_ITEM_BORDER_HOVER : $COLOR_BLACK;


//キャンバスエリア(フルカスタム画面の中央)
$COLOR_CANVAS_SELECTED_ITEM_BACKGROUND : $COLOR_WHITE;
$COLOR_CANVAS_SELECTED_ITEM_BORDER : $COLOR_BLACK;
$OPACITY_CANVAS_SELECTED_ITEM_BACKGROUND : 0.6;

$COLOR_CANVAS_GRID_BORDER : $COLOR_GRAY;

//canvas item (canvasないに配置されるボタン)
$COLOR_CANVAS_ITEM_BORDER : $COLOR_GRAY;
$SIZE_CANVAS_ITEM_BORDER_SELECTED : $COLOR_BLACK;
$SIZE_CANVAS_ITEM_RESIZER_BORDER : $COLOR_LIGHT_GREEN;
$SIZE_CANVAS_ITEM_BACKGROUND : $COLOR_WHITE;

////////////////////////////////
//画像path　関連
////////////////////////////////
$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_NORMAL : url("../res/images/btn_arrow_left_normal.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_NORMAL : url("../res/images/btn_arrow_right_normal.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_HOVER : url("../res/images/btn_arrow_left_hover.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_HOVER : url("../res/images/btn_arrow_right_hover.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_ACTIVE : url("../res/images/btn_arrow_left_pressed.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_ACTIVE : url("../res/images/btn_arrow_right_pressed.png");
$PATH_IMG_CANVAS_AREA : url("../res/images/img_huis_tpl.png");
$PATH_IMG_CANVAS_FACE_PAGE : url("../res/images/img_huis_remote_area.png");
$PATH_IMG_CREATE_NEW_REMOTE_NORMAL:url("../res/images/btn_new_normal.png");
$PATH_IMG_CREATE_NEW_REMOTE_HOVER:url("../res/images/btn_new_hover.png");
$PATH_IMG_CREATE_NEW_REMOTE_ACTIVE:url("../res/images/btn_new_pressed.png");