
//base color
$COLOR_BLUE_LIGHT_GRAY : #DBDEDF;
$COLOR_BLUE_LIGHT_GRAY_0PERCENT : rgba(219,222,239,0);
$COLOR_BLACK : #000000;
$COLOR_BLACK_10PERCENT:rgba(0,0,0,0.1);
$COLOR_BLACK_20PERCENT:rgba(0,0,0,0.2);
$COLOR_BLACK_30PERCENT:rgba(0,0,0,0.3);
$COLOR_BLACK_40PERCENT:rgba(0,0,0,0.4);
$COLOR_BLACK_50PERCENT:rgba(0,0,0,0.5);
$COLOR_BLACK_60PERCENT:rgba(0,0,0,0.6);
$COLOR_BLACK_70PERCENT:rgba(0,0,0,0.7);
$COLOR_BLACK_80PERCENT:rgba(0,0,0,0.8);
$COLOR_BLACK_90PERCENT:rgba(0,0,0,0.9);
$COLOR_WHITE_10PERCENT:rgba(255,255,255,0.1);
$COLOR_WHITE_20PERCENT:rgba(255,255,255,0.2);
$COLOR_WHITE_30PERCENT:rgba(255,255,255,0.3);
$COLOR_WHITE_40PERCENT:rgba(255,255,255,0.4);
$COLOR_WHITE_50PERCENT:rgba(255,255,255,0.5);
$COLOR_WHITE_60PERCENT:rgba(255,255,255,0.6);
$COLOR_WHITE_70PERCENT:rgba(255,255,255,0.7);
$COLOR_WHITE_80PERCENT:rgba(255,255,255,0.8);
$COLOR_WHITE_90PERCENT:rgba(255,255,255,0.9);
$COLOR_WHITE : #FFFFFF;
$COLOR_LIGHT_GREEN : #00C588;
$COLOR_LIGHT_GRAY : #DDDDDD;
$COLOR_LIGHT_GRAY_2 : #CBCBCB;
$COLOR_LIGHT_GRAY_3 : #F0F0F0; 
$COLOR_LIGHT_GRAY_4 : #333333;
$COLOR_NEAR_BLACK : #999999;
$COLOR_NEAR_WHITE : #F2F2F2;
$COLOR_GRAY : #4F4F4F;
$COLOR_GRAY_2:#808080 ;
$COLOR_TRANSPARENT : rgba(255,255,255,0.0);

//テキスト全般
$COLOR_TEXT_MAIN : $COLOR_BLACK;
$COLOR_TEXT_ACCENT : $COLOR_LIGHT_GREEN;
$COLOR_TEXT_COMMON : $COLOR_TEXT_MAIN;

//スクロールバー
$COLOR_SCROLL_BAR_NORMAL : $COLOR_BLACK_40PERCENT;
$COLOR_SCROLL_BAR_HOVER : $COLOR_BLACK_60PERCENT;
$COLOR_SCROLL_BAR_PRESSED : $COLOR_BLACK;
$COLOR_SCROLL_BAR_THUMB_PADDING : $COLOR_TRANSPARENT;

//TEXT BUTTON
$COLOR_BUTTON_NORMAL : $COLOR_BLACK_20PERCENT;
$COLOR_BUTTON_HOVER : $COLOR_BLACK_10PERCENT;
$COLOR_BUTTON_PRESED : $COLOR_LIGHT_GREEN;
$COLOR_BUTTON_TEXT : $COLOR_TEXT_MAIN;

//FORM(TEXT_FIELD)
$COLOR_FORM_BACKGROUND : $COLOR_WHITE;
$COLOR_FORM_BORDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_FORM_BORDER_HOVER : $COLOR_NEAR_BLACK;
$COLOR_FORM_BORDER_FOUCS : $COLOR_LIGHT_GREEN;

//PULL DOWM MENU
$COLOR_PULL_DOWM_BACKGROUMD : $COLOR_WHITE;
$COLOR_PULL_DOWN_BACKGROUND_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_PULL_DOWN_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWN_BACKGROUND_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_PULL_DOWM_BORDER_NOMERL:$COLOR_LIGHT_GRAY_2;
$COLOR_PULL_DOWM_BORDER_HOVER:$COLOR_NEAR_BLACK;
$COLOR_PULL_DOWN_BORDER_FOCUS : $COLOR_LIGHT_GREEN;

//CASCATING　一段目
$COLOR_CASCATING_BACKGROUND_MAIN_NORMAL : $COLOR_WHITE;
$COLOR_CASCATING_BACKGROUND_MAIN_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_MAIN_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_MAIN : $COLOR_LIGHT_GRAY_2;

//CASCATING　二段目
$COLOR_CASCATING_BACKGROUND_SUB_NORMAL : $COLOR_NEAR_WHITE;
$COLOR_CASCATING_BACKGROUND_SUB_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BACKGROUND_SUB_SELECTED : $COLOR_LIGHT_GREEN;
$COLOR_CASCATING_BORDER_SUB : $COLOR_LIGHT_GRAY_2;

//OPTION MENU
$COLOR_OPTION_MENU_POPUP_BACKGROUND:$COLOR_NEAR_WHITE;
$COLOR_OPTION_MENU_POPUP_BORDER : $COLOR_LIGHT_GRAY;
$COLOR_OPTION_MENU_POPUP_TEXT : $COLOR_TEXT_MAIN;
$COLOR_OPTION_MENU_POPUP_TEXT_DISABLED_OPACITY : 0.4;
$COLOR_OPTION_MENU_POPUP_ITEM_BACKGROUND_HOVER:$COLOR_LIGHT_GREEN;
$COLOR_OPTION_MENU_POPUP_ITEM_BACKGROUND_ACTIVE:$COLOR_LIGHT_GREEN;

//SLIDER BAR
$COLOR_SLIDER_LINE_BORADER : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_NORMAL : $COLOR_BLACK;
$COLOR_SLIDER_POINTER_BACKGROUND_HOVER : $COLOR_LIGHT_GREEN;
$COLOR_SLIDER_POINTER_BACKGROUND_FOCUS : $COLOR_LIGHT_GREEN;
$OPACITY_SLIDER_LINE : 0.4;

//DIALOG(TOAST)
$COLOR_DIALOG_BACKGROUND : $COLOR_BLACK;
$OPACITY_DIALOG_MASK : 0.4;
$COLOR_DIALOG_MASK : $COLOR_BLACK;
$COLOR_DIALOG_TEXT:$COLOR_WHITE;

//画面共通
$COLOR_FACE_PAGE_SEPARATOR_BOARDER : $COLOR_LIGHT_GRAY_2;
$COLOR_COMMON_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;

//ヘッダー
$COLOR_HEADER_BACKGROUND : $COLOR_BLUE_LIGHT_GRAY;
$COLOR_HEADER_BORDER : $COLOR_NEAR_BLACK;
$COLOR_HEADER_TEXT : $COLOR_TEXT_MAIN;

//スプラッシュ画面
$COLOR_SPLASH_BACKGROUND : $COLOR_WHITE;
$COLOR_SPLASH_TEXT : $COLOR_GRAY_2;

//ホーム画面
$COLOR_HOME_SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_HOME_BACKGROUND : $COLOR_COMMON_BACKGROUND;

$COLOR_HOME_REMOTE_BACKGROUND: $COLOR_WHITE;
$COLOR_HOME_REMOTE_BORDER : $COLOR_LIGHT_GRAY;

$COLOR_HOME_INTRODUCTION_TEXT:$COLOR_TEXT_MAIN;
$COLOR_HOME_INTRODUCTION_TEXT_ACCENT:$COLOR_TEXT_ACCENT;


$COLOR_HOME_FOOTOR_BACKGROUND : linear-gradient(to bottom,$COLOR_BLUE_LIGHT_GRAY_0PERCENT 0%, $COLOR_BLUE_LIGHT_GRAY 100%);


//フルカスタム画面
$COLOR_FULL_CUSTOM_SEPARATOR_HEADER : $COLOR_NEAR_BLACK;

$COLOR_FULL_CUSTOM_BACKGROUND : $COLOR_COMMON_BACKGROUND;

//詳細編集エリア(フルカスタム画面の左側)
$COLOR_PROPATY_AREA_TEXT : $COLOR_TEXT_MAIN;

$COLOR_PROPATY_AREA_BACKGROUND:$COLOR_WHITE;
$COLOR_PROPATY_AREA_BORDER : $COLOR_LIGHT_GRAY;
$COLOR_PROPATY_PREVIEW_BORDER : $COLOR_LIGHT_GRAY_2;
$COLOR_PROPATY_AREA_SUBTITLE : $COLOR_LIGHT_GRAY_4;

//パレットエリア(フルカスタム画面の右側)
$COLOR_PALLET_AREA_BACKGROUND : $COLOR_WHITE;
$COLOR_PALLET_AREA_BORDER : $COLOR_LIGHT_GRAY;

$COLOR_FACE_ITEM_LIST_BACKGROUND : none;
$COLOR_FACE_ITEM_LIST_TEXT_NORMAL : $COLOR_TEXT_MAIN;
$COLOR_FACE_ITEM_LIST_TEXT_FOCUS : $COLOR_TEXT_ACCENT;
$COLOR_FACE_ITEM_LIST_TEXT_BACKGROUND_HOVER : $COLOR_WHITE_40PERCENT;
$COLOR_FACE_ITEM_LIST_SCROLL_BUTTON : $COLOR_FULL_CUSTOM_BACKGROUND;
$COLOR_FACE_ITEM_LIST_SCROLL_MARGIN : $COLOR_HOME_BACKGROUND;

$COLOR_FACE_PAGES_AREA_BACKGROUND : $COLOR_WHITE;
$COLOR_FACE_PAGES_AREA_BOARDER : $COLOR_LIGHT_GRAY;
$COLOR_NAME_AREA_BORDER : $COLOR_TRANSPARENT;

$COLOR_FACE_PAGES_AREA_ITEM_BORDER_NORMAL : $COLOR_LIGHT_GRAY_2;
$COLOR_FACE_PAGES_AREA_ITEM_BACKGROUND_HOVER :$COLOR_LIGHT_GRAY_3;
$COLOR_FACE_PAGES_AREA_ITEM_BORDER_HOVER : $COLOR_BLACK;

$COLOR_PALLET_GRADATION_TOP : linear-gradient(to top,$COLOR_BLUE_LIGHT_GRAY_0PERCENT 0%, $COLOR_BLUE_LIGHT_GRAY 100%);
$COLOR_PALLET_GRADATION_BOTTOM : linear-gradient(to bottom,$COLOR_BLUE_LIGHT_GRAY_0PERCENT 0%, $COLOR_BLUE_LIGHT_GRAY 100%);

//キャンバスエリア(フルカスタム画面の中央)
$COLOR_CANVAS_SELECTED_ITEM_BACKGROUND : $COLOR_WHITE_60PERCENT;
$COLOR_CANVAS_SELECTED_ITEM_BORDER : $COLOR_BLACK;
$COLOR_CANVAS_GRID_BORDER : $COLOR_GRAY;
$COLOR_CANVAS_ITEM_HOVER : $COLOR_WHITE_60PERCENT;

//canvas item (canvasないに配置されるボタン)
$COLOR_CANVAS_ITEM_BORDER : $COLOR_GRAY;
$SIZE_CANVAS_ITEM_BORDER_SELECTED : $COLOR_BLACK;
$SIZE_CANVAS_ITEM_RESIZER_BORDER : $COLOR_LIGHT_GREEN;
$SIZE_CANVAS_ITEM_BACKGROUND : $COLOR_WHITE;