//font size
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;

//text size
$TEXT_HEIGHT_DEFAULT : 1.5em;

//text family
$FONT_FAMILY_NORMAL :normal;
$FONT_FAMILY_BOLD : bold;
$FONT_FAMILY_LIGHT : lighter;

//common
$FONT_FAMILY_COMMON : $FONT_FAMILY_LIGHT;
$FONT_HEIGHT_COMMON : $TEXT_HEIGHT_DEFAULT;
//共有UI
//text button
$FONT_SIZE_TEXT_BUTTON : $FONT_SIZE_SS;
$FONT_FAMILY_TEXT_BUTTON : $FONT_FAMILY_LIGHT;

//pull dowm menu
$FONT_SIZE_PULL_DOWM_MENU : $FONT_SIZE_SS;
$FONT_FAMILY_PULL_DOWM_MENU : $FONT_FAMILY_LIGHT;

//dialog
$FONT_SIZE_DIALOG_TEXT : $FONT_SIZE_S;
$FONT_WEIGHT_DIALOG_TEXT : $FONT_FAMILY_LIGHT;

//HEADER
$FONT_SIZE_TITLE: $FONT_SIZE_LL;
$FONT_FAMILY_TITLE:$FONT_FAMILY_NORMAL;

//option menu
$FONT_SIZE_OPTION_MENU_POPUP_ITEM:$FONT_SIZE_SS;
$FONT_WEIGHT_OPTION_MENU_POPUP_ITEM:$FONT_FAMILY_LIGHT;

//SPLASH
$FONT_SIZE_SPLASH_MESSAGE : $FONT_SIZE_S;
$FONT_FAMILY_SPLASH_MESSAGE : $FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_SPLASH_MESSAGE : $TEXT_HEIGHT_DEFAULT;

//HOME
$FONT_HOME_REMOTE_TITLE:$FONT_SIZE_LL;
$FONT_FAMILY_HOME_REMOTE_TITLE :$FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_HOME_REMOTE_TITLE:$FONT_HOME_REMOTE_TITLE*1.5;
$FONT_SIZE_HOME_INTRODUCTION_TEXT : $FONT_SIZE_LL;
$FONT_WEIGHT_HOME_INTRODUCTION_TEXT: $FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_HOME_INTRODUCTION_TEXT : 2.0em;

//FULL CUSTOM
$FONT_SIZE_FACE_ITEM_LIST_ITEM : $FONT_SIZE_M;
$FONT_FAMILY_FACE_ITEM_LIST_ITEM : $FONT_FAMILY_LIGHT;
$FONT_SIZE_ADD_PAGE_BUTTON : $FONT_SIZE_TEXT_BUTTON;
$FONT_FAMILY_ADD_PAGE_BUTTON : $FONT_FAMILY_TEXT_BUTTON;

//propaty area
$FONT_SIZE_PROPATY_MAIN_TEXT : $FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H4:$FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H3:$FONT_SIZE_M;
$FONT_SIZE_PROPATY_H5:$FONT_SIZE_SSS;
$FONT_SIZE_PROPATY_BUTTON_INFO:$FONT_SIZE_SSS;

//canvas area
$FONT_SIZE_CANVAS_NAME_AREA : $FONT_SIZE_SS*2;
$FONT_FAMILY_CANVAS_NEAME_AREA : $FONT_FAMILY_LIGHT;