//font-family
$FONT_FAMILY_COMMON_SST_LIGHT : 'SST LIGHT';
$FONT_FAMILY_COMMON_SST_REGULAR : 'SST REGULAR';
$FONT_FAMILY_COMMON_SST_BOLD : 'SST BOLD';
$FONT_FAMILY_COMMON_NOTO_LIGHT : "Noto Sans CJK JP LIGHT";
$FONT_FAMILY_COMMON_NOTO_REGULAR : "Noto Sans CJK JP REGULAR";
$FONT_FAMILY_COMMON_NOTO_BOLD : "Noto Sans CJK JP BOLD";
$FONT_FAMILY_COMMON_ARIAL : Arial;
$FONT_FAMILY_COMMON_HELVETICA : Helvetica;
$FONT_FAMILY_COMMON_SANS_SERIF : sans-serif;

$FONT_FAMILY_COMMON_CONBINED_LIGHT : $FONT_FAMILY_COMMON_SST_LIGHT,$FONT_FAMILY_COMMON_NOTO_LIGHT,  $FONT_FAMILY_COMMON_ARIAL, $FONT_FAMILY_COMMON_HELVETICA, $FONT_FAMILY_COMMON_SANS_SERIF;

$FONT_FAMILY_COMMON_CONBINED_REGULAR : $FONT_FAMILY_COMMON_SST_REGULAR,$FONT_FAMILY_COMMON_NOTO_LIGHT,  $FONT_FAMILY_COMMON_ARIAL, $FONT_FAMILY_COMMON_HELVETICA, $FONT_FAMILY_COMMON_SANS_SERIF;

$FONT_FAMILY_COMMON_CONBINED_BOLD : $FONT_FAMILY_COMMON_SST_BOLD,$FONT_FAMILY_COMMON_NOTO_BOLD,  $FONT_FAMILY_COMMON_ARIAL, $FONT_FAMILY_COMMON_HELVETICA, $FONT_FAMILY_COMMON_SANS_SERIF;

//font size
$FONT_SIZE_SSS : 12px;
$FONT_SIZE_SS : 14px;
$FONT_SIZE_S : 16px;
$FONT_SIZE_M : 18px;
$FONT_SIZE_L : 20px;
$FONT_SIZE_LL : 24px;
$FONT_SIZE_LLL : 36px;

//text size
$TEXT_HEIGHT_DEFAULT : 1.5em;

//text family
$FONT_FAMILY_LIGHT : $FONT_FAMILY_COMMON_CONBINED_LIGHT;
$FONT_FAMILY_NORMAL :$FONT_FAMILY_COMMON_CONBINED_REGULAR;
$FONT_FAMILY_BOLD : $FONT_FAMILY_COMMON_CONBINED_BOLD;

//common
$FONT_FAMILY_COMMON : $FONT_FAMILY_LIGHT;
$FONT_HEIGHT_COMMON : $TEXT_HEIGHT_DEFAULT;

//共有UI
//text button
$FONT_SIZE_TEXT_BUTTON : $FONT_SIZE_SS;
$FONT_FAMILY_TEXT_BUTTON : $FONT_FAMILY_LIGHT;

//tooltip
$FONT_SIZE_TOOL_TIP : $FONT_SIZE_SSS;

//pull dowm menu
$FONT_SIZE_PULL_DOWM_MENU : $FONT_SIZE_SS;
$FONT_FAMILY_PULL_DOWM_MENU : $FONT_FAMILY_LIGHT;

//dialog
$FONT_SIZE_DIALOG_TEXT : $FONT_SIZE_S;
$FONT_WEIGHT_DIALOG_TEXT : $FONT_FAMILY_LIGHT;

//about
$FONT_SIZE_DIALOG_TEXT : $FONT_SIZE_SS;

//HEADER
$FONT_SIZE_TITLE: $FONT_SIZE_LL;
$FONT_FAMILY_TITLE:$FONT_FAMILY_NORMAL;

//option menu
$FONT_SIZE_OPTION_MENU_POPUP_ITEM:$FONT_SIZE_SSS;
$FONT_WEIGHT_OPTION_MENU_POPUP_ITEM:$FONT_FAMILY_LIGHT;

//SPLASH
$FONT_SIZE_SPLASH_MESSAGE : $FONT_SIZE_S;
$FONT_FAMILY_SPLASH_MESSAGE : $FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_SPLASH_MESSAGE : $TEXT_HEIGHT_DEFAULT;

//HOME
$FONT_HOME_REMOTE_TITLE:$FONT_SIZE_LL;
$FONT_FAMILY_HOME_REMOTE_TITLE :$FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_HOME_REMOTE_TITLE:$FONT_HOME_REMOTE_TITLE*1.5;
$FONT_SIZE_HOME_INTRODUCTION_TEXT : $FONT_SIZE_LL;
$FONT_WEIGHT_HOME_INTRODUCTION_TEXT: $FONT_FAMILY_LIGHT;
$FONT_LINE_HEIGHT_HOME_INTRODUCTION_TEXT : 2.0em;

//FULL CUSTOM
$FONT_SIZE_FACE_ITEM_LIST_ITEM : $FONT_SIZE_M;
$FONT_FAMILY_FACE_ITEM_LIST_ITEM : $FONT_FAMILY_LIGHT;
$FONT_SIZE_ADD_PAGE_BUTTON : $FONT_SIZE_TEXT_BUTTON;
$FONT_FAMILY_ADD_PAGE_BUTTON : $FONT_FAMILY_TEXT_BUTTON;

//propaty area
$FONT_SIZE_PROPATY_MAIN_TEXT : $FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H4:$FONT_SIZE_SS;
$FONT_SIZE_PROPATY_H3:$FONT_SIZE_M;
$FONT_SIZE_PROPATY_H5:$FONT_SIZE_SSS;
$FONT_SIZE_PROPATY_BUTTON_INFO:$FONT_SIZE_SS;
$FONT_FAMILY_PROPATY_H3:$FONT_FAMILY_LIGHT;
$FONT_WEIGHT_PROPATY_X_Y_W_H :$FONT_FAMILY_LIGHT;

$FONT_FAMILY_PROPATY_EDIT_IMAGE_POPUP : $FONT_FAMILY_COMMON_CONBINED_LIGHT;
$FONT_SIZE_PROPATY_EDIT_IMAGE_POPUP : $FONT_SIZE_SS;

//text field in preview
$FONT_SIZE_PROPATY_TITLE_EDIT_LABEL : $FONT_SIZE_SS;
$FONT_FAMILY_PROPATY_TITLE_EDIT_LABEL : $FONT_FAMILY_COMMON_CONBINED_LIGHT;

//canvas area
$FONT_SIZE_CANVAS_NAME_AREA : $FONT_SIZE_SS;
$FONT_WEIGHT_BUTTON_ITEM : $FONT_FAMILY_BOLD;
$FONT_WEIGHT_LABEL_ITEM : $FONT_FAMILY_NORMAL;

//フォントのパス
$PATH_FONT_SST_NORMAL : url(../res/fonts/regular/SSTJpPro-Regular.otf) format('opentype');
$PATH_FONT_SST_NORMAL_IE : url(../res/fonts/regular/8804b8af-432e-44cc-8a34-eda854e2da36.eot);
$PATH_FONT_SST_BOLD :url(../res/fonts/bold/SSTJpPro-Bold.otf) format('opentype');
$PATH_FONT_SST_BOLD_IE : url(../res/fonts/bold/5a23571a-930f-4cf7-a194-6bdb9afd30d4.eot);
$PATH_FONT_SST_LIGHT : url(../res/fonts/light/SSTJpPro-Light.otf) format('opentype');
$PATH_FONT_SST_LIGHT_IE : url(../res/fonts/light/5a23571a-930f-4cf7-a194-6bdb9afd30d4.eot);

$PATH_FONT_NOTO_LIGHT :  url(../res/fonts/NotoSansCJKjp-Light-subset.otf) format('opentype');
$PATH_FONT_NOTO_NORMAL : url(../res/fonts/NotoSansCJKjp-Regular-subset.otf) format('opentype');
$PATH_FONT_NOTO_BOLD : url(../res/fonts/NotoSansCJKjp-Bold-subset.otf) format('opentype');