$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_NORMAL : url("../res/images/btn_arrow_left_normal.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_NORMAL : url("../res/images/btn_arrow_right_normal.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_HOVER : url("../res/images/btn_arrow_left_hover.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_HOVER : url("../res/images/btn_arrow_right_hover.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_LEFT_ACTIVE : url("../res/images/btn_arrow_left_pressed.png");
$PATH_IMG_FACE_ITEM_LIST_SCROLL_RIGHT_ACTIVE : url("../res/images/btn_arrow_right_pressed.png");
$PATH_IMG_CANVAS_AREA : url("../res/images/img_huis_tpl.png");
$PATH_IMG_CANVAS_FACE_PAGE : url("../res/images/img_huis_remote_area.png");
$PATH_IMG_CREATE_NEW_REMOTE_NORMAL:url("../res/images/btn_new_normal.png");
$PATH_IMG_CREATE_NEW_REMOTE_HOVER:url("../res/images/btn_new_hover.png");
$PATH_IMG_CREATE_NEW_REMOTE_ACTIVE:url("../res/images/btn_new_pressed.png");
$PATH_IMG_SYNC_BTN_NORMAL:url("../res/images/btn_sync_normal.png");
$PATH_IMG_SYNC_BTN_HOVER:url("../res/images/btn_sync_hover.png");
$PATH_IMG_SYNC_BTN_ACTIVE:url("../res/images/btn_sync_pressed.png");
$PATH_IMG_OPTION_MENU_BTN_NORMAL:url("../res/images/btn_option_normal.png");
$PATH_IMG_OPTION_MENU_BTN_HOVER:url("../res/images/btn_option_hover.png");
$PATH_IMG_OPTION_MENU_BTN_ACTIVE:url("../res/images/btn_option_pressed.png");
$PATH_IMG_SAVE_BTN_NORMAL:url("../res/images/btn_done_normal.png");
$PATH_IMG_SAVE_BTN_HOVER:url("../res/images/btn_done_hover.png");
$PATH_IMG_SAVE_BTN_ACTIVE:url("../res/images/btn_done_pressed.png");
$PATH_IMG_BACK_BTN_NORMAL:url("../res/images/btn_back_normal.png");
$PATH_IMG_BACK_BTN_HOVER:url("../res/images/btn_back_hover.png");
$PATH_IMG_BACK_BTN_ACTIVE:url("../res/images/btn_back_pressed.png");
$PATH_IMG_SPLASH_HUIS_LOGO:url("../res/images/huis_ui_creator_logo.png");
$PATH_IMG_SPLASH_SPINNER:url("../res/images/icon_sync_green.png");
$PATH_IMG_PULL_DOWM_MENU_ICON_DOWM:url("../res/images/pulldowmmenu_dowm_icon.png");
$PATH_IMG_PULL_DOWM_MENU_ICON_UP:url("../res/images/pulldowmmenu_up_icon.png");
$PATH_IMG_DIALOG_SPINNER:url("../res/images/icon_sync_white.png");
$PATH_IMG_HOME_INTRODUCTION_REMOTES:url("../res/images/img_no_controller.png");
$PATH_IMG_HOME_INTRODUCTION_VECTOR:url("../res/images/img_arrow.png");
$PATH_IMG_DIALOG_DONE_ICON :url("../res/images/icon_done.png");

//propaty area
$PATH_IMG_PROPATY_AREA_EDIT_IMG_NORMAL :url("../res/images/img_edit_image.png");
$PATH_IMG_PROPATY_AREA_EDIT_IMG_ACTIVE :url("../res/images/img_edit_image_pressed.png");
$PATH_IMG_PROPATY_AREA_POPUP_ICON_IMAGE_BUTTON :url("../res/images/img_edit_image_popup_image.png");
$PATH_IMG_PROPATY_AREA_POPUP_ICON_TEXT_BUTTON :url("../res/images/img_edit_image_popup_text.png");
$PATH_IMG_POPUP_ARROW : url("../res/images/icon_guide_arrow.png");
$PATH_IMG_TITLE_EDIT_LABEL_ICON : url("../res/images/img_edit_text.png");
$PATH_IMG_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_NOMAL : url("../res/images/img_edit_delete_background_image.png");
$PATH_IMG_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_HOVER : url("../res/images/img_edit_delete_background_image.png");