@import "_font.scss";

//Scroll Bar
$SIZE_SCROLL_BAR_WHOLE_HEIGHT : 20px;
$SIZE_SCROLL_BAR_VERTICL_WHOLE_WIDTH : 12px;
$SIZE_SCROLL_BAR_HEIGHT : 4px;
$SIZE_SCROLL_BAR_BORDER_HORIZONTAL_TOP : ($SIZE_SCROLL_BAR_WHOLE_HEIGHT - $SIZE_SCROLL_BAR_HEIGHT)/2;
$SIZE_SCROLL_BAR_BORDER_HORIZONTAL_BOTTOM : $SIZE_SCROLL_BAR_BORDER_HORIZONTAL_TOP;
$SIZE_SCROLL_BAR_BORDER_HORIZONTAL_LEFT :4px;
$SIZE_SCROLL_BAR_BORDER_HORIZONTAL_RIGHT :4px;
$SIZE_SCROLL_BAR_BORDER_VERTICAL_LEFT : 4px;
$SIZE_SCROLL_BAR_BORDER_VERTICAL_RIGHT : 4px;
$SIZE_SCROLL_BAR_BORDER_VERTICAL_TOP : 4px;
$SIZE_SCROLL_BAR_BORDER_VERTICAL_BOTTOM : 4px;

//tooltip
$SIZE_TOOLTIP_HEIGHT:24px;
$SIZE_TOOLTIP_PADDING_SIDE : 8px;
$SIZE_TOOLTIP_MAGIN_TOP :-6px;
$SIZE_PLUS_TN_TOOLTIP_MAGIN_BOTTOM : -$SIZE_TOOLTIP_HEIGHT;
$SIZE_TOOLTIP_BORDER_THICKNESS : 1px;

//TEXT BUTTON
$SIZE_BUTTON_HEIGHT : 32px;

//FORM(TEXT_FIELD)
$SIZE_FORM_HEIGHT : 32px;
$SIZE_FORM_PADDING_LEFT : 12px;
$SIZE_FORM_PADDING_RIGHT : 12px;
$SIZE_FORM_BORDER_THICKNESS : 1px;
$SIZE_FORM_BORDER_THICKNESS_FOCUS : 2px;
$SIZE_FORM_PADDING_LEFT_FOCUS : $SIZE_FORM_PADDING_LEFT -($SIZE_FORM_BORDER_THICKNESS_FOCUS - $SIZE_FORM_BORDER_THICKNESS);
$SIZE_FORM_PADDING_RIGHT_FOCUS : $SIZE_FORM_PADDING_RIGHT -($SIZE_FORM_BORDER_THICKNESS_FOCUS - $SIZE_FORM_BORDER_THICKNESS);

//PULL DOWM MENU
$SIZE_PULL_DOWM_DEFAULT_WIDTH : 240px;
$SIZE_PULL_DOWM_MARGIN_TOP : 4px;
$SIZE_PULL_DOWM_HEIGHT_MAIN : 32px;
$SIZE_PULL_DOWM_HEIGHT_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_WIDTH_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_SUB_TOP_PADDING : 8px;
$SIZE_PULL_DOWM_HEIGHT_SUB : 32px;
$SIZE_PULL_DOWM_SUB_PADDING_BOTTOM : 8px;
$SIZE_PULL_DOWM_MARGIN_MAIN_AND_SUB : 1px;
$SIZE_PULL_DOWM_PADDING_LFFT : 12px;
$SIZE_PULL_DOWM_PADDING_RIGHT : $SIZE_PULL_DOWM_HEIGHT_DOWM_MARK;
$SIZE_PULL_DOWM_BORDER_THICKNESS : 1px;
$SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS : 2px;
$SIZE_PULL_DOWM_PADDING_LFFT_FOCUS : $SIZE_PULL_DOWM_PADDING_LFFT -($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
$SIZE_PULL_DOWM_PADDING_RIGHT_FOCUS : $SIZE_PULL_DOWM_PADDING_RIGHT -($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
//menu windowの最大値。10こ分はスクロールせずに表示
$SIZE_PULL_DOWM_MAX_HEIGHT : $SIZE_PULL_DOWM_HEIGHT_SUB*8 + $SIZE_PULL_DOWM_MARGIN_TOP;
$SIZE_PULL_DOWN_FOCUS_PADDING_LEFT : $SIZE_PULL_DOWM_PADDING_LFFT - ($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
$SIZE_PULL_DOWM_PADDING_RIGHT : $SIZE_PULL_DOWM_PADDING_RIGHT - ($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
$SIZE_PULL_DOWN_IMG_POSITION_X_FOCUS : (-1)*($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
$SIZE_PULL_DOWN_IMG_POSITION_Y_FOCUS : (-1)*($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);



//OPTION MENU 
$SIZE_OPTION_MENU_POPUP_BORDER_THICKNESS : 1px;
$SIZE_OPTION_MENU_POPUP_WIDTH : 250px;
$SIZE_OPTION_MENU_POPUP_ITEM_HEIGHT:32px;
$SIZE_OPTION_MENU_POPUP_PADDING_TOP:8px;
$SIZE_OPTION_MENU_POPUP_PADDING_BOTTOM:$SIZE_OPTION_MENU_POPUP_PADDING_TOP;
$SIZE_OPTIOM_MENU_POPUP_ITEM_PADDING_LEFT : 12px;
$SIZE_OPTION_MENU_POPUP_ITEM_SEPARATOR_BORDER_THICKNESS : 1px;
$SIZE_OPTIOM_MENU_POPUP_ITEM_PADDING_RIGHT:$SIZE_OPTIOM_MENU_POPUP_ITEM_PADDING_LEFT;
$SIZE_OPTION_MENU_POPUP_ITEM_MARGIN_TOP:1px;

//吹き出しポップアップ
$SIZE_POPUP_ARROW_WIDTH : 15px;
$SIZE_POPUP_ARROW_HEIGHT : 14px;
$SIZE_POPUP_ARROW_MINUS_MARGIN : -6px;
$SIZE_POPUP_ARROW_MINUS_MARGIN_BOTTOM : -1px;

//CASCATIONG MENU MAIN
$SIZE_CASCATING_MAIN_HEIGHT : 44px;
$SIZE_CASCATING_MAIN_MARGIN_TOP : 8px;
$SIZE_CASCATING_MAIN_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_MAIN_MARGIN_LEFT : 16px;
$SIZE_CASCATING_MAIN_MARK_WIDTH : 36px;

//CASCATING MENU SUB
$SIZE_CASCATING_SUB_HEIGHT : 44px;
$SIZE_CASCATING_SUB_MARGIN_TOP : 8px;
$SIZE_CASCATING_SUB_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_SUB_MARGIN_RIGHT : 16px;

//DIALOG
$SIZE_DIALOG_HEIGHT : 200px;
$SIZE_DIALOG_WIDTH : 480px;
$SIZE_DIALOG_ICON_HEIHGT : 64px;
$SIZE_DIALOG_ICON_WIDTH : 64px;
$SIZE_DIALOG_ICON_MARGIN_LEFT : 48px;
$SIZE_DIALOG_ICON_MARGIN_RIGHT : 40px;
$SIZE_DIALOG_TEXT_WIDTH : 268px;
$SIZE_DIALOG_TEXT_MARGIN_RIGHT : 60px; 

//TOAST
$SIZE_TOAST_HEIGHT : 32px;
$SIZE_TOAST_MINUS_MARGIN_TOP : -550px;
$SIZE_TOAST_PADDING_LEFT : 32px;
$SIZE_TOAST_PADDING_RIGHT : 32px;

//ABOUT
$SIZE_ABOUT_DIALOG_HEIGHT : 600px;
$SIZE_ABOUT_DIALOG_MARGIN_TOP : 16px;
$SIZE_ABOUT_DIALOG_MARGIN_BOTTOM : 16px;
$SIZE_ABOUT_DIALOG_MARGIN_RIGHT : 20px;
$SIZE_ABOUT_DIALOG_MARGIN_LEFT : 20px;
$SIZE_ABOUT_DIALOG_TEXT_THICKNESS : 1px;
$SIZE_ABOUT_LOGO_WIDTH : 96px;
$SIZE_ABOUT_LOGO_HEIGHT : 96px;
$SIZE_ABOUT_INFO_BOX_MARING_TOP : 20px;
$SIZE_ABOUT_INFO_BOX_MARING_BOTTOM : 20px;
$SIZE_ABOUT_LOGO_MARING_RIGHT : 60px;
$SIZE_ABOUT_LOGO_MARING_LEFT : 20px;
$SIZE_ABOUT_SEPARATOR_MARGIN_TOP : 20px;
$SIZE_ABOUT_SEPARATOR_MARGIN_BOTTOM : 20px;
$SIZE_ABOUT_SEPARATOR_THICKNESS : 1px;

//画面共通
$SIZE_FACE_PAGE_SEPARATOR_BOARDER_THICKNESS : 1px;
$SIZE_FACE_PAGE_WIDTH : 480px;
$SIZE_FACE_PAGE_HEIGHT : 960px;
$SIZE_WINDOW_HEIGHT_MIN : 768px;
$SIZE_WINDOW_WIDTH_MIN : 1280px;

//HEADER
$SIZE_HEADER_HEIGHT:72px;
$SIZE_HEADER_BOARDER_THICKNESS:1px;
$SIZE_HEADER_TITLE_PADDING_TOP:20px + 3px;//+Xpxはデザイナーチェックの微調整

//option button
$SIZE_HEADER_OPTION_BTN_HEIGHT:60px;
$SIZE_HEADER_OPTION_BTN_WIDTH:40px;
$SIZE_HEADER_OPTION_BTN_MARGIN_TOP : 6px + 1px;//+Xpxはデザイナーチェックの微調整
$SIZE_HEADER_OPTION_BTN_MARGIN_LEFT : 4px;

//right buttons
$SIZE_HEADER_BUTTONS_AT_RIGHT_MARGIN_RIGHT:12px;

//SPLASH
//logo
$SIZE_SPLASH_LOGO_WIDHT:250px;
$SIZE_SPLASH_LOGO_HEIHGT:140px;
$SIZE_SPLASH_LOGO_MARGIN_TOP:215px;
//spinner
$SIZE_SPLASH_SPINNER_WIDHT:80px;
$SIZE_SPLASH_SPINNER_HEIHGT:80px;
$SIZE_SPLASH_SPINNER_MARGIN_TOP:112px;
//message
$SIZE_SPLASH_MESSAGE_MARGIN_TOP:24px;

//HOME
//HEADER
//face-list
$SIZE_HOME_FACE_LIST_HEIGHT : $SIZE_WINDOW_HEIGHT_MIN -$SIZE_HEADER_HEIGHT;
$SIZE_HOME_FACE_LIST_HEIGHT_MIN:$SIZE_HOME_FACE_LIST_HEIGHT;

//create new remote button
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_HEIGHT:60px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_WIDTH:40px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_TOP : 6px + 1px;//+Xpxはデザイナーチェックの微調整;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_LEFT : 4px;

//sync pc to huis button
$SIZE_HOME_HEADER_SYNC_BTN_HEIGHT:60px;
$SIZE_HOME_HEADER_SYNC_BTN_WIDTH:40px;
$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_TOP : 6px;
$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_LEFT : 4px;

//remote
$SIZE_HOME_REMOTE_WIDTH : 270px;
$SIZE_HOME_REMOTE_BORDER_THICKNESS:2px;
$SIZE_HOME_TITLE_MARGIN_TOP:48px - 2px;//-Xpx はデザイナーによる微調整
$SIZE_HOME_REMOTE_MARGIN_LEFT : 23px;
$SIZE_HOME_REMOTE_MARGIN_RIGHT :$SIZE_HOME_REMOTE_MARGIN_LEFT;
$SIZE_HOME_REMOTE_MARGIN_TOP:100px;
$SIZE_HOME_TITLE_MARGIN_BOTTOM:$SIZE_HOME_REMOTE_MARGIN_TOP -$SIZE_HOME_TITLE_MARGIN_TOP - $FONT_LINE_HEIGHT_HOME_REMOTE_TITLE ;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_TOP : 24px;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT : 30px;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_LEFT :$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT;
$SIZE_HOME_REMOTE_FACE_PAGE_PADDING_BOTTOM : 32px;
$SIZE_HOME_REMOTE_FACE_CONTAINER_WIDTH : $SIZE_HOME_REMOTE_WIDTH*2;

//indroducction
$SIZE_HOME_INTRODUCTION_MARGIN_TOP : 80px;
$SIZE_HOME_INTRODUCTION_CENTER_CONTANTS : 640px;

$SIZE_HOME_INTRODUCTION_IMAGE_MARGIN_TOP : 8px;
$SIZE_HOME_INTRODUCTION_IMAGE_WIDTH : 640px;
$SIZE_HOME_INTRODUCTION_IMAGE_HEIGHT : 480px;

$SIZE_HOME_INTRODUCTION_VECTOR_IMAGE_WIDTH :272px;
$SIZE_HOME_INTRODUCTION_VECTOR_IMAGE_HEIGHT :272px;
$SIZE_HOME_INTRODUCTION_VECTOR_IMAGE_MARGIN_RIGHT:52px;

//footer
$SIZE_HOME_FOOTOR_HEIGHT:32px + $SIZE_SCROLL_BAR_WHOLE_HEIGHT;

//FULL CUSTOM
//HEADER
//save button
$SIZE_EDIT_HEADER_SAVE_BTN_HEIGHT:60px;
$SIZE_EDIT_HEADER_SAVE_BTN_WIDTH:40px;
$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_TOP : 6px;
$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_LEFT : 4px;

//back button
$SIZE_EDIT_HEADER_BACK_BTN_HEIGHT:60px;
$SIZE_EDIT_HEADER_BACK_BTN_WIDTH:60px;
$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_TOP : 6px;
$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_LEFT : 4px;

//propaty area
$SIZE_PROPATY_AREA_WIDTH : 280px;
$SIZE_PROPATY_AREA_INNNER_WIDTH :240px;
$SIZE_PROPATY_AREA_HEIGHT : 580px;
$SIZE_PROPATY_AREA_MARGIN_TOP : 60px;
$SIZE_PROPATY_AREA_TITEL_LINE_HEIHGT : $FONT_SIZE_PROPATY_H3 * 1.5;
$SIZE_PROPATY_AREA_TITLE_PADDING_BOTTOM:36px -$SIZE_PROPATY_AREA_TITEL_LINE_HEIHGT;
$SIZE_PROPATY_AREA_SUBTITLE_PADDING_LEFT : 12px;
$SIZE_PROPATY_AREA_SUBTITLE_SLASH_WIDTH :12px;
$SIZE_PROPATY_AREA_SUBTITLE_BRAND_MAX_WIDTH : 62px;
$SIZE_PROPATY_AREA_BORDER_THICKNESS : 1px;
$SIZE_PROPATY_AREA_PREVIEW_WIDTH : 100%;
$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE : 20px;
$SIZE_PROPATY_ITEM_DETAIL_MARGIN_TOP_DOWM:16px;
$SIZE_PROPATY_AREA_LAYOUT_LABEL_WIDTH : 120px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_WIDTH : 110px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_MARING_LEFT : 10px;
$SIZE_PROPATY_AREA_ONE_LINE_LABEL_MARGIN_BOTTOM:8px;
$SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT : 8px;
$SIZE_PROPATY_AREA_DELETE_BTN_WIDTH : 64px;
$SIZE_PROPATY_AREA_PREVIEW_BORDER_THICKNESS : 2px;
$SIZE_PROPATY_AREA_PREVIEW_HEIGHT_MIN : 160px;
$SIZE_PROPATY_AREA_STATE_IMAGE_MARGIN_TOP : 16px;
$SIZE_PROPATY_AREA_INPUT_MAX_WIDTH:$SIZE_PROPATY_AREA_WIDTH -$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE*2; 
$SIZE_PROPATY_AREA_REFER_IMAGE_WIDTH : $SIZE_PROPATY_AREA_INNNER_WIDTH - $SIZE_PROPATY_AREA_DELETE_BTN_WIDTH - $SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT - 4px;//4px は　枠線とpadding分
$SIZE_PROPATY_AREA_PULL_DOWM_TEXT_SIZE_WIDTH : 120px;
$SIZE_PROPATY_AREA_FACE_ITEM_MAX_WIDTH : 155px;

$SIZE_PROPATY_AREA_ACTION_CONTAINER_MARGIN_TOP : -5px;
$SIZE_PROPATY_AREA_SIGNAL_CONTAINER_PADDING_TOP : 5px;
$SIZE_PROPATY_AREA_SIGNAL_CONTAINER_PADDING_BOTTOM : 14px;

//popup
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_WIDTH : 240px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_PADDING_TOP :12px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_PADDING_BOTTOM : 12px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ITEM_HEIGHT :32px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_PADDING_LEFT : 44px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_PADDING_RIGHT : 8px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_HEIGHT :$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ITEM_HEIGHT;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_WIDTH : 32px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_ARROW_MARGIN_RIGHT : 9px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_ARROW_MARING_LEFT : $SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_WIDTH - $SIZE_PROPATY_AREA_EDIT_IMAGE_POPUP_ICON_ARROW_MARGIN_RIGHT - $SIZE_POPUP_ARROW_WIDTH;

//macro
$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_HEIGHT_WHEN_ADD : -32px;

$SIZE_PROPATY_AREA_MACRO_SIGNALS_CONTAINER_PADDING_TOP : 21px;
$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_TOP : 8px;
$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_BOTTOM : 12px;
$SiZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_BORDER_THICKNESS : 1px;

$SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_DELETE_AREA_WIDTH : 44px;
$SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_SORT_BTN_AREA_WIDTH:50px;
$SIZE_PROPERTY_AREA_MACRO_ABOUT_WIDTH : 26px;
$SIZE_PROPERTY_AREA_MACRO_ABOUT_HEIGHT : 26px;
$SIZE_PROPERTY_AREA_MACRO_ABOUT_MARGIN_RIGHT : -2px;
$SIZE_PROPERTY_AREA_MACRO_ABOUT_MARGIN_TOP : -2px;

$SIZE_PROPERTY_AREA_MACRO_ABOUT_POPUP_PADDING : 12px;
$SIZE_PROPERTY_AREA_MACOR_ABOUT_POPUP_MARGIN_RIGHT :($SIZE_PROPERTY_AREA_MACRO_ABOUT_WIDTH / 2) - ($SIZE_POPUP_ARROW_WIDTH/2);

$SIZE_PROPERTY_AREA_MACRO_ACTION_CONTAINER_MARGIN_TOP : 20px;

//pulldowm for macro signal

//macro pulldowns
$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT : $SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_SORT_BTN_AREA_WIDTH - $SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE;
$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_RIGHT : $SIZE_PROPERTY_AREA_MACRO_SIGNAL_CONTAINER_DELETE_AREA_WIDTH -$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE;
$SIZE_PROPATY_ARAE_MACRO_PULL_DOWN_WIDTH : $SIZE_PROPATY_AREA_INNNER_WIDTH - $SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT - $SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_RIGHT;

//信号間のborder
$SIZE_PROPATY_AREA_SIGNAL_CONTAINER_BORDER_WIDTH : 240px;
$SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_BORDER_WIDTH : 216px;
$SIZE_PROPATY_AREA_SIGNAL_CONTAINER_BORDER_MARGIN_LEFT : (($SIZE_PROPATY_AREA_INNNER_WIDTH - $SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_BORDER_WIDTH) * $SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT)/($SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_RIGHT+$SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT);

//sort buttons
$SIZE_PROPERTY_AREA_MACRO_SORT_BUTTONS_MARGIN_TOP : $SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_TOP + $SIZE_PULL_DOWM_MARGIN_TOP;
$SIZE_PROPERTY_AREA_MACRO_SORT_BUTTONS_MARGIN_BOTTOM : $SIZE_PROPATY_AREA_MACRO_SIGNAL_CONTAINER_PADDING_BOTTOM;

//delte macro signal
$SIZE_PROPATY_AREA_SORT_DELETE_BUTTON_AREA_MINUS_MARGIN : (-1)*$SIZE_PROPATY_ITEM_DETAIL_MARGIN_SIDE;
$SIZE_PROPATY_AREA_SORT_DELETE_BUTTON_AREA_MARGIN_TOP:$SIZE_PROPERTY_AREA_MACRO_SORT_BUTTONS_MARGIN_TOP;
$SIZE_PROPATY_AREA_SORT_DELETE_BUTTON_AREA_MARGIN_BOTTOM : $SIZE_PROPERTY_AREA_MACRO_SORT_BUTTONS_MARGIN_BOTTOM;

//add macro signal
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_WIDTH : 32px;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_HEIGHT : 32px;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_MARGIN_RIGHT : 8px;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_MARGIN_LEFT : 16px;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_CONTAINER_MARING_TOP : 12px;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_LINE_HEIGHT :$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_HEIGHT;
$SIZE_PROPERTY_AREA_MACRO_ADD_SIGNAL_BUTTON_MARGIN_LEFT : 16px;

//order indicator
$SIZE_PROPERTY_AREA_MACRO_INDICATOR_WIDTH : $SIZE_PROPATY_AREA_MACRO_PULL_DOWM_MARGIN_LEFT;
$SIZE_PROPERTY_AREA_MACRO_DOT_WIDTH : 6px;
$SIZE_PROPERTY_AREA_MACRO_DOT_HEIGHT : 6px;
$SIZE_PROPERTY_AREA_MACRO_DOT_RADIUS : 3px;
$SIZE_PROPERTY_AREA_MACRO_DOT_MARGIN_RIGHT:2px;
$SIZE_PROPERTY_AREA_MACRO_DOT_CONTAINER_HEIGHT : $SIZE_PROPERTY_AREA_MACRO_DOT_HEIGHT*2;
$SIEE_PROPERTY_AREA_MACRO_SIGNAL_INDICATOR_MARGN_LEFT : -8px;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_MARGIN_LEFT :-6px;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_WIDTH :2px;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_HEIGHT :2px;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_MARING :10px;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_UNITE_WIDTH : $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_WIDTH;
$SIZE_PROPERTY_AREA_MACRO_DOT_LINE_UNITE_HEIGHT : $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_HEIGHT + $SIZE_PROPERTY_AREA_MACRO_DOT_LINE_DOT_MARING;

//信号編集用ボタン
$SIZE_PROPERTY_AREA_MACRO_BUTTON_WIDTH : 28px;
$SIZE_PROPERTY_AREA_MACRO_BUTTON_HEIGHT : 40px;

//削除ボタン
$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_WIDTH : $SIZE_PROPERTY_AREA_MACRO_BUTTON_WIDTH;
$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_HEIGHT : $SIZE_PROPERTY_AREA_MACRO_BUTTON_HEIGHT;
$SIZE_PROPERTY_AREA_MACRO_DELETE_BUTTON_MARGIN_RIGHT : 12px;

//並び替え上
$SIZE_PROPERTY_AREA_MACRO_SORT_UP_BUTTON_WIDTH : $SIZE_PROPERTY_AREA_MACRO_BUTTON_WIDTH;
$SIZE_PROPERTY_AREA_MACRO_SORT_UP_BUTTON_HEIGHT : $SIZE_PROPERTY_AREA_MACRO_BUTTON_HEIGHT;

//並び替え下
$SIZE_PROPERTY_AREA_MACRO_SORT_DOWN_BUTTON_WIDTH : $SIZE_PROPERTY_AREA_MACRO_BUTTON_WIDTH;
$SIZE_PROPERTY_AREA_MACRO_SORT_DOWN_BUTTON_HEIGHT : $SIZE_PROPERTY_AREA_MACRO_BUTTON_HEIGHT;
$SIZE_PROPERTY_AREAMACRO_SORT_DOWN_BUTTON_MARGIN_TOP : 24px;
$SIZE_PROPERTY_AREAMACRO_SORT_DOWN_BUTTON_MARGIN_TOP_ORDER_0 : 55px;
$SIZE_PROPERTY_AREAMACRO_SORT_UP_BUTTON_MARGIN_BOTTOM_LAST_ORDER : $SIZE_PROPERTY_AREAMACRO_SORT_DOWN_BUTTON_MARGIN_TOP_ORDER_0;
//プレビューに付随する画像変更ボタン

//edit button
$SIZE_PROPATY_AREA_EDIT_IMAGE_BTN_WIDTH : 32px;
$SIZE_PROPATY_AREA_EDIT_IMAGE_BTN_HEIGHT : 32px;

//delete background image button
$SIZE_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_BTN_WIDTH :32px;
$SIZE_PROPATY_AREA_DELETE_BACKGROUND_IMAGE_BTN_HEIGHT :32px;

//プレビューの中のテキストエリア
$SIZE_TEXT_FIELD_IN_PREVIEW_MARGIN_TOP : 24px;
$SIZE_TITLE_EDIT_LABEL_HEIGHT : 32px;
$SIZE_TITLE_EDIT_LABEL_ICON_WIDTH :32px;
$SIZE_TITLE_EDIT_LABEL_ICON_HEIGHT :32px;
$SIZE_TITLE_EDIT_LABEL_PULLDOWN_WIDTH : 80px;
$SIZE_EDIT_LABEL_TEXT_FIELD_WIDTH : 200px;

// canvas area(画面中央のリモコンをレイアウトエリア)
$SIZE_CANVAS_AREA_WIDTH : 316px;
$SIZE_CANVAS_AREA_HEIGHT: 580px;
$SIZE_CANVAS_AREA_MARGIN_TOP : 60px;

// canvas(HUIS本体の画像があるエリア)
$SIZE_CANVAS_WIDTH : $SIZE_CANVAS_AREA_WIDTH;
$SIZE_CANVAS_HEIGHT :$SIZE_CANVAS_AREA_HEIGHT;

// canvas inner
$SIZE_CANVAS_INNER_PADDING_TOP : 28px;
$SIZE_CANVAS_INNER_PADDING_LEFT : 24px;
$SIZE_CANVAS_INNER_PADDING_RIGHT : 24px;
$SIZE_CANVAS_INNER_HEIGHT : $SIZE_CANVAS_AREA_HEIGHT - $SIZE_CANVAS_INNER_PADDING_TOP;

//face pages area(グリッドが描写されるエリア)
$SIZE_FACE_PAGES_AREA_WIDTH : 268px * 2;
$SIZE_FACE_PAGES_AREA_HEIGHT : 436px * 2;
$SIZE_FACE_PAGES_AREA_MARING_TOP : 6px;

$SIZE_FACE_PAGE_ADJUST_GRID_Y : -1px;
$SIZE_FACE_PAGE_ADJUST_GRID_PADDING_TOP : 1px;
$SIZE_FACE_PAGE_ADJUST_GRID_PADDING_BOTTOM : 1px;


//face page(実際に、リモコンボタンを配置するエリア)
$SIZE_FACE_PAGE_WIDTH : 480px;
$SIZE_FACE_PAGE_HEIGHT : 812px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_LEFT : 28px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_TOP : 24px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_BOTTOM : 34px;

//face name area(リモコンの名前を編集するエリア)
$SIZE_FACE_NAME_AREA_WIDTH : 234px ;
$SIZE_FACE_NAME_AREA_HEIGHT : 32px * 2;

//canvas item (canvasないに配置されるボタン)
$SIZE_CANVAS_ITEM_BORDER_THICKNESS : 1px * 2;
$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED : 2px *2;
$SIZE_CANVAS_ITEM_RESIZER_THICKNESS : 2px*2;
$SIZE_CANVAS_ITEM_RESIZER_WIDTH : 10px * 2;
$SIZE_CANVAS_ITEM_RESIZER_HEIGHT : 10px * 2;

//button-add page (新規ページボタン)
$SIZE_BUTTON_ADD_PAGE_WIDTH : 88px;
$SIZE_BUTTON_ADD_PAGE_HEIGHT:$SIZE_BUTTON_HEIGHT;
$SIZE_BUTTON_ADD_PAGE_RIGHT: 24px;
$SIZE_BUTTON_ADD_PAGE_BOTTOM :22px;

// pallet area
$SIZE_PALLET_AREA_WIDTH : 392px;
$SIZE_PALEET_AREA_MARGIN_TOP : 60px;
$SIZE_PALLET_AREA_HEIGHT : 580px;

// pallet の中の、リモコンが表示されるエリア
$SIZE_PALLET_BORDER : 1px;
$SIZE_FACE_IN_PALLET_WIDTH : 280px;
$SIZE_FACE_IN_PALLET_HEIGHT : 520px;
$SIZE_FACE_IN_PALLET_MARING_TOP :20px -$SIZE_PALLET_BORDER;
$SIZE_FACE_IN_PALLET_MARING_LEFT : -$SIZE_PALLET_BORDER;
$SIZE_FACE_IN_PALLET_MARING_RIGHT : -$SIZE_PALLET_BORDER;
$SIZE_FACE_IN_PALLET_MARING_BOTTOM : -$SIZE_PALLET_BORDER;

// pallet の中の　リモコン
$SIZE_FACE_PAGES_AREA_PADDING_TOP:4px;
$SIZE_FACE_PAGE_AREA_HEIGHT : $SIZE_FACE_IN_PALLET_HEIGHT*2 - $SIZE_FACE_PAGES_AREA_PADDING_TOP*2;//半分のサイズに縮小されるので実際は240px
$SIZE_FACE_PAGE_AREA_WIDTH : 480px;//半分のサイズに縮小されるので実際は20px
$SIZE_FACE_PAGE_AREA_PADDING_LEFT : 40px;
$SIZE_FACE_PAGE_AREA_PADDING_RIGHT : $SIZE_FACE_PAGE_AREA_PADDING_LEFT;
$SIZE_FACE_PAGES_AREA_BORDER_THICKNESS : 2px;
$SIZE_FACE_PAGE_AREA_PADDING_TOP:20px;
$SIZE_FACE_PAGE_AREA_PADDING_BOTTOM:20px;
//master faceとの境界線
$SIZE_PALLET_SEPARATOR_MARGIN_TOP : (-1) * $SIZE_FACE_PAGES_AREA_BORDER_THICKNESS;
$SIZE_PALLET_SEPARATOR_HEGHT : 116px + (-1*$SIZE_PALLET_SEPARATOR_MARGIN_TOP);
$SIZE_PALLET_SEPARATOR_BORDER_THICKNESS : 1px;
$SIZE_PALLET_SEPARATOR_TEXT_PADDING_TOP : 20px * 2;
$SIZE_PALLET_SEPARATOR_SPAN_MARGIN_TOP : 10px * 2;


//commonのパレット
$SIZE_PALLET_COMMON_ITEM_MARGIN_BOTTOM : 12px;

//リモコンのボタン
$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS :1px;

// palletのヘッダー
$SIZE_FACE_ITEM_LIST_CONTAINER_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_CONTAINER_WIDTH : $SIZE_PALLET_AREA_WIDTH;
$SIZE_FACE_ITEM_LIST_WIDTH : 280px;
$SIZE_FACE_ITEM_LIST_MARGIN_RIGHT : 16px;
$SIZE_FACE_ITEM_LIST_LINE_HEIGHT : 32px;
$SIZE_FACE_ITEM_LIST_ITEM_RADIUS_HOVER : 4px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT : 12px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_TOP :4px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT : 8px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_HEIGHT:32px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_HEIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_WIDTH : 16px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_LEFT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;

$SIZE_FACE_PALLET_GRADATION_TOP_WIDTH : 100%;
$SIZE_FACE_PALLET_GRADATION_BOTTOM_WIDTH: $SIZE_FACE_PALLET_GRADATION_TOP_WIDTH;
$SIZE_FACE_PALLET_GRADATION_TOP_HEIGHT: 32px;
$SIZE_FACE_PALLET_GRADATION_BOTTOM_HEIGHT: $SIZE_FACE_PALLET_GRADATION_TOP_HEIGHT;

//dialog
$SIZE_DIALOG_REMOTE_WIDTH : 270px;
$SIZE_DIALOG_REMOTE_BORDER_THICKNESS:2px;
$SIZE_DIALOG_TITLE_PADDING_TOP: 16px;
$SIZE_DIALOG_TITLE_MARGIN_TOP: 0px;
$SIZE_DIALOG_TITLE_FONT: $FONT_SIZE_LL;
$SIZE_DIALOG_HEADER_SEPARATOR_BORDER_WIDTH: 2px;
$SIZE_DIALOG_HEADER_SEPARATOR_MARGIN_LEFT: 24px;
$SIZE_DIALOG_HEADER_SEPARATOR_MARGIN_RIGHT: 24px;
$SIZE_DIALOG_REMOTE_FIRST_MARGIN_LEFT: 40px;
$SIZE_DIALOG_REMOTE_LAST_MARGIN_RIGHT: $SIZE_DIALOG_REMOTE_FIRST_MARGIN_LEFT;
$SIZE_DIALOG_REMOTE_MARGIN_LEFT: 10px;
$SIZE_DIALOG_REMOTE_MARGIN_RIGHT: $SIZE_DIALOG_REMOTE_MARGIN_LEFT;
$SIZE_DIALOG_REMOTE_MARGIN_TOP:100px;
$SIZE_DIALOG_TITLE_MARGIN_BOTTOM: 0px;
$SIZE_DIALOG_TITLE_MARGIN_LEFT: 24px;
$SIZE_DIALOG_REMOTE_FACE_PAGE_MARGIN_TOP : 24px;
$SIZE_DIALOG_REMOTE_FACE_PAGE_MARGIN_RIGHT : 30px;
$SIZE_DIALOG_REMOTE_FACE_PAGE_MARGIN_LEFT :$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT;
$SIZE_DIALOG_REMOTE_FACE_PAGE_PADDING_BOTTOM : 32px;
$SIZE_DIALOG_REMOTE_FACE_CONTAINER_WIDTH : $SIZE_HOME_REMOTE_WIDTH*2;
$SIZE_DIALOG_SPINNER_WIDTH: 80px;
$SIZE_DIALOG_SPINNER_HEIGHT: 80px;
$SIZE_DIALOG_SPINNER_MARGIN_TOP: 112px;
$SIZE_DIALOG_REMOTE_FACE_CONTAINER_HEIGHT: 872px;
$SIZE_DIALOG_REMOTE_FACE_LIST_WIDTH: 1062px;
$SIZE_DIALOG_REMOTE_FACE_LIST_HEIGHT: 488px;
$SIZE_DIALOG_REMOTE_FACE_LIST_MARGIN_LEFT: 0px;
$SIZE_DIALOG_REMOTE_FACE_LIST_MARGIN_RIGHT: 0px;
$SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_TOP: 32px;
$SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_BOTTOM: 20px;
$SIZE_DIALOG_REMOTE_FACE_CONTAINER_MULTI_HEIGHT: ($SIZE_DIALOG_REMOTE_FACE_LIST_HEIGHT - ($SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_TOP + $SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_BOTTOM + $FONT_LINE_HEIGHT_HOME_REMOTE_TITLE)) * 3;
$SIZE_DIALOG_REMOTE_FACE_PAGE_SELECTED_BORDER: 4px;
$SIZE_DIALOG_GRADATION_TOP_TOP: $SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_TOP + $SIZE_DIALOG_REMOTE_FACE_TITLE_MARGIN_BOTTOM + $FONT_LINE_HEIGHT_HOME_REMOTE_TITLE;
$SIZE_DIALOG_GRADATION_BOTTOM_TOP: $SIZE_DIALOG_GRADATION_TOP_TOP + ($SIZE_DIALOG_REMOTE_FACE_CONTAINER_MULTI_HEIGHT / 2) - $SIZE_FACE_PALLET_GRADATION_TOP_HEIGHT;
$SIZE_DIALOG_SUBMIT_AREA_HEIGHT: 60px;
$SIZE_DIALOG_SUBMIT_AREA_PADDING_TOP: 20px;
$SIZE_DIALOG_SUBMIT_AREA_PADDING_BOTTOM: 20px;
$SIZE_DIALOG_BUTTON_WIDTH: 154px;
$SIZE_DIALOG_CANCEL_BUTTON_RIGHT: 24px;
$SIZE_DIALOG_OK_BUTTON_RIGHT: $SIZE_DIALOG_CANCEL_BUTTON_RIGHT + $SIZE_DIALOG_BUTTON_WIDTH + 4;
