//Scroll Bar
$SIZE_SCROLL_BAR_HEIGHT : 4px;

//TEXT BUTTON
$SIZE_BUTTON_HEIGHT : 32px;

//FORM(TEXT_FIELD)
$SIZE_FORM_HEIGHT : 32px;
$SIZE_FORM_PADDING_LEFT : 12px;
$SIZE_FORM_PADDING_RIGHT : 12px;
$SIZE_FORM_BORDER_THICKNESS : 1px;
$SIZE_FORM_BORDER_THICKNESS_FOCUS : 2px;
$SIZE_FORM_PADDING_LEFT_FOCUS : $SIZE_FORM_PADDING_LEFT -($SIZE_FORM_BORDER_THICKNESS_FOCUS - $SIZE_FORM_BORDER_THICKNESS);
$SIZE_FORM_PADDING_RIGHT_FOCUS : $SIZE_FORM_PADDING_RIGHT -($SIZE_FORM_BORDER_THICKNESS_FOCUS - $SIZE_FORM_BORDER_THICKNESS);

//PULL DOWM MENU
$SIZE_PULL_DOWM_HEIGHT_MAIN : 32px;
$SIZE_PULL_DOWM_HEIGHT_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_WIDTH_DOWM_MARK : 32px;
$SIZE_PULL_DOWM_SUB_TOP_PADDING : 8px;
$SIZE_PULL_DOWM_HEIGHT_SUB : 32px;
$SIZE_PULL_DOWM_SUB_PADDING_BOTTOM : 8px;
$SIZE_PULL_DOWM_MARGIN_MAIN_AND_SUB : 1px;
$SIZE_PULL_DOWM_PADDING_LFFT : 12px;
$SIZE_PULL_DOWM_PADDING_RIGHT : 12px;
$SIZE_PULL_DOWM_BORDER_THICKNESS : 1px;
$SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS : 2px;
$SIZE_PULL_DOWM_PADDING_LFFT_FOCUS : $SIZE_PULL_DOWM_PADDING_LFFT -($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);
$SIZE_PULL_DOWM_PADDING_RIGHT_FOCUS : $SIZE_PULL_DOWM_PADDING_RIGHT -($SIZE_PULL_DOWM_BORDER_THICKNESS_FOCUS - $SIZE_PULL_DOWM_BORDER_THICKNESS);


//CASCATIONG MENU MAIN
$SIZE_CASCATING_MAIN_HEIGHT : 44px;
$SIZE_CASCATING_MAIN_MARGIN_TOP : 8px;
$SIZE_CASCATING_MAIN_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_MAIN_MARGIN_LEFT : 16px;
$SIZE_CASCATING_MAIN_MARK_WIDTH : 36px;

//CASCATING MENU SUB
$SIZE_CASCATING_SUB_HEIGHT : 44px;
$SIZE_CASCATING_SUB_MARGIN_TOP : 8px;
$SIZE_CASCATING_SUB_MARGIN_BOTTOM : 8px;
$SIZE_CASCATING_SUB_MARGIN_RIGHT : 16px;

//DIALOG(TOAST)
$SIZE_DIALOG_HEIGHT : 200px;
$SIZE_DIALOG_WIDTH : 480px;
$SIZE_DIALOG_ICON_HEIHGT : 64px;
$SIZE_DIALOG_ICON_WIDTH : 64px;
$SIZE_DIALOG_ICON_MARGIN_LEFT : 48px;
$SIZE_DIALOG_ICON_MARGIN_RIGHT : 48px;
$SIZE_DIALOG_TEXT_WIDTH : 268px;
$SIZE_DIALOG_TEXT_MARGIN_RIGHT : 60px; 

//画面共通
$SIZE_FACE_PAGE_SEPARATOR_BOARDER_THICKNESS : 1px;
$SIZE_FACE_PAGE_WIDTH : 480px;
$SIZE_FACE_PAGE_HEIGHT : 960px;
$SIZE_WINDOW_HEIGHT_MIN : 768px;
$SIZE_WINDOW_WIDTH_MIN : 1280px;

//HEADER
$SIZE_HEADER_HEIGHT:72px;
$SIZE_HEADER_BOARDER_THICKNESS:1px;
$SIZE_HEADER_TITLE_PADDING_TOP:20px;

//option button
$SIZE_HEADER_OPTION_BTN_HEIGHT:60px;
$SIZE_HEADER_OPTION_BTN_WIDTH:40px;
$SIZE_HEADER_OPTION_BTN_MARGIN_TOP : 6px;
$SIZE_HEADER_OPTION_BTN_MARGIN_LEFT : 4px;

//right buttons
$SIZE_HEADER_BUTTONS_AT_RIGHT_MARGIN_RIGHT:12px;

//SPLASH
//logo
$SIZE_SPLASH_LOGO_WIDHT:250px;
$SIZE_SPLASH_LOGO_HEIHGT:140px;
$SIZE_SPLASH_LOGO_MARGIN_TOP:215px;
//spinner
$SIZE_SPLASH_SPINNER_WIDHT:80px;
$SIZE_SPLASH_SPINNER_HEIHGT:80px;
$SIZE_SPLASH_SPINNER_MARGIN_TOP:112px;
//message
$SIZE_SPLASH_MESSAGE_MARGIN_TOP:24px;

//HOME
//HEADER
//face-list
$SIZE_HOME_FACE_LIST_HEIGHT : $SIZE_WINDOW_HEIGHT_MIN -$SIZE_HEADER_HEIGHT;
$SIZE_HOME_FACE_LIST_HEIGHT_MIN:$SIZE_HOME_FACE_LIST_HEIGHT;

//create new remote button
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_HEIGHT:60px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_WIDTH:40px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_TOP : 6px;
$SIZE_HOME_HEADER_CREATE_REMOTE_BTN_MARGIN_LEFT : 4px;

//sync pc to huis button
$SIZE_HOME_HEADER_SYNC_BTN_HEIGHT:60px;
$SIZE_HOME_HEADER_SYNC_BTN_WIDTH:40px;
$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_TOP : 6px;
$SIZE_HOME_HEADER_SYNC_BTN_MARGIN_LEFT : 4px;

//remote
$SIZE_HOME_REMOTE_WIDTH : 270px;
$SIZE_HOME_REMOTE_BORDER_THICKNESS:1px;
$SIZE_HOME_TITLE_MARGIN_TOP:48px;
$SIZE_HOME_REMOTE_MARGIN_LEFT : 24px;
$SIZE_HOME_REMOTE_MARGIN_RIGHT :$SIZE_HOME_REMOTE_MARGIN_LEFT;
$SIZE_HOME_REMOTE_MARGIN_TOP:100px;
$SIZE_HOME_TITLE_MARGIN_BOTTOM:$SIZE_HOME_REMOTE_MARGIN_TOP -$SIZE_HOME_TITLE_MARGIN_TOP - $FONT_LINE_HEIGHT_HOME_REMOTE_TITLE;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_TOP : 24px;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT : 30px;
$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_LEFT :$SIZE_HOME_REMOTE_FACE_PAGE_MARGIN_RIGHT;
$SIZE_HOME_REMOTE_FACE_PAGE_PADDING_BOTTOM : 32px;
$SIZE_HOME_REMOTE_FACE_CONTAINER_WIDTH : $SIZE_HOME_REMOTE_WIDTH*2;

//footer
$SIZE_HOME_FOOTOR_HEIGHT:32px;

//FULL CUSTOM
//HEADER
//save button
$SIZE_EDIT_HEADER_SAVE_BTN_HEIGHT:60px;
$SIZE_EDIT_HEADER_SAVE_BTN_WIDTH:40px;
$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_TOP : 6px;
$SIZE_EDIT_HEADER_SAVE_BTN_MARGIN_LEFT : 4px;

//back button
$SIZE_EDIT_HEADER_BACK_BTN_HEIGHT:60px;
$SIZE_EDIT_HEADER_BACK_BTN_WIDTH:60px;
$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_TOP : 6px;
$SIZE_EDIT_HEADER_BACK_BTN_MARGIN_LEFT : 4px;

//propaty area
$SIZE_PROPATY_AREA_WIDTH : 280px;
$SIZE_PROPATY_AREA_HEIGHT : 580px;
$SIZE_PROPATY_AREA_MARGIN_TOP : 60px;
$SIZE_PROPATY_AREA_BORDER_THICKNESS : 1px;
$SIZE_PROPATY_AREA_PREVIEW_WIDTH : 100%;
$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP:20px;
$SIZE_PROPATY_AREA_PREVIEW_MARING_BOTTOM:$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP;
$SIZE_PROPATY_ITEM_DETAIL_MARGIN : 20px;
$SIZE_PROPATY_AREA_LAYOUT_LABEL_WIDTH : 120px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_WIDTH : 110px;
$SIZE_PROPATY_AREA_LAYOUT_INFO_MARING_LEFT : 10px;
$SIZE_PROPATY_AREA_ONE_LINE_LABEL_MARGIN_BOTTOM:8px;
$SIZE_PROPATY_AREA_DELETE_BTN_MARGIN_LEFT : 8px;
$SIZE_PROPATY_AREA_DELETE_BTN_WIDTH : 64px;
$SIZE_PROPATY_AREA_PREVIEW_HEIGHT_MIN : 160px;
$SIZE_PROPATY_AREA_STATE_IMAGE_MARGIN_TOP : 16px;
$SIZE_PROPATY_AREA_INPUT_MAX_WIDTH:$SIZE_PROPATY_AREA_WIDTH -$SIZE_PROPATY_AREA_PREVIEW_MARING_TOP*2; 

// canvas area(画面中央のリモコンをレイアウトエリア)
$SIZE_CANVAS_AREA_WIDTH : 316px;
$SIZE_CANVAS_AREA_HEIGHT: 580px;
$SIZE_CANVAS_AREA_MARGIN_TOP : 60px;

// canvas(HUIS本体の画像があるエリア)
$SIZE_CANVAS_WIDTH : $SIZE_CANVAS_AREA_WIDTH*2;
$SIZE_CANVAS_HEIGHT :$SIZE_CANVAS_AREA_HEIGHT*2;

// canvas inner
$SIZE_CANVAS_INNER_PADDING_TOP : 28px * 2;
$SIZE_CANVAS_INNER_PADDING_LEFT : 24px *2;
$SIZE_CANVAS_INNER_PADDING_RIGHT : 24px *2;

//face pages area(グリッドが描写されるエリア)
$SIZE_FACE_PAGES_AREA_WIDTH : 268px * 2;
$SIZE_FACE_PAGES_AREA_HEIGHT : 436px * 2;
$SIZE_FACE_PAGES_AREA_MARING_TOP : 6px *2;

//face page(実際に、リモコンボタンを配置するエリア)
$SIZE_FACE_PAGE_WIDTH : 480px;
$SIZE_FACE_PAGE_HEIGHT : 812px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_LEFT : 28px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_TOP : 26px;
$SIZE_CANVAS_FACE_PAGE_MARGIN_BOTTOM : 34px;

//face name area(リモコンの名前を編集するエリア)
$SIZE_FACE_NAME_AREA_WIDTH : 234px * 2;
$SIZE_FACE_NAME_AREA_HEIGHT : 32px * 2;

//canvas item (canvasないに配置されるボタン)
$SIZE_CANVAS_ITEM_BORDER_THICKNESS : 1px * 2;
$SIZE_CANVAS_ITEM_BORDER_THICKNESS_SELECTED : 2px *2;
$SIZE_CANVAS_ITEM_RESIZER_THICKNESS : 2px*2;
$SIZE_CANVAS_ITEM_RESIZER_WIDTH : 10px * 2;
$SIZE_CANVAS_ITEM_RESIZER_HEIGHT : 10px * 2;

//button-add page (新規ページボタン)
$SIZE_BUTTON_ADD_PAGE_WIDTH : 88px;
$SIZE_BUTTON_ADD_PAGE_HEIGHT:$SIZE_BUTTON_HEIGHT;
$SIZE_BUTTON_ADD_PAGE_RIGHT: 24px;
$SIZE_BUTTON_ADD_PAGE_BOTTOM :22px;

// pallet area
$SIZE_PALLET_AREA_WIDTH : 392px;
$SIZE_PALEET_AREA_MARGIN_TOP : 60px;
$SIZE_PALLET_AREA_HEIGHT : 580px;

// pallet の中の、リモコンが表示されるエリア
$SIZE_FACE_IN_PALLET_WIDTH : 280px;
$SIZE_FACE_IN_PALLET_HEIGHT : 520px;
$SIZE_FACE_IN_PALLET_MARING_TOP :20px;

// pallet の中の　リモコン
$SIZE_FACE_PAGE_AREA_HEIGHT : $SIZE_FACE_IN_PALLET_HEIGHT*2;//半分のサイズに縮小されるので実際は240px
$SIZE_FACE_PAGE_AREA_WIDTH : 480px;//半分のサイズに縮小されるので実際は20px
$SIZE_FACE_PAGE_AREA_PADDING_LEFT : 40px;
$SIZE_FACE_PAGE_AREA_PADDING_RIGHT : $SIZE_FACE_PAGE_AREA_PADDING_LEFT;
$SIZE_FACE_PAGES_AREA_BORDER_THICKNESS : 1px;

//リモコンのボタン
$SIZE_FACE_PAGES_AREA_ITEM_BOADER_THICKNESS :1px;

// palletのヘッダー
$SIZE_FACE_ITEM_LIST_CONTAINER_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_CONTAINER_WIDTH : $SIZE_PALLET_AREA_WIDTH;
$SIZE_FACE_ITEM_LIST_WIDTH : 280px;
$SIZE_FACE_ITEM_LIST_MARGIN_RIGHT : 16px;
$SIZE_FACE_ITEM_LIST_LINE_HEIGHT : 32px;
$SIZE_FACE_ITEM_LIST_ITEM_RADIUS_HOVER : 4px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT : 12px;
$SIZE_FACE_ITEM_LIST_ITEM_PADDING_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_PADDING_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_TOP :4px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT : 8px;
$SIZE_FACE_ITEM_LIST_ITEM_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_ITEM_MARGIN_LEFT;
$SIZE_FACE_ITEM_LIST_ITEM_HEIGHT:32px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT : 40px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_HEIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_HEIGHT;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_WIDTH : 16px;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_LEFT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
$SIZE_FACE_ITEM_LIST_SCROLL_MARGIN_RIGHT : $SIZE_FACE_ITEM_LIST_SCROLL_LEFT_WIDTH;
