<article>
    <!-- message dialog -->
    <script type="text/template" id="common-dialog-message">
        <section class="common-dialog" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <header class="{{_header}}">
                <h1 class="title">{{title}}</h1>
            </header>
            <p class="message">{{message}}</p>
            <div class="ui-grid-a">
                <nav id="{{idNegative}}" class="button ui-block-a">{{labelNegative}}</nav>
                <nav id="{{idPositive}}" class="button ui-block-b">{{labelPositive}}</nav>
            </div>
        </section>
    </script>

    <!-- error dialog -->
    <script type="text/template" id="common-dialog-error">
        <section class="common-dialog" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <header class="{{_header}}">
                <h1 class="title">{{title}}</h1>
            </header>
            <p class="message error">{{message}}</p>
            <nav id="{{idPositive}}" class="button">{{labelPositive}}</nav>
        </section>
    </script>

    <!-- list dialog -->
    <script type="text/template" id="common-dialog-list">
        <section class="common-dialog dialog-list" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <header class="{{_header}}">
                <h1 class="title">{{title}}</h1>
            </header>
            <menu>
                {{#list}}
                <li id="{{id}}">{{label}}</li>
                {{/list}}
            </menu>
            <nav id="{{idNegative}}" class="button">{{labelNegative}}</nav>
        </section>
    </script>

    <!-- list with radiobox dialog-->
    <script type="text/template" id="page-settings-allsync-dialog-list-with-radiobox">
        <section class="common-dialog dialog-list" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <header class="{{_header}}">
                <h1 class="title">{{title}}</h1>
            </header>
            <menu>
                {{#list}}
                <li class="list-item-with-radio" id="{{id}}">
                    {{label}}
                    <div class="fill-space"></div>
                    <div class="radio-div">
                        <input id="{{idRadiobox}}" type="radio" name="radio-dialog" class="radio-ui">
                    </div>
                </li>
                {{/list}}
            </menu>
            <nav id="{{idNegative}}" class="button">
                {{labelNegative}}
            </nav>
        </section>
    </script>

    <!-- spinner dialog-->
    <script type="text/template" id="common-dialog-spinner">
        <section class="common-dialog" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b"> 
            <div class="spinner-dialog">
                <div class="spinner large show" id="common-dialog-center-spinner">&nbsp;</div>
                <p>{{title}}</p>
            </div>
        </section>
    </script>

    <!-- simple dialog-->
    <script type="text/template" id="common-dialog-simple">
        <section class="common-dialog" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <div class="spinner-dialog">
                <div id="simple-dialog-image"></div>
                {{title}}
            </div>
        </section>
    </script>

    <!-- about dialog -->
    <script type="text/template" id="common-dialog-about">
        <div id="about-dialog-area" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b">
            <section class="common-dialog">
                <div class="about-dialog">
                    <header class="{{_header}}">
                        <h3 class="title">{{title}}</h3>
                    </header>
                    <div id="about-info-box">
                        <div id="about-logo"></div>
                        <div class="info-box">
                            <div id="about-app-name">★HUIS UI CREATOR</div>
                            <div id="about-version-info"><span class="label">★version </span><span id="about-version-number">★0.0.0_XXXX</span></div>
                            <div id="about-copyright">★Copyright 2016 Sony Corporation</div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="text-area">
                        <p class="message">{{message}}</p>
                    </div>
                </div>
            </section>
        </div>
    </script>

    <!-- destination dialog -->
    <script type="text/template" id="common-dialog-remotelist" >
        <div id="remotelist-dialog-area" data-role="popup" data-corners="false" data-theme="none" data-overlay-theme="b" class="ui-page-theme-b">
            <section class="select-remote-dialog">
                <div class="remotelist-dialog">
                    <header class="{{_header}}">
                        <h3 class="title">{{title}}</h3>
                    </header>
                    <div class="separator"></div>
                    <div id="face-list-container">

                        {{!読み込み中のスピナー表示}}
                        <article id="spinner-container">
                            <div class="spinner large show" id="spinner-dialog-spinner-gif">&nbsp;</div>

                            <div id="remotelist-load-message-container">
                                <p id="remotelist-load-message" data-i18n="dialog.message.STR_DIALOG_MESSAGE_LOADING_REMOTE_LIST">★しばらくお待ちください。</p>
                            </div>
                        </article>
                        
                        {{!リモコンリスト}}
                        <ul id="face-list">
                            <ui id="face-list-footer"></ui>
                        </ul>
                    </div>
                    <div class="separator"></div>
                    <div class="submit-area">
                        <div id="remotelist-label-selected-conainer"><span id="remotelist-label-selected"></span></div>
                        <button id="remotelist-button-ok" disabled>{{#anotherOption}}{{label_ok}}{{/anotherOption}}</button>
                        <button id="remotelist-button-cancel">{{#anotherOption}}{{label_cancel}}{{/anotherOption}}</button>
                    </div>
                </div>
            </section>
        </div>
    </script>


    <!-- HUIS config dialog -->
    <script type="text/template" id="dialog-config">
        <section id="dialog-config-screen">
            <div id="dialog-config-area" class="ui-overlay-shadow">
                <div id="dialog-config-header">
                    <h3 class="title">★詳細設定</h3>
                </div>
                <div class="separator"></div>
                <div id="dialog-config-details">
                    <div id="dialog-config-details-home-dest" class="category">
                        <h4 class="category-title">★ホームボタンの移動先</h4>
                        <fieldset data-role="controlgroup">
                            <input type="radio" name="radio-home-dest" id="dialog-config-radio-home-as-home" value="home" {{#checkHomeAsHomeRadio}} checked="checked" {{/checkHomeAsHomeRadio}} />
                            <label for="dialog-config-radio-home-as-home">★ホーム画面</label>

                            <input type="radio" name="radio-home-dest" id="dialog-config-radio-jump-as-home" value="jump" {{^checkHomeAsHomeRadio}} checked="checked" {{/checkHomeAsHomeRadio}} />
                            <label for="dialog-config-radio-jump-as-home">★カスタム： <span id="dialog-config-label-jump-dest">{{^checkHomeAsHomeRadio}}{{destLabel}}{{/checkHomeAsHomeRadio}}</span></label>
                            <button id="dialog-config-button-change-home-dest" {{#checkHomeAsHomeRadio}} disabled {{/checkHomeAsHomeRadio}}>★変更する</button>
                        </fieldset>
                    </div>
                    <div id="dialog-config-details-home-settings" class="category">
                        <h4 class="category-title">★ホーム画面</h4>
                        <label>
                            <input type="checkbox" id="dialog-config-checkbox-show-button-setting" {{^display_setting_button}} checked="checked" {{/display_setting_button}} />★設定ボタンを非表示
                        </label>
                        <label>
                            <input type="checkbox" id="dialog-config-checkbox-show-button-add" {{^display_add_button}} checked="checked" {{/display_add_button}} />★追加ボタンを非表示
                        </label>
                    </div>
                    <div id="dialog-config-details-remocon-settings" class="category">
                        <h4 class="category-title">★リモコン画面の移動</h4>
                        <label>
                            <input type="checkbox" id="dialog-config-checkbox-show-button-move" {{^display_remote_arrow}} checked="checked" {{/display_remote_arrow}} />★ヘッダーの左右移動ボタンを非表示
                        </label>
                        <label>
                            <input type="checkbox" id="dialog-config-checkbox-disable-swipe" {{^enable_vertical_remote_page_swipe}} checked="checked" {{/enable_vertical_remote_page_swipe}} />★スワイプによる移動を無効化
                        </label>
                    </div>
                    <div id="dialog-config-details-storage-access" class="category">
                        <h4 class="category-title">★ストレージアクセス</h4>
                        <label>
                            <input type="checkbox" id="dialog-config-checkbox-block-storage-access" />★HUIS-100RC のストレージへのアクセスをブロック
                        </label>
                    </div>
                </div>
                <div class="separator"></div>
                <div id="dialog-config-submit-area">
                    <button id="dialog-config-button-default">★デフォルトに戻す</button>
                    <button id="dialog-config-button-submit" disabled>★OK</button>
                    <button id="dialog-config-button-cancel">★キャンセル</button>
                </div>
            </div>
        </section>
    </script>

</article>
