<article data-role="page" id="page-full-custom" data-title="Garage" data-theme="b">
    <header data-role="header" data-title="Garage">
        <h3>EDIT</h3>
        <button id="button-edit-back" data-rel="back" data-role="button"></button>
        <div class="header-button-lline-alingn-right">
            <button id="button-edit-done"></button>
            <button id="option-pulldown-menu"></button>
        </div>
    </header>
    <section data-role="content">
        <section id="main">
            <section id="face-edit-area">
                <section id="face-canvas-area">
                    <script type="text/template" id="template-item-resizer">
                        {{! キャンバス上のアイテムをクリックしたときに四隅に表示されるリサイズ用の丸}}
                        <div class="item-resizer left-top"></div>
                        <div class="item-resizer right-top"></div>
                        <div class="item-resizer right-bottom"></div>
                        <div class="item-resizer left-bottom"></div>
                    </script>
                    <button id="button-add-page">新規ページ</button>
                </section>
                <section id="face-item-detail-area">
                    <section id="face-item-detail"></section>
                </section>
            </section>
            <section id="face-pallet-area">
                <section id="face-item-list-container">
                    <div id="face-item-list">
                        <div class="face-item" data-remote-id="common">Common</div>
                        <script type="text/template" id="template-face-item">
                        {{#faces}}
                        <div class="face-item" data-remote-id="{{remoteId}}">{{name}}</div>
                        {{/faces}}
                        
                        </script>
                    </div>
                    <div id="face-item-list-scroll-left"></div>
                    <div id="face-item-list-scroll-right"></div>
                    <div id="face-item-list-scroll-margin-left"></div>
                    <div id="face-item-list-scroll-margin-right"></div>
                </section>
                <section id="face-pallet">
                    <div id="pallet-area-gradation-top"></div>
                    <div id="pallet-area-gradation-bottom"></div>
                </section>
            </section>
        </section>
    </section>
    <section id="option-pulldown-menu-popup" data-role="popup">
        <ul id="option-pulldown-menu-list">
            <li id="command-delete-remote" class="menu-item-text">このリモコンを削除</li>
            <li class="menu-item-separator"></li>
            <li id="command-about-this" class="menu-item-text">このアプリについて</li>
            <li id="command-visit-help" class="menu-item-text">ヘルプサイトを開く</li>
        </ul>
    </section>

    <!--画像編集用のPOPUP-->
    <section id="edit-image-popup" data-role="popup">
        <div id="popup-arrow"></div>
        <ul class ="popup-list">
            <li id="command-change-button-image" class="popup-menu-item-text-black"><div id="popup-icon-image-image-button"></div><span class="menu-item-text">★画像ボタン</span></li>
            <li id="command-change-button-text" class="popup-menu-item-text-black"><div id="popup-icon-image-text-button"></div><span class="menu-item-text">★テキストボタン</span></li>
        </ul>
    </section>
</article>