<article data-role="page" id="page-home" data-title="HUIS UI CREATOR" data-theme="b">
    <header data-role="header">
        <h3>★HOME</h3>
        <div class="header-button-lline-alingn-right">
            <button id="create-new-remote" title="★新規リモコン作成"></button>
            <!--<button id="sync-pc-to-huis"></button>-->
            <button id="option-pulldown-menu"></button>
        </div>
    </header>
    <section data-role="content">
        <section id="face-list-container">
            <!-- リモコン数が0のときの使い方　-->
            <section id="home-introductions">
                <div class="center-contents">
                    <p id="home-introduction-texts">
                        <span id="home-introduction-text-1">★HUISを</span>
                        <span id="home-introduction-text-2" class="accent">★あなた好み</span>
                        <span id="home-introduction-text-3">★のデザインに<br>フルカスタムリモコンを作成しましょう。</span>
                    </p>
                    <div id="home-introduction-image-remotes"></div>
                </div>
                <div id="home-introduction-vector"></div>
            </section>

            <!-- リモコンリスト　-->
            <ul id="face-list">
                <ui id="face-list-footer"></ui>
            </ul>
        </section>

        <script type="text/template" id="face-list-template">
                {{#faceList}}
                <li class="face" data-remoteid="{{remoteId}}">
                    <p class="title">{{name}}</p>
                    <section class="face-container" data-remoteid="{{remoteId}}"></section>
                </li>
                {{/faceList}}
        </script>

        {{!選択ダイアログ用}}
        <script type="text/template" id="face-list-selector-template">
            {{#faceList}}
            <li class="face" data-remoteid="{{remoteId}}">
                <p class="title">{{name}}</p>
                <section class="face-selector" data-remoteid="{{remoteId}}">
                    <div class="face-page-selector"></div>
                </section>
                <section class="face-container" data-remoteid="{{remoteId}}"></section>
            </li>
            {{/faceList}}
        </script>

        <section id="option-pulldown-menu-popup" data-role="popup" >
            <ul id="option-pulldown-menu-list">
                <li id="command-import-remote" class="menu-item-text"
                    data-i18n="option_menu.STR_OPTION_MENU_IMPORT_REMOTE">★リモコンをインポート</li>
                <li class="menu-item-separator"></li>
                <li id="command-visit-help" class="menu-item-text"
                    data-i18n="option_menu.STR_OPTION_MENU_HELP">★ヘルプガイドを見る</li>
                <li id="command-about-this" class="menu-item-text" data-i18n="option_menu.STR_OPTION_MENU_ABOUT">★HUIS UI CREATOR のバージョン情報</li>
            </ul>
        </section>



    </section>
</article>