<article data-role="page" id="page-home" data-title="Garage" data-theme="b">
    <header data-role="header">
        <h3>HOME</h3>
        <div class="header-button-lline-alingn-right">
            <button id="create-new-remote" class="tooltip" title="フルカスタムリモコン作成"><span class="tooltip-text">フルカスタムリモコン作成</span></button>
            <!--<button id="sync-pc-to-huis"></button>-->
            <button id="option-pulldown-menu"></button>
        </div>
        <!--<a href="#face-render-experiment" class="ui-btn-right">FRE</a>-->
    </header>
    <section data-role="content">
        <section id="face-list-container">
            <!-- リモコン数が0のときの使い方　-->
            <section id="home-introductions">
                <div class="center-contents">
                    <p id="home-introduction-texts">
                        <span id="home-introduction-text-1">★HUISを</span>
                        <span id="home-introduction-text-2" class="accent">★あなた好み</span>
                        <span id="home-introduction-text-3">★のデザインに<br>フルカスタムリモコンを作成しましょう。</span>
                    </p>
                    <div id="home-introduction-image-remotes"></div>
                </div>
                <div id="home-introduction-vector"></div>
            </section>

            <!-- リモコンリスト　-->
            <ul id="face-list">
                <ui id="face-list-footer"></ui>
            </ul>
        </section>

        <section id="face-history">
            <h3>HISTORY</h3>
            <section id="face-history-list-container">
                <ul id="face-history-list"></ul>
            </section>
        </section>


        <script type="text/template" id="face-list-template">
                {{#faceList}}
                <li class="face" data-remoteid="{{remoteId}}">
                    <p class="title">{{name}}</p>
                    <section class="face-container" data-remoteid="{{remoteId}}"></section>
                </li>
                {{/faceList}}
        </script>
        <section id="option-pulldown-menu-popup" data-role="popup" >
            <ul id="option-pulldown-menu-list">
                <li id="command-about-this" class="menu-item-text">このアプリについて</li>
                <li id="command-visit-help" class="menu-item-text">ヘルプサイトを開く</li>
            </ul>
        </section>

        

    </section>
</article>