<article>
    <script type="text/template" id="template-button-detail">
        {{! ボタンの詳細情報エリア}}


        <h3 id="face-item-detail-title">BUTTON 
        <span class="button-info-brand-and-type">
            {{#deviceInfo}}
            {{#code_db}}
            {{brand}}  {{device_type}}
            {{/code_db}}
            {{/deviceInfo}}
        </span>
        </h3>
      

        <div id="states-container"></div>



        {{#deviceInfo}}
        {{#code_db}}

        {{#model_number}}
        <h4>型番</h4>
        <div class="property-value">{{model_number}}</div>
        {{/model_number}}

        {{/code_db}}
        {{/deviceInfo}}

        {{! v1.0 では非対応}}
        {{! <button id="add-state">状態を追加</button> }}
    </script>



    <script type="text/template" id="template-image-detail">
        {{! 画像アイテムの詳細情報エリア}}

        <h3 id="face-item-detail-title">IMAGE <span class="property-cid"></span></h3>



        <!-- プレビュー -->
        <div id="property-image-preview" {{#enabled}} style="background-image:url('{{#resizeResolvedOriginalPath}}{{resizeResolvedOriginalPath}}{{/resizeResolvedOriginalPath}}{{^resizeResolvedOriginalPath}}{{resolvedPath}}{{/resizeResolvedOriginalPath}}');{{/enabled}}">
			<div id="edit-image-non-button-image"></div>
        </div>


        <!-- ボタンのエリア 
        <div class="one-line-label">
            <div class="label-button-state">位置</div>
            <div class="label-button-state">サイズ</div>
        </div>
        {{#area}}
        <div class="one-line-label">
            <div id="state-button-x-y" class="property-value info-button-state">X:{{x}}   Y:{{y}}</div>
            <div id="state-button-w-h" class="property-value lnfo-button-state">W:{{w}}   H:{{h}}</div>
        </div>
        {{/area}}
			-->

        <!-- 画像ファイル 
        <h4>画像ファイル</h4>
        <input id="refer-image" class="property-value inline" type="text" {{#enabled}} value="{{#resizeOriginal}}{{resizeOriginal}}{{/resizeOriginal}}{{^resizeOriginal}}{{path}}{{/resizeOriginal}}{{/enabled}}" readonly="readonly" />
        <button class="ui-btn inline" id="delete-background-image">削除</button>
			-->
    </script>







    <script type="text/template" id="template-label-detail">
        {{! ラベルアイテムの詳細情報エリア}}
     
        <h3 id="face-item-detail-title">LABEL <span class="property-cid"></span></h3>

		<!-- プレビュー -->
		<div id="property-image-preview">
			<div class="text-field-in-preview">
				<div class="title-edit-label"><div id="icon-title-edit-label" class="inline"></div><div id="text-title-edit-label" class="inline">ラベルを編集</div></div>
				<input class="property-value property-text-value text-field-type2" data-property="text" type="text" value="{{text}}" />
				<div class="custom-select text-size-pulldown">
					<select class="property-value property-text-size" data-property="size" type="range" value="{{#size}}{{size}}{{/size}}{{^size}}20{{/size}}" data-native-menu="false">
						<option value="12">12px</option>
						<option value="14">14px</option>
						<option value="16">16px</option>
						<option value="18">18px</option>
						<option value="20">20px</option>
						<option value="24">24px</option>
						<option value="28">28px</option>
						<option value="30">30px</option>
						<option value="32">32px</option>
						<option value="36">36px</option>
						<option value="40">40px</option>
						<option value="44">44px</option>
						<option value="48">48px</option>
						<option value="54">54px</option>
						<option value="60">60px</option>
						<option value="72">72px</option>
						<option value="80">80px</option>
						<option value="88">88px</option>
						<option value="96">96px</option>
					</select>
				</div>	
			</div>
		</div>

		
        <!-- ボタンのエリア
        <div class="one-line-label">
            <div class="label-button-state">位置</div>
            <div class="label-button-state">サイズ</div>
        </div>
        {{#area}}
        <div class="one-line-label">
            <div id="state-button-x-y" class="property-value info-button-state">X:{{x}}   Y:{{y}}</div>
            <div id="state-button-w-h" class="property-value lnfo-button-state">W:{{w}}   H:{{h}}</div>
        </div>
        {{/area}}
		-->

		<!--
        <h4>テキスト</h4>
        <input class="property-value property-text-value" data-property="text" type="text" value="{{text}}" />
        <div class="custom-select text-size-pulldown">
            <select class="property-value property-text-size" data-property="size" type="range" value="{{#size}}{{size}}{{/size}}{{^size}}20{{/size}}" data-native-menu="false">
                <option value="12">12px</option>
                <option value="14">14px</option>
                <option value="16">16px</option>
                <option value="18">18px</option>
                <option selected value="20">20px</option>
                <option value="24">24px</option>
                <option value="28">28px</option>
                <option value="30">30px</option>
                <option value="32">32px</option>
                <option value="36">36px</option>
                <option value="40">40px</option>
                <option value="44">44px</option>
                <option value="48">48px</option>
                <option value="54">54px</option>
                <option value="60">60px</option>
                <option value="72">72px</option>
                <option value="80">80px</option>
                <option value="88">88px</option>
                <option value="96">96px</option>
            </select>
        </div>
		-->

    </script>





    <script type="text/template" id="template-page-background-detail">
      
        <h3 id="face-item-detail-title">BACKGROUND <span class="property-cid"></span></h3>



        <!-- プレビュー -->
        <div id="property-image-preview" {{#enabled}}style="background-image:url('{{#resizeResolvedOriginalPath}}{{resizeResolvedOriginalPath}}{{/resizeResolvedOriginalPath}}{{^resizeResolvedOriginalPath}}{{resolvedPath}}{{/resizeResolvedOriginalPath}}');{{/enabled}}">
			<div id="edit-image-background"></div>
			<div id="delete-background-image"></div>
        </div>



        <!-- 画像ファイルのエリア
        <h4>画像ファイル</h4>
        <input id="refer-image" class="property-value page-background-src inline" type="text" {{#enabled}} value="{{#resizeOriginal}}{{resizeOriginal}}{{/resizeOriginal}}{{^resizeOriginal}}{{path}}{{/resizeOriginal}}{{/enabled}}" readonly="readonly" />
        <button class ="ui-btn inline" id="delete-background-image">削除</button>
		-->
        
    </script>




    <script type="text/template" id="template-property-cid">
        <div id="property-cid">
            <p class="inline property-title">CID</p>
            <p class="inline property-value small">{{cid}}</p>
        </div>
    </script>




    <script type="text/template" id="template-property-area">
        <div id="property-area">
            {{#area}}
            <div>
                <p class="inline property-title">位置</p>
                <p class="inline property-title-sub">x: </p><p class="inline property-value">{{x}} </p>
                <p class="inline property-title-sub">y: </p><p class="inline property-value">{{y}}</p>
            </div>
            <div>
                <p class="inline property-title">サイズ</p>
                <p class="inline property-title-sub">w: </p><p class="inline property-value">{{w}} </p>
                <p class="inline property-title-sub">h: </p><p class="inline property-value">{{h}}</p>
            </div>
            {{/area}}
        </div>
    </script>





    <script type="text/template" id="template-property-button-state">
            <div class="state-container">

                <!-- プレビュー -->
                <div class="property-state-image-preview" style="background-image:url('{{#image}}{{#resizeResolvedOriginalPath}}{{resizeResolvedOriginalPath}}{{/resizeResolvedOriginalPath}}{{^resizeResolvedOriginalPath}}{{resolvedPath}}{{/resizeResolvedOriginalPath}}{{/image}}');" data-state-id="{{id}}">
					<div id="edit-image-or-text" class="property-value property-state-value" value="{{#image}}{{#resizeOriginal}}{{resizeOriginal}}{{/resizeOriginal}}{{^resizeOriginal}}{{path}}{{/resizeOriginal}}{{/image}}" data-state-id="{{id}}"></div>
					<div class="text-field-in-preview">
						<div class="title-edit-label"><div id="icon-title-edit-label" class="inline"></div><div id="text-title-edit-label" class="inline">ラベルを編集</div></div>
						<input class="property-value property-state-text-value text-field-type2" data-property="state-text" type="text" value="{{#label}}{{text}}{{/label}}" data-state-id="{{id}}" />

						<div class="custom-select text-size-pulldown">
							<select class="property-value property-state-text-size" data-property="state-size" type="range" value="{{#label}}{{#size}}{{size}}{{/size}}{{^size}}30{{/size}}{{/label}}{{^label}}30{{/label}}" data-state-id="{{id}}" data-native-menu="false">
								<option value="12">12px</option>
								<option value="14">14px</option>
								<option value="16">16px</option>
								<option value="18">18px</option>
								<option value="20">20px</option>
								<option value="24">24px</option>
								<option value="28">28px</option>
								<option value="30">30px</option>
								<option value="32">32px</option>
								<option value="36">36px</option>
								<option value="40">40px</option>
								<option value="44">44px</option>
								<option value="48">48px</option>
								<option value="54">54px</option>
								<option value="60">60px</option>
								<option value="72">72px</option>
								<option value="80">80px</option>
								<option value="88">88px</option>
								<option value="96">96px</option>
							</select>
						</div>
					</div>
				</div>


						<!-- ボタンのエリア 
						<div class="one-line-label">
							<div class="label-button-state">位置</div>
							<div class="label-button-state">サイズ</div>
						</div>

						<div class="one-line-label">
							<div id="state-button-x-y" class="property-value info-button-state">X:   Y:</div>
							<div id="state-button-w-h" class="property-value lnfo-button-state">W:   H:</div>
						</div>
						-->


						<!-- 画像ファイル変更
						<div class="property-state-image">
							<h4>画像ファイル</h4>
							<input class="property-value refer-state-image inline" type="text" value="{{#image}}{{#resizeOriginal}}{{resizeOriginal}}{{/resizeOriginal}}{{^resizeOriginal}}{{path}}{{/resizeOriginal}}{{/image}}" readonly="readonly" data-state-id="{{id}}" />
							<button class="delete-state-image ui-btn inline" data-state-id="{{id}}">削除</button>
						</div>
						-->

						<!-- テキスト
			<div class="property-state-label">
				<h4>テキスト</h4>
				<input class="property-value property-state-text-value" data-property="state-text" type="text" value="{{#label}}{{text}}{{/label}}" data-state-id="{{id}}" />

				<div class="custom-select text-size-pulldown">
					<select class="property-value property-state-text-size" data-property="state-size" type="range" value="{{#label}}{{#size}}{{size}}{{/size}}{{^size}}30{{/size}}{{/label}}{{^label}}30{{/label}}" data-state-id="{{id}}" data-native-menu="false">
						<option value="12">12px</option>
						<option value="14">14px</option>
						<option value="16">16px</option>
						<option value="18">18px</option>
						<option value="20">20px</option>
						<option value="24">24px</option>
						<option value="28">28px</option>
						<option selected value="30">30px</option>
						<option value="32">32px</option>
						<option value="36">36px</option>
						<option value="40">40px</option>
						<option value="44">44px</option>
						<option value="48">48px</option>
						<option value="54">54px</option>
						<option value="60">60px</option>
						<option value="72">72px</option>
						<option value="80">80px</option>
						<option value="88">88px</option>
						<option value="96">96px</option>
					</select>
				</div>
			</div>-->
						<!-- アクション -->
						<div class="property-state-action">
							<h4>アクション</h4>
							<!--jQueryMobileを動的に追加されたDOMに使用するためには、trigger("create")を呼び出す範囲指定が必要-->
							<div class="custom-select">
								<select class="state-action-input" id="select-state-action-input-{{id}}" data-type="state-input" data-state-id="{{id}}" data-native-menu="false">
									<option value="touch">タップ</option>
									<option value="long_press">長押し</option>
									<option value="swipe_up">上スワイプ</option>
									<option value="swipe_down">下スワイプ</option>
									<option value="swipe_right">右スワイプ</option>
									<option value="swipe_left">左スワイプ</option>
								</select>
								<select class="state-action-function" id="select-state-action-function-{{id}}" data-type="state-action" data-state-id="{{id}}" data-native-menu="false">
									<option value="none">何もしない</option>
									{{#functions}}
									<option value="{{.}}" data-i18n="button.function.{{.}}">{{.}}</option>
									{{/functions}}
								</select>
							</div>

						</div>
					</div>
    </script>

    <script type="text/template" id="template-property-button-state-ac"> <!-- Air Conditioner button has less items -->
        <div class="state-container">

            <!-- プレビュー -->
            <div class="property-state-image-preview" style="background-image:url('{{#image}}{{#resizeResolvedOriginalPath}}{{resizeResolvedOriginalPath}}{{/resizeResolvedOriginalPath}}{{^resizeResolvedOriginalPath}}{{resolvedPath}}{{/resizeResolvedOriginalPath}}{{/image}}');" data-state-id="{{id}}"></div>



            <!-- ボタンのエリア -->
            <div class="one-line-label">
                <div class="label-button-state">位置</div>
                <div class="label-button-state">サイズ</div>
            </div>

            <div class="one-line-label">
                <div id="state-button-x-y" class="property-value info-button-state">X:   Y:</div>
                <div id="state-button-w-h" class="property-value lnfo-button-state">W:   H:</div>
            </div>


        </div>
    </script>
</article>
