<article data-role ="page" id="page-splash" data-title="HUIS UI CREATOR" >
    <!-- Splash -->

    <script type="text/template" id="splash-screen">
        <section class="splash" data-role="content" data-corners="false" data-theme="none" >    
        </section>
    </script>

    <div id="huis-logo-image"></div>
    
    <div class="spinner-splash">
        <div class="spinner large show" id="spinner-splash-spinner-gif">&nbsp;</div>
    </div>
       


    <div id="splash-message">
        <p>HUIS REMOTE CONTROLLERと同期中です。<br>
        USBケーブルをぬかないでください。</p>
    </div>


</article>
