<article data-role ="page" id="page-splash" data-title="Garage" >
    <!-- Splash -->
    <!--<header data-role="header">-->
        <!--<h3>Splash</h3>-->
    <!--<a href="#face-render-experiment" class="ui-btn-right">FRE</a>-->
    <!--</header>-->
    <script type="text/template" id="splash-screen">
        <section class="splash" data-role="content" data-corners="false" data-theme="none" >
            <div class="spinner-splash">
                <div class="spinner large show" id="spinner-splash-spinner">&nbsp;</div>
            </div>
        </section>
    </script>
    <div id="splash-message">
        <p>PC のファイルと HUIS のファイルの差分を確認中です。</p>
        <p>HUIS と PC との接続を解除しないでください。</p>
    </div>
</article>
